#stats-container {
    border: 1px solid #DDD;
    margin: 10px auto;
    position: relative;
    width: 940px;
}

#stats-container.filtered {
    width: 780px;
    padding-right: 160px;
}

#stats-container h1 {
    background-color: #417690;
    color: #FFF;
    margin: 0;
    padding: 10px;
}

.stats-form {
    border-top: 1px solid #CCC;
    margin: 0;
}

.stats-form ul {
    background: white url(/admin-media/img/admin/nav-bg-reverse.gif) 0 -10px repeat-x;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #CCC;
    color: #555;
    display: block;
    margin: 0;
    padding: 0 0 0 15px;
}

.stats-form li {
    display: inline;
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    margin-right: 25px;
    padding: 0;
}

.stats-form label {
    line-height: 24px;
    margin-right: 5px;
}

.stats-form select {
    vertical-align: middle;
}

#graph {
    clear: both;
    height: 400px;
    width: 100%;
}

.stats-table {
    margin: 10px 0 0;
    border-top: 1px solid #DDD;
    width: 100%;
}

.stats-table tfoot td {
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.stats-filters {
    background: #EFEFEF;
    border-left: 1px solid #DDD;
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 159px;
}

.stats-filters h2 {
    background: url(/admin-media/img/admin/default-bg.gif);
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 2px 5px;
}

.stats-filters h3 {
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}

.stats-filters ul {
    margin: 0 0 0 10px;
    padding: 0;
}

.stats-filters li {
    list-style-type: none;
}

.stats-filters li a {
    color: #999;
}

.stats-filters li a:hover {
    color: #003366;
}

.stats-filters li.selected {
    border-left: 5px solid #999;
    margin-left: -10px;
    padding-left: 5px;
}

.stats-filters li.selected a {
    color: #5B80B2;
}


/* jQuery-UI Admin Fixes */
.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-calendar tbody td {
    padding: 1px;
}

.ui-datepicker-calendar tbody a {
    display: block;
    padding: 3px 2px 3px 9px;
}
