/* MetaWebPro font family licensed from fontshop.com. WOFF-FTW! */
@font-face {
    font-family: 'MetaBlack';
    src: url('https://www.mozilla.org/img/fonts/MetaWebPro-Black.eot');
    src: local('☺'), url('https://www.mozilla.org/img/fonts/MetaWebPro-Black.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'MuseoSans500';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: local('☺'), url('../fonts/MuseoSans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaWebPro';
    src: url('https://www.mozilla.org/img/fonts/MetaWebPro-Black.eot');
    src: local('☺'), url('../fonts/MetaWebPro-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaWebProBlack';
    src: url('https://www.mozilla.org/img/fonts/MetaWebPro-Black.eot');
    src: local('☺'), url('../fonts/MetaWebPro-Black.woff') format('woff');

}

@font-face {
    font-family: 'MetaWebProBook';
    src: url('https://www.mozilla.org/img/fonts/MetaWebPro-Book.eot');
    src: local('☺'), url('../fonts/MetaWebPro-Book.woff') format('woff');
}

/* Styles used across all affiliates program pages */
.highlight-box {
    zoom: 1;
    padding: 15px 20px 10px 20px;
    position: relative;
    border: 1px solid #B0C1D2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    background-color: #FFF;
}

.highlight-box .header {
    clear: both;
    color: #444;
    background: url(../img/template/bg_highlightbox_header.png) repeat-x 0 100%;
    border-radius: 6px 6px 0 0;
    height: 98px;
    margin: -15px -20px 0;
    position: relative;
}

ul.banners_nav ~ .header {
    border-top: 1px solid #E1EDF9;
    border-radius: 0;
    clear: both;
    margin-top: 0;
}

.highlight-box .header h2 {
    display: table-cell;
    font-family: MetaWebPro;
    font-size: 28px !important;
    font-style: normal;
    height: 98px;
    padding: 0 20px;
    vertical-align: middle;
}

.highlight-box .help_bulb_wrapper {
    position: relative;
    display: inline-block;
}

.highlight-box .help_bulb {
    background: url(../img/template/sprites.png) no-repeat 0 -129px;
    display: inline-block;
    height: 18px;
    left: 4px;
    position: relative;
    top: 5px;
    width: 16px;
}

ul.errorlist li,
.msg_warning {
    background: url(../img/template/sprites.png) no-repeat 0 -173px;
    color: #af6f13;
    padding-left: 25px;
    font-size: 13px;
}

ul.errorlist li {
    list-style-type: none;
}

.highlight-box .about_content {
    min-height: 340px;
    padding: 33px 8px 0;
}

.highlight-box .about_content p {
    font-size: 14px;
}

.highlight-box .faq_content {
    padding: 33px 8px 0;
}

.highlight-box .faq_content h4 {
    border-bottom: 1px solid #DFDFDF;
    font-family: Verdana,sans-serif;
    font-size: 18px;
    font-style: normal;
    margin: 0 0 15px;
    padding: 0 0 10px;
}

.highlight-box .faq_content .accordion {
    list-style: none;
    margin: 0 0 60px;
    padding: 0;
}

.highlight-box .faq_content li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.highlight-box .faq_content li:nth-child(even) {
    background: #F6F6F6;
}

.highlight-box .faq_content h5,
.highlight-box .faq_content h5 a {
    color: #444;
    display: block;
    font-family: Georgia,serif;
    font-size: 20px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.highlight-box .faq_content h5 a {
    background-position: 22px 22px;
    background-repeat: no-repeat;
    padding: 20px 30px 20px 65px;
}

.highlight-box .faq_content h5 a:hover {
    color: #447BC4;
}

.highlight-box .faq_content .answer {
    font-size: 14px;
    margin: 0;
    padding: 0 30px 20px 65px;
}

.highlight-box .accordion .expanded h5 a {
    background-image: url(../img/template/icn_expanded.png);
}

.highlight-box .accordion .collapsed h5 a {
    background-image: url(../img/template/icn_collapsed.png);
}

.highlight-box .accordion .expanded .answer {
    display: block;
}

.highlight-box .accordion .collapsed .answer {
    display: none;
}

.arrow_indicator,
.arrow_indicator_banner {
    background: url(../img/template/bottom-arrow.png) no-repeat 0 0;
    display: none;
    height: 13px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 20px;
    z-index: 1;
}

.first-section .arrow_indicator {
    display: block;
    left: 70px;
}

.second-section .arrow_indicator {
    display: block;
    left: 230px;
}

.third-section .arrow_indicator {
    display: block;
    left: 390px;
}

.fourth-section .arrow_indicator {
    display: block;
    left: 550px;
}

.arrow_indicator_banner.current {
    display: block;
    left: 200px;
    top: 75px;
}

.arrow_indicator_banner.new {
    display: block;
    left: 420px;
    top: 75px;
}

input,
button,
a.button {
    font-family: Georgia,serif;
    font-size: 110%; /* 14px */
    font-style: italic;
    color: #393939;
    line-height: 18px;
    margin: 0;
    padding: 0;
    position: relative;
}

a.button:hover {
    text-decoration: none;
}

input[type="submit"],
button[type="submit"],
a.button.submit {
    zoom:1;
    padding:4px 12px;
    border:1px solid #B3C8D7;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    -moz-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    background: #FFFFFF;
    cursor:pointer;
}

input[type="submit"]:hover,
button[type="submit"]:hover,
a.button.submit:hover {
    background-image: url(../img/template/vertical-lines.png), -webkit-gradient( linear, left bottom, left top, color-stop(0.25, rgb(244,250,255)), color-stop(0.57, rgb(255,255,255)));
    background-image: url(../img/template/vertical-lines.png), -moz-linear-gradient( center bottom, rgb(244,250,255) 25%, rgb(255,255,255) 57%);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f4faff', EndColorStr='#FFFFFF', GradientType=0);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    color: #999;
    zoom:1;
    padding:5px 6px;
    border:1px solid #CDCDCD;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 0 3px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:0 0 3px rgba(0,0,0,0.2) inset;
    box-shadow:0 0 3px rgba(0,0,0,0.2) inset;
    background: #FFFFFF;
}

div.divider-medium,
hr.medium {
    background:transparent url(../img/template/sprites.png) no-repeat center -2px;
    border: none;
    height: 20px;
    margin: 5px 0;
    width:100%;
}

#affiliates #main-feature {
    padding-top: 60px;
}

#main-feature a {
    display: inline-block;
    width: 540px;
}

#main-feature a:hover h2,
#main-feature a:hover p {
    color: #447BC4;
}

#main-feature a:hover {
    text-decoration: none;
}

div.tool-tip {
    background: #F4F9FF;
    background: -moz-linear-gradient(center bottom , rgba(244,249,255,0.9) 30%,rgba(244,249,255,0.9) 70%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(244,249,255,0.9)), to(rgba(244,249,255,0.9)));
    box-shadow: 0 4px rgba(0, 0, 0, 0.1), 0 -3px #e4eef9 inset, 0 0 4px #adc1d7 inset;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px #adc1d7;
    display: none;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
}

#content div.tool-tip p {
    color: #637b95;
    font-family: Georgia,serif;
    font-size: 14px;
    font-style: italic;
    line-height: 17px;
    padding-top: 14px;
}

div.top-arrow span {
    background: url(../img/template/top-arrow.png) no-repeat scroll 0 0 transparent;
    height: 26px;
    margin-left: 130px;
    margin-top: -22px;
    position: absolute;
    width: 36px;
    z-index: 1;
}

div.left-arrow span {
    background: url(../img/template/left-arrow.png) no-repeat scroll 0 0 transparent;
    height: 36px;
    margin-left: -32px;
    margin-top: 5px;
    position: absolute;
    width: 26px;
    z-index: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

#message {
    background: #F6F9FD;
    border: 1px solid #B0C1D2;
    border-radius: 4px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    float: left;
    font-family: 'MuseoSans500';
    font-size: 14px;
    margin: 0 20px;
    padding: 5px 10px;
    text-align: center;
    width: 630px;
}

/*steps for affiliates*/
#content{
    float: left;
    width: 650px;
}

#content-nav {
    margin: 15px 0 5px;
    overflow: hidden;
}

#content-nav li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #e6ebf1;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    float: left;
    list-style: none;
    margin: 0 0 5px 10px;
    min-width: 131px;
    padding: 0 10px;
    text-align: center;
}

#content-nav li:first-child {
    margin-left: 0;
}

#content-nav li.selected {
    border-color: #B0C1D2;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(224, 239, 249, 0.9) inset;
}

#content-nav li a {
    color: #5E5E5E;
    display: block;
    font-family: 'MuseoSans500';
    padding: 7px 0;
}

#content-nav li a:hover {
    text-decoration: none;
}

#content-nav li.selected a {
    color: #4577A6;
}

/*
.steps-started-wrap{
    -webkit-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(0,0,0,0.05) inset;
    -moz-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(0,0,0,0.05) inset;
    box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(0,0,0,0.05) inset;
    background-color: #FFF;
    background: url(../img/template/bg_highlightbox_header.png) repeat-x 0 0;
    border-radius: 6px;
    padding: 0;
    width: 642px;
}*/

#steps-started h3 {
    font-family: "MetaWebPro";
    font-size: 30px;
    font-style: normal;
    color: #39393a;
    margin: 0;
    padding: 33px 33px 28px;
}

.steps-buttons {
    background: none repeat scroll 0 0 #d3dfe7;
    counter-reset: li;
    font-family: "MetaWebPro";
    font-size: 26px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.steps-buttons li {
    background: url(../img/template/sprite-steps.png) no-repeat scroll 0 0 #FFFFFF;
    color: #474848;
    float: left;
    height: 74px;
    list-style: none;
    position: relative;
    width: 189px;
}

.steps-buttons li a {
    color: #474848;
}

.steps-buttons li a:hover p {
    text-decoration: underline;
}

/* Using a CSS counter allows us to precisely position the numbers. */
.steps-buttons li:before {
    content: counter(li);
    counter-increment: li;
    float: left;
    line-height: 72px;
}

.steps-buttons li p {
    display: table-cell;
    font-family: "MetaWebPro";
    font-size: 15px;
    height: 72px;
    padding-left: 10px;
    vertical-align: middle;
}

.steps-buttons li.first{
    width: 150px;
    padding-left: 32px;
    background: url(../img/template/sprite-steps.png) no-repeat scroll 57% 0 #FFFFFF;
}

.steps-buttons li.second{
    width: 150px;
    padding-left: 60px;
    background: url(../img/template/sprite-steps.png) no-repeat scroll 0 0 #FFFFFF;
}

.steps-buttons li.third{
    width: 190px;
    padding-left: 60px;
    background: url(../img/template/sprite-steps.png) no-repeat scroll 0 0 #FFFFFF;
}

.steps-buttons li.selected{
    background-position: 0 -222px;
    color: #FFFFFF;
}

.steps-buttons li.next-selected{
    background-position: 0 -74px;
}

.steps-buttons li.second.selected{
    background-position: 0 -148px;
}

.steps-buttons li.third.selected{
    background-position: 0 -148px;
}

#step-content{
    background:#FFF;
}

#step-content div.divider-notch,
hr.large {
    background: url(../img/template/divider-notch-steps.jpg) no-repeat scroll 0 0 #FFFFFF;
    border: none;
    margin-bottom: 15px;
    padding-top: 50px;
}

#step-content h3{
    margin:  0px;
    color:#898989;
    font-size: 20px;
    padding:  20px 20px 0;
}

#step-content h3 span{
    color:#000;
    font-size: 20px;
    font-weight: lighter;
    width: 100px;
}

#step-content p.head{
    color: #39393A;
    font-family: 'MetaWebPro',serif;
    font-size: 21px;
    font-weight: normal;
    line-height: 1.2;
    padding: 44px 33px 0;
    width: 580px;
}

#step-content p.head span{
    color:#ae2900;
}

#step-content p.title{
    width:580px;
    padding: 44px 33px 0;
    font-size: 22px;
    color:#898989;
    font-family: "MetaWebPro";
}

#step-content p.title span{
    color:#39393a;
}

#step-content ul.badge-list {
    margin: 0;
    overflow: hidden;
    padding: 10px 0 30px 30px;
}

#step-content ul.badge-list li.options {
    background: #FFF;
    border: 1px solid #E6EBF1;
    border-radius: 8px;
    cursor: pointer;
    float: left;
    font-family: "MetaBlack";
    font-size: 20px;
    list-style: none outside none;
    margin-right: 10px;
}

#step-content ul.badge-list li.options:hover {
    border: 1px solid #B0C1D2;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(224, 239, 249, 0.9) inset;
}

#step-content ul.badge-list li a {
    color: #6D7581;
    display: inline-block;
    height: 190px;
    padding: 24px 20px 0;
    width: 148px;
}

#step-content ul.badge-list li a:hover {
    color: #4577A6;
    text-decoration: none;
}

#step-content ul.badge-list li img{
    padding: 0;
}

#step-content ul.badge-list li div.description{
    padding: 0;
    width: 140px;
}

#step-content ul.badge-list li div.description p{
    margin: 0;
    font-family: "MetaWebProBlack";
    font-size:20px;
    line-height: 0.9;
    text-align: center;
}

#step-content ul.badge-list li div.description p span{
    font-style: italic;
    font-family: Georgia,serif;
    font-size:  13px;
    font-weight: bold;
}

#footer-content{
    -webkit-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(0,0,0,0.05) inset;
    -moz-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(0,0,0,0.05) inset;
    box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(0,0,0,0.05) inset;
    background-color: #F6F9FD;
    border-radius: 0 0 6px 6px;
    height: 40px;
    margin: 0 0 -10px;
    padding: 20px 30px;
    text-align: right;
    border-top: 1px solid #B0C1D2;
}

#footer-content .save_changes {
    background-color: #669BE1;
    background: -moz-linear-gradient(center top, #669BE1 0%, #5784BF 100%) repeat 0 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5784BF), color-stop(1, #669BE1) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669BE1', endColorstr='#5784BF',GradientType=0 );
    border: none;
    box-shadow: 0 1px rgba(0, 0, 0, 0.05), 0 -2px rgba(224, 239, 249, 0.9) inset;
    color: #fff;
    display: inline-block;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    padding-bottom: 10px;
}

#footer-content .save_changes:hover {
    cursor: pointer;
    text-decoration: none;
}

a.back,
a.back:hover {
    background: #FFF;
    border: 1px solid #B0C1D2;
    border-radius: 4px;
    color: #5E5E5E;
    cursor: pointer;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(224, 239, 249, 0.9) inset;
    float: left;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    padding: 8px 18px;
    text-decoration: none;
}

#footer-content button,
#footer-content a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B3C8D7;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(224, 239, 249, 0.9) inset;
    color: #444444;
    cursor: pointer;
    font-size: 13px;
    padding: 8px 18px;
}

#footer-content button.back{
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(224, 239, 249, 0.9) inset;
    background: none repeat scroll 0 0 white;
    border: 1px solid #B0C1D2;
    color: #5E5E5E;
    float: left;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    padding-bottom: 10px;
}

/*side bar*/
#sidebar {
    width: 280px;
    float: right;
}

#sidebar .degraded-box h5 {
    font-family: 'MetaWebProBook', serif;
    font-size: 18px;
    font-style: normal;
    margin: 0;
}

#user-info {
    height: 65px;
    overflow: hidden;
    position: relative;
}

#user-info img {
    float: left;
    margin-right: 20px;
}

#user-info div {
    color: #444;
    font-family: 'MetaWebPro', serif;
    font-size: 18px;
    overflow: hidden;
}

p.banners_counter {
    color:#5e5e5e;
    font-family: Georgia,serif;
    font-size: 15px;
    font-style: italic;
}

p.banners_counter span {
    color:#447bc4;
}

/* Head Box */
#head-box{
    border-bottom: 1px solid #B3C8D7;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    margin: -15px -20px 0;
    padding: 10px 20px 0;
}

#head-box h3{
    margin: 0;
    font-size:20px;
    font-family: "MetaWebPro";
    font-style: normal;
}

#head-box .date{
    font-family: 'MuseoSans500';
    font-size: 12px;
    color: #5e5e5e;
    line-height: 1.2;
    padding-top: 5px;
}

div.head-box{
    border-bottom: 1px solid #B3C8D7;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05) inset;
    margin: -15px -20px 0;
    padding: 10px 20px 0;
}

div.head-box h3{
    margin: 0;
    font-size:20px;
    font-family: "MetaWebPro";
    font-style: normal;
}

div.head-box .date{
    font-family: 'MuseoSans500';
    font-size: 12px;
    color: #5e5e5e;
    line-height: 1.2;
    padding-top: 5px;
}

/* Sidebar Navigation */
#sidebar-nav {
    list-style: none;
    margin: 15px 0 5px -40px;
    overflow: hidden;
    text-align: right;
}

#sidebar-nav ul{
    margin-bottom: 5px;
    overflow: hidden;
}

#sidebar-nav li {
    float: right;
    list-style: none;
    margin: 0 0 0 10px;
}

#sidebar-nav li:last-child {
    margin: 0;
}

#sidebar .buttonhead {
    background: #FFF;
    color: #4F4F4F;
    cursor:pointer;
    display: inline-block;
    font-family: 'MuseoSans500';
    font-size: 13px;
    margin: 0 0 5px;
    padding: 8px 10px;
    zoom: 1;
    border: 1px solid #B3C8D7;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    -moz-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
}

.buttonhead:hover {
    text-decoration: none;
}

.buttonhead img {
    vertical-align: middle;
}

#sidebar button.buttonhead {
    height: 36px;
    padding: 0 25px;
}

#latest-news h3 {
    font-family: Georgia,serif;
    color:#507ec4;
    font-size: 18px;
    font-style: normal;
}

#latest-news p{
    font-size: 14px;
}

div.block-space{
    margin-top: 20px;
}

::-webkit-validation-bubble {
    left: 0 !important;
    top: 35px !important;
}

::-webkit-validation-bubble-message {
    background: #333;
    border: solid 2px #333;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    -webkit-box-shadow: 4px 4px 4px rgba(100,100,100,0.6), inset -2px -2px 1px #333, inset 2px 2px 1px #333;
    white-space: nowrap;
}

::-webkit-validation-bubble-arrow {
    background: #333;
    border-color: #333;
    box-shadow: inset 2px 2px 1px #333;
}

#steps-started{
    margin: 0 -20px;
}

.steps-buttons li.third{
    width: 196px;
}

/* Banner Subnavigation */
.banners_nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.banners_nav li {
    background: url(../img/template/banner_nav_bar.png) no-repeat 0 15px;
    display: inline-block;
    font-family: 'MuseoSans500';
    list-style: none;
    margin: 0;
    padding: 20px 35px 25px;
    text-align: center;
}

.banners_nav li:first-child {
    background: none;
}

.banners_nav li a {
    color: #447BC4;
}

.banners_nav li a:hover,
.banners_nav li.selected a {
    color: #444;
}

.banners_content .banner_section {
    border-bottom: 1px solid #DFDFDF;
    margin: 30px 20px 40px;
}

.banners_content .banner_section ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.banners_content .banner_section li.banner_cols {
    background: url(../img/template/bg_banner_info.png) repeat-y 39px 0;
    border-top: 1px solid #EDEDED;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.banners_content .banner_section h4 {
    font-family: 'MetaWebPro', serif;
    font-size: 20px;
    font-style: normal;
    margin: 0 0 10px;
}

.banners_content .banner_section .col_1,
.banners_content .banner_section .col_2,
.banners_content .banner_section .col_3 {
    float: left;
    padding: 15px 0 20px;
}

.banners_content .banner_section .col_1 {
    font-family: MetaWebPro;
    font-size: 30px !important;
    font-style: normal;
    line-height: 1;
    text-align: center;
    width: 40px;
}

.banners_content .banner_section .col_2 {
    overflow: auto;
    text-align: center;
    width: 280px;
}

.banners_content .banner_section .col_3 {
    padding-left: 20px;
    width: 260px;
}

/* Banner Info */
.banners_content .banner_section .banner_info h5 {
    font-family: 'MuseoSans500';
    font-size: 14px;
    font-style: normal;
    line-height: 1;
    margin: 0;
}

.banners_content .banner_section .banner_info p {
    color: #999;
    font-style: italic;
    line-height: 1.2;
    padding-left: 2px;
}

/* Statistics Summary Box */
div.statistics-summary{
    margin:0 -20px;
    padding:0 20px;
    height:133px;
    border-top:1px solid #e1edf9;
    border-bottom:1px solid #e1edf9;
    background:#f6f9fd url(../img/template/vertical-lines.png) repeat 0 0;
    font-family:MuseoSans500,sans-serif;
}

div.statistics-summary h3{
    font-size:16px;
    font-style:normal;
    font-family:MuseoSans500,sans-serif;
    margin-top: .5em;
}

div.statistics-summary div.instructions{
    font-size: 11px;
    text-align: left;
    margin-top: 10px;
}

.statistics-warning {
    margin: 4px 0;
}

/* Month Picker Widget */
/* general */
.month-picker-button{
    border:1px solid #B3C8D7;
    cursor: pointer;
    -webkit-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    -moz-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    background: #FFFFFF;
}

.prev-month{
    border-radius:6px 0 0 6px;
    font-size:20px;
    line-height:32px;
}

.next-month{
    border-radius:0 6px 6px 0;
    font-size:20px;
    line-height:32px;
}

.month-year-picker div.picker-header a{
    color:#5e5e5e;
}

.month-year-picker div.picker-header a:hover{
    color:#5e5e5e;
    text-decoration:none;
}

/* specific */
.month-year-picker{
    width:242px;
    font-family:MuseoSans500,sans-serif;
}

.month-year-picker div.picker-header{
    height:34px;
    width:100%;
    text-align:center;
    line-height:34px;
}

.month-year-picker div.picker-header .prev-month{
    width:29px;
    height:34px;
    float:left;
}

.month-year-picker div.picker-header .current-month-year{
    float:left;
    height:34px;
    width:180px;
    border:1px solid #B3C8D7;
    cursor: pointer;
    -webkit-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(196,214,232,0.9) inset;
    -moz-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(196,214,232,0.9) inset;
    box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(196,214,232,0.9) inset;
    background: #FFF;
    border-right:none;
    border-left:none;
}

.month-year-picker div.picker-header .current-month-year span{
    line-height:35px;
}

.month-year-picker div.picker-header .current-month-year .month-icon{
    display:inline-block;
    width:21px;
    height:21px;
    border:1px solid #B3C8D7;
    border-radius:4px;
    line-height:24px;
    margin-left:2px;
    background:transparent url(../img/template/sprites.png) no-repeat -482px 4px;
}

.month-year-picker div.picker-header .next-month{
    width:29px;
    height:34px;
    float:right;
}

.month-year-picker div.month-picker{
    background-color:#FFF;
    border:1px solid #B3C8D7;
    width:180px;
    margin:0 30px;
    position:absolute;
    border-radius:0 0 3px 3px;
    z-index:10000;
    display:none;
}

.month-year-picker div.month-picker .year-picker{
    height:32px;
    text-align:center;
    line-height:32px;

    background: #5073b6;
    background: -moz-linear-gradient(center top, #4869a8 0%, #5b81c7 100%) repeat 0 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4869a8), color-stop(1, #5b81c7) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b81c7', endColorstr='#4869a8',GradientType=0 );
    border-bottom:1px solid #B3C8D7;
    cursor: pointer;
    -webkit-box-shadow:0 -2px rgba(72,105,168,0.9) inset;
    -moz-box-shadow:0 -2px rgba(72,105,168,0.9) inset;
    box-shadow:0 -2px rgba(72,105,168,0.9) inset;
    color:#FFF;
}

.month-year-picker div.month-picker .year-picker a.prev-year{
    float:left;
    width:30px;
    height:32px;
    color:inherit;
    font-size:20px;
    line-height:29px;
}

.month-year-picker div.month-picker .year-picker a.next-year{
    float:right;
    width:30px;
    height:32px;
    color:inherit;
    font-size:20px;
    line-height:29px;
}

.month-year-picker div.month-picker .year-picker a.next-year:hover,
.month-year-picker div.month-picker .year-picker a.prev-year:hover{
    text-decoration:none;
}

.month-year-picker div.month-picker ul{
    list-style-type:none;
    margin:0;
}

.month-year-picker div.month-picker ul li{
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    padding:3px;
    margin:3px;
    border-radius:5px;
    color:#5e5e5e;
}

.month-year-picker div.month-picker ul li.current-month{
    -webkit-box-shadow:0px 0px 8px rgba(196,209,223,0.9) inset;
    -moz-box-shadow:0px 0px 8px rgba(196,209,223,0.9) inset;
    box-shadow:0px 0px 8px rgba(196,209,223,0.9) inset;
    color:#447bc4;
}

.month-year-picker div.month-picker ul li a{
    line-height:30px;
    color:inherit;
}

.month-year-picker div.month-picker ul li a:hover{
    color:#447bc4;
    text-decoration:none;
}

/* Total Downloads */
div.total-downloads-section h4{
    font-family:MuseoSans500,sans-serif;
    font-size:13px;
    font-style:normal;
    text-align:right;
    margin:18px 0 4px 0;
}

div.total-downloads-section h4 span{
    float: left;
    font-family:MuseoSans500,sans-serif;
    font-size:13px;
    font-weight: normal;
    font-style:normal;
}

div.total-downloads-section .divider-medium{
    margin:0;
    height:14px;
}

div.total-downloads-section ul{
    list-style-type:none;
    margin:0;
}

div.total-downloads-section ul li {
    display:block;
    border-top:1px solid #e1edf9;
    overflow-x: hidden;
    padding:4px;
    font-size: 14px;
}

div.total-downloads-section ul li span{
    padding-right: 20px;
}

div.total-downloads-section ul li img.user-category-icon{
    margin-right: 5px;
    position: relative;
    top: 3px;
}

div.total-downloads-section ul li:first-child{
    border-top:none;
}

div.total-downloads-section ul li span.download-count{
    float:right;
    color:#4f9800;
}

div.total-downloads-section button.back{
    margin:15px auto 4px 60px;
    font-family:Georgia,serif;
    font-size:16px;
    font-style:italic;
}

div.download_tooltip{
    top:50px;
    font-family:Georgia,serif;
    font-style:italic;
    font-size:14px;
}

div.download_tooltip span{
    left:-30px;
}
