/* jquery plugin color select*/
#selected-color
{
	background: url(img/zemoga/bg-select.png) no-repeat 0 0 #fff;
	width:94px;
	height:37px;
	position:relative;
}
#selected-color span.current-color{
	width:46px;
	height:15px;
	display:block;
	background-color:#393939;
	position:absolute;
	top:11px;
	left:11px;
	
}
#selected-color div.content-items{
	position:absolute;
	top:36px;
	height:85px;
	width:87px;
	overflow:auto;
	border:solid 1px #C2C2C2;
	background:#FDFDFD;
	left:2px;
	-webkit-border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px;
}
#selected-color div.hit-area{
	position:absolute;
	width:94px;
	height:37px;
	display:block;
	z-index:9999;
}

#selected-color div.content-items ul{
	padding:0;
	margin:0;
}
#selected-color div.content-items ul li.color-item
{
	list-style:none;
	width:46px;
	height:15px;
	margin:11px;	
}
