/* @Reset defaults *********/
header, hgroup, nav, section, article, aside, footer { display: block; }
html, body, form, fieldset, legend, h1, h2, h3, h4, h5, h6, dd { margin: 0; padding: 0; }
p, pre, blockquote, ul, ol, dl, table, figure { margin: 0 0 1.5em; padding: 0; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset { border: 0; }
legend { color: inherit; } /* For IE */
ul, ol { list-style: none; }
a img { border: 0; }
input, select, textarea { font-family: inherit; font-size: 100%; max-width: 100%; }
img, video { max-width: 100%; height: auto; }

/* Regular */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Italic-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Light-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Layout */
body {
  background: #eee url(../img/facebook/bg-sky.png) repeat-x;
  padding: 20px;
  font: 100%/1.4 "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: #585858;
}

.container {
  width: 740px;
  margin: 0 auto 1em;
}
.container:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.main {
  width: 440px;
  padding: 20px;
  float: left;
  background: #fefefe;
  box-shadow: 1px 2px 2px rgba(0,0,0,.1);
}

.sub {
  width: 240px;
  float: right;
}

.module {
  background: #fefefe;
  padding: 20px;
  margin: 0 0 20px;
  box-shadow: 1px 2px 2px rgba(0,0,0,.1);
}

.messages {
  background: #f6fbff;
  margin: -10px -10px 20px;
  padding: 15px;
  border: 1px solid #eee;
  font-size: .857em;
}

.messages li {
  padding-left: 30px;
  margin: 0 0 .5em;
}

.messages .success {
  background: url(../img/facebook/status-good.png) 0 1px no-repeat;
}

.messages .error {
  background: url(../img/facebook/status-bad.png) 0 1px no-repeat;
}


/* @Headings ***/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .25em;
  color: #484848;
  line-height: 1;
  font-family: "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
}
h2 {
  font-size: 2em;
  letter-spacing: -1px;
}
h3 {
  font-size: 1.75em;
  letter-spacing: -0.5px;
}
h4 {
  font-size: 1.5em;
  letter-spacing: -0.25px;
}
h5,
.module h2 {
  font-size: 1.125em;
}
h6,
.module h3 {
  font-size: 1em;
}

.page-title {
  font-size: 1.25em;
  letter-spacing: normal;
  text-align: center;
  margin: 10px 0 30px;
}

/* @Links ***/
a:link,
a:visited {
  color: #2983c8;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #20679e;
  text-decoration: underline;
}

/* @Header */
.head hgroup {
  width: 480px;
  float: left;
}
.head:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.head h1 {
  font-size: 3.75em;
  margin: 0 0 5px -3px;
}
.head h2 {
  font-size: 1em;
  letter-spacing: normal;
  margin: 0;
}

.head h1 a:link,
.head h1 a:visited,
.head h1 a:hover,
.head h1 a:focus,
.head h1 a:active {
  color: #484848;
  text-decoration: none;
}

.head .download {
  width: 240px;
  float: right;
}

/* @Buttons */
.button-blue,
.button-blue:link,
.button-blue:visited {
  display: inline-block;
  cursor: pointer;
  padding: .75em 24px;
  border: 0;
  border-radius: .5em;
  color: #fff;
  font-family: "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  background-color: #276195;
  background-image: -moz-linear-gradient(#3c88cc, #276195);
  background-image: -ms-linear-gradient(#3c88cc, #276195);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c88cc), color-stop(100%, #276195));
  background-image: -webkit-linear-gradient(#3c88cc, #276195);
  background-image: -o-linear-gradient(#3c88cc, #276195);
  background-image: linear-gradient(#3c88cc, #276195);
  -webkit-transition: all linear 0.25s;
  -moz-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
  -ms-transition: all linear 0.25s;
  transition: all linear 0.25s;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
}
.button-blue:hover,
.button-blue:focus,
.button-blue:active {
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
  text-decoration: none;
  -webkit-transition: all linear 0.25s;
  -moz-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
  -ms-transition: all linear 0.25s;
  transition: all linear 0.25s;
}


/* @Tabs */
.nav-tabs {
  clear: both;
  margin: 30px 0 0;
  font: .6875em/1 "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  text-transform: uppercase;
}
.nav-tabs:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.nav-tabs ul {
  margin: 0;
}
.nav-tabs li {
  float: left;
  margin-right: 2px;
}

.nav-tabs a {
  display: block;
  padding: 1em 20px;
  min-width: 80px;
  text-align: center;
  text-decoration: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 75%, #efefef 90%, #e0e0e0 100%);
  background: -webkit-linear-gradient(top, #f7f7f7 75%, #efefef 90%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #f7f7f7 75%, #efefef 90%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #f7f7f7 75%, #efefef 90%, #e0e0e0 100%);
  background: linear-gradient(to bottom, #f7f7f7 75%, #efefef 90%, #e0e0e0 100%);
  border: solid #ddd;
  border-width: 1px 1px 0;
  border-radius: 8px 8px 0 0;
}

.nav-tabs a:hover,
.nav-tabs a:focus,
.nav-tabs a:active {
  background: #fcfcfc;
  background: -moz-linear-gradient(top, #fcfcfc 75%, #f3f3f3 90%, #efefef 100%);
  background: -webkit-linear-gradient(top, #fcfcfc 75%, #f3f3f3 90%, #efefef 100%);
  background: -ms-linear-gradient(top, #fcfcfc 75%, #f3f3f3 90%, #efefef 100%);
  background: -o-linear-gradient(top, #fcfcfc 75%, #f3f3f3 90%, #efefef 100%);
  background: linear-gradient(to bottom, #fcfcfc 75%, #f3f3f3 90%, #efefef 100%);
}

.nav-tabs .selected a {
  background: #fefefe;
  color: #484848;
  border-color: #fff;
}

/* @Subnav */
.nav-sub {
  font: .6875em/1 "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  text-transform: uppercase;
  padding: 25px 20px;
  margin: -20px -20px 30px;
  text-align: center;
  border-bottom: 5px solid #93989a;
}

.nav-sub ul {
  margin: 0;
}

.nav-sub li {
  display: inline;
  margin: 0 10px;
}

.nav-sub a,
.nav-sub span {
  display: inline-block;
  padding: .75em 15px;
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  color: #484848;
  background: #fff;
  box-shadow: inset 0 0 8px rgba(0,0,0,.01), inset 0 -3px 0 rgba(0,0,0,.05);
}

.nav-sub a:hover,
.nav-sub a:focus,
.nav-sub a:active {
  background: #f8f8f8;
}

.nav-sub .selected a,
.nav-sub .selected span {
  color: #fff;
  border: 1px solid #666;
  background: #979c9d;
  box-shadow: inset 0 2px 2px rgba(0,0,0,.25);
}

/*@Select */
#select h2 {
  font-size: 1.25em;
  letter-spacing: normal;
  text-align: center;
}

#select ul {
  width: 360px;
  margin: 20px auto 20px;
}
#select ul:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#select li {
  float: left;
  width: 100px;
  margin: 0 10px 18px;
}

#select input {
  position: absolute;
  left: -99em;
}

#select label {
  cursor: pointer;
}

#select label img {
  box-shadow: 1px 1px 1px rgba(0,0,0,.5), 0 0 10px rgba(0,0,0,.05);
}

#select label.selected img {
  box-shadow: 1px 1px 2px 1px rgba(64,162,223,.75), 0 0 10px rgba(64,162,233,.5);
}

/* @Preview */
#configure {
  background: #f9f9f9;
  margin: 0 20px;
  padding: 20px;
  box-shadow: inset 0 0 3px rgba(0,0,0,.1);
  clear: both;
  position: relative;
}

.banner-choice {
  height: 72px;
  width: 100px;
}

#banner-preview h3 {
  background: #484848;
  color: #fff;
  font: .6875em/1 "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-shadow: none;
  letter-spacing: normal;
  padding: .5em 20px;
  margin: -20px -20px 30px;
}

#banner-preview .errors {
  background: #fdd9d9 url(../img/facebook/error.png) 25px 6px no-repeat;
  color: #c33;
  display: none;
  font-size: .75em;
  font-weight: bold;
  text-transform: uppercase;
  margin: -30px -20px -10px;
  padding: 10px 20px 30px 65px;
}

#banner-preview figure {
  position: relative;
  width: 300px;
  height: 216px;
  margin: 20px auto;
  background: #fff url(../img/facebook/banner-placeholder.png) center center no-repeat;
  box-shadow: 0 0 15px rgba(0,0,0,.05), 2px 2px 3px rgba(0,0,0,.15);
}

#banner {
  height: 216px;
  width: 300px;
}

#userpic {
  border: 3px solid #ccc;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

/* @Options */
#banner-msg h2 {
  font-size: 1.125em;
  letter-spacing: normal;
  margin: 0 0 .5em;
}

#banner-msg label {
  font-size: .875em;
}

#id_text {
  display: block;
  width: 335px;
  padding: 10px;
  margin: .5em auto 1em;
  font-size: .875em;
  border: 1px solid #ccc;
}

.error input,
.error #id_text {
  border-color: #c33;
  box-shadow: 0 0 3px 1px rgba(200,50,50,.5);
}

.error .note {
  display: block;
  color: #c33;
  font-size: .75em;
}

#banner-opts label {
  position: relative;
  padding-left: 30px;
}

#banner-opts input {
  position: absolute;
  left: 0;
}

#banner-opts .note-link {
  display: block;
  margin-left: 30px;
  font-size: .75em;
  font-style: italic;
}

#ad-note {
  display: none;
  position: absolute;
  left: -55px;
  margin-top: -10px;
  background: #f3f9ff;
  border: 1px solid #a4bad3;
  box-shadow: inset 0 0 20px rgba(164,186,211,.5);
  font-size: .625em;
  line-height: 1.75;
  padding: 15px 20px;
  width: 450px;
  opacity: .93;
}

#ad-note:before {
  content: "";
  width: 30px;
  height: 15px;
  background: url(../img/facebook/note-point.png) no-repeat;
  position: absolute;
  left: 140px;
  top: -15px;
}

/* @Submit */
.fm-submit {
  text-align: right;
  background: #edf4f9;
  padding: 20px;
  margin: 0 -20px -20px;
  box-shadow: inset 0 0 2px rgba(0,0,0,.1);
}

.fm-submit .button-blue {
  font-size: 1em;
  letter-spacing: -0.5px;
  margin-left: 10px;
}

.fm-submit .button-blue i {
  display: block;
  font-style: normal;
  margin-right: -12px;
  padding-right: 30px;
  background: url(../img/facebook/arrow-go-r.png) right center no-repeat;
}

.fm-submit .loading {
  display: none;
}

/* @User tools */
#user-tools h2 {
  padding: .5em 0 .5em 45px;
}

#user-tools .avatar {
  float: left;
  margin: -.5em 0 0 -45px;
  box-shadow: 1px 1px 1px rgba(0,135,183,.5);
}

#user-tools .not-linked,
#user-tools .linked {
  font-size: .6875em;
  font-style: italic;
  margin: 15px 0;
  padding: .25em 0;
}

#user-tools .linked {
  padding-left: 25px;
  background: url(../img/facebook/status-good.png) left center no-repeat;
}

#link-account {
  display: none;
  font-size: .6875em;
  width: 180px;
  margin: 0 -20px 20px;
  padding: 15px 20px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.75);
  background: #919597;
  background: #919597 -moz-linear-gradient(top, rgba(0,0,0,.25) 0, rgba(0,0,0,0) 30px);
  background: #919597 -ms-linear-gradient(top, rgba(0,0,0,.25) 0, rgba(0,0,0,0) 30px);
  background: #919597 -o-linear-gradient(top, rgba(0,0,0,.25) 0, rgba(0,0,0,0) 30px);
  background: #919597 -webkit-linear-gradient(top, rgba(0,0,0,.25) 0, rgba(0,0,0,0) 30px);
  background: #919597 linear-gradient(to bottom, rgba(0,0,0,.25) 0, rgba(0,0,0,0) 30px);
}

#link-account:before {
  content: "\00a0";
  display: block;
  position: absolute;
  top: 0;
  left: 101px;
  width: 0;
  height: 0;
  border-width: 8px 8px 0 8px;
  border-style: solid;
  border-color: #fefefe transparent;
}

#link-account a {
  color: #cae9ff;
}

button::-moz-focus-inner {
  border: 0;
}

#link-account .success-msg {
  display: none;
}

#link-account .email input,
#link-account .email button {
  border: 1px solid #777;
  border-radius: .5em;
  color: #484848;
  background-color: #fff;
  padding: 4px 6px;
  box-shadow: inset 0 0 8px rgba(0,0,0,.01), inset 0 -3px 0 rgba(0,0,0,.05);
}

#link-account .email input {
  width: 130px;
  float: left;
  margin-right: 4px;
}

#link-account .email button {
  cursor: pointer;
  width: 28px;
  text-indent: -999em;
  background: #fff url(../img/facebook/status-good.png) center center no-repeat;
}

#user-tools .calendar {
  margin: 1em 0;
}

.module .note {
  font-size: .625em;
  color: #666;
}

#user-tools .total {
  overflow: auto;
  font-size: .875em;
  border-top: 1px solid #ccc;
  padding: 15px 20px;
  margin: 1em -20px -20px;
}

#user-tools .total strong {
  float: right;
  color: #690;
  font-weight: normal;
}

/* @Help */
#help h2 {
  font-size: 1em;
  letter-spacing: normal;
  padding: 20px 20px 20px 82px;
  margin: -20px -20px 1em;
  background: url(../img/facebook/fx-logo-md.png) 15px center no-repeat;
  background: url(../img/facebook/fx-logo-md.png) 15px center no-repeat, linear-gradient(to top, rgba(0,0,0,.07), rgba(0,0,0,0) 20px);
  border-bottom: 1px solid #ccc;
}

#help h3 {
  margin: 0 0 .75em;
}

#help ol {
  margin: 0 0 0 20px;
  list-style: decimal;
  font: .857em Georgia, Times, serif;
}

#help li {
  margin: 0 0 .75em;
}

/* @Newsletter */
#newsletter h2 {
  margin: 0 0 1em;
}

#news-email {
  border: 1px solid #ccc;
  border-radius: .5em;
  color: #484848;
  background-color: #fafafa;
  font-size: .75em;
  padding: 4px 6px;
  box-shadow: inset 0 0 8px rgba(0,0,0,.01), inset 0 2px 2px rgba(0,0,0,.1);
  width: 165px;
}

#newsletter label {
  position: absolute;
  left: -999em;
}

#newsletter .options {
  font-size: .75em;
}

#newsletter .options label {
  position: static;
  left: auto;
}

#newsletter p {
  margin: 0 0 .5em;
}

#newsletter .note {
  display: block;
  font-size: .857em;
  margin: 1em 0;
}

#newsletter .news-submit {
  text-align: right;
  margin: 0;
}

#newsletter button {
  font-size: .75em;
  padding: 4px 20px;
}

#newsletter button:after,
.go:after {
  content: "\00A0\00BB"; /* nbsp raquo */
  font-size: 1.2em;
}

/* @Current banners */
.banner-list h2 {
  font-size: 1.25em;
  text-align: center;
  margin: 0 0 30px;
}

.current-banner {
  position: relative;
  margin: 0 0 30px -20px;
  padding: 0 0 30px 20px;
}

.current-banner figure {
  padding: 0 0 0 345px;
  min-height: 216px;
}

.current-banner .number {
  font-size: 1.25em;
  text-align: right;
  background: #fff;
  padding: 4px;
  position: absolute;
  right: 428px;
  top: -4px;
}

.current-banner .banner {
  position: absolute;
  left: 45px;
}

.current-banner .meta,
.current-banner .util {
  font-size: .75em;
}

.current-banner .meta dt {
  text-transform: uppercase;
}

.current-banner .meta dd {
  font-style: italic;
  color: #999;
  margin: 0 0 1em;
}

.current-banner .util {
  list-style: none;
  padding-top: 1em;
  border-top: 1px dotted #ccc;
}

.current-banner .util li {
  font-style: italic;
  margin: 0 0 .5em;
}

.goal-meter {
  padding: 30px 90px 20px 0;
  font-size: .75em;
  text-transform: uppercase;
  border-bottom: 1px dotted #ccc;
}

.goal-meter .meter {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 22px;
  padding: 1px;
  margin: 0 0 .5em;
  box-shadow: inset 0 0 8px rgba(0,0,0,.01), inset 0 -3px 0 rgba(0,0,0,.05);
}

.goal-meter .meter span {
  position: relative;
  display: block;
  text-align: right;
  height: 22px;
  border-right: 3px solid #eee;
  background: #7aafe7;
  background: #7aafe7 -moz-linear-gradient(top, #b9dafc, #7aafe7);
  background: #7aafe7 -ms-linear-gradient(top, #b9dafc, #7aafe7);
  background: #7aafe7 -o-linear-gradient(top, #b9dafc, #7aafe7);
  background: #7aafe7 -webkit-linear-gradient(top, #b9dafc, #7aafe7);
  background: #7aafe7 linear-gradient(to bottom, #b9dafc, #7aafe7);
  border-radius: 5px 0 0 5px;
  box-shadow: inset 0 0 8px rgba(0,0,0,.01), inset 0 -3px 0 rgba(0,0,0,.05);
}

.goal-meter .count {
  position: absolute;
  top: -30px;
  right: 0;
  background: #fdfdfd;
  padding: 3px 9px 3px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: inset 0 0 8px rgba(0,0,0,.01), inset 0 -3px 0 rgba(0,0,0,.05);
}

.goal-meter .count:after {
  content: "";
  width: 9px;
  height: 18px;
  position: absolute;
  right: -1px;
  bottom: -10px;
  background: url(../img/facebook/meter-point.png) no-repeat;
}

.goal-meter.win {
  background: url(../img/facebook/success.png) 360px 32px no-repeat;
}

.goal-meter.win .meter span {
  border: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 8px rgba(0,0,0,.01), inset 0 -3px 0 rgba(0,0,0,.05), inset -10px 0 0 rgba(87,134,183,.5);
}

.goal-meter.win .meter .count {
  right: 4px;
}

.current-banner .goal span {
  font-style: italic;
}

.current-banner:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
.current-banner:last-child .goal-meter {
  border-bottom: 0;
}

.create-new {
  border-top: 1px solid #ccc;
  margin: 30px -20px 0;
  padding: 30px 30px 20px;
  text-align: right;
}

/* @Leaderboard */
#id_country {
  display: block;
  margin: 30px auto;
}

table.board {
  width: 100%;
  margin: 0 0 30px;
  border-collapse: collapse;
}

table.board th,
table.board td {
  font-weight: normal;
  text-align: left;
  padding: 10px 12px;
  border-bottom: 1px solid #ccc;
}

table.board thead th {
  font-size: .75em;
  font-weight: normal;
  text-transform: uppercase;
  padding: 6px 2px;
}

table.board .leaders tr:last-child td,
table.board .leaders tr:last-child th {
  border-bottom: 0;
}

table.board .you th,
table.board .you td {
  padding: 20px 12px;
  background: #f3f7f8;
  border-bottom: 1px solid #ccc;
}

table.board .leaders tr:first-child td,
table.board .leaders tr:first-child th {
  padding-top: 40px;
}

table.board .clicks {
  text-align: right;
}

table.board .user {
  width: 60%;
}

table.board .you .avatar {
  margin: -10px 12px -10px -10px;
  box-shadow: 1px 1px 1px rgba(0,135,183,.5);
}

table.board .leaders .avatar {
  margin: -6px 16px -6px -5px;
  box-shadow: 1px 1px 1px rgba(0,135,183,.5);
}