#home-registration-forms {
    float: right;
    margin: 120px 8px 0;
    padding: 25px 25px 45px;
    position: relative;
    width: 345px;
}

#home-registration-forms h3 {
    margin-top: 0;
}

#home-registration-forms input[type="text"],
#home-registration-forms input[type="email"],
#home-registration-forms input[type="password"] {
    margin-bottom: 10px;
    margin-right: 8px;
    width: 105px;
}
#home-registration-forms label {
    margin: 0 18px 0 5px;
    margin-right: 21px;
}
#home-registration-forms div.divider-medium,
#home-registration-forms hr.medium {
    margin-top:11px;
    margin-bottom:10px;
}

#home-registration-forms p{
    font-size:113%;
    line-height:125%;
}
#home-registration-forms .register {
    background-color: #669BE1;
    background: -moz-linear-gradient(center top, #669BE1 0%, #5784BF 100%) repeat 0 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5784BF), color-stop(1, #669BE1) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669BE1', endColorstr='#5784BF',GradientType=0 );
    border: none;
    box-shadow: 0 1px rgba(0, 0, 0, 0.05), 0 -2px rgba(224, 239, 249, 0.9) inset;
    color: #fff;
    display: block;
    font-size: 120%;
    margin-top: 15px;
    padding: 6px 12px 9px;
    width: 170px;
}
#home-registration-forms .register:hover {
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(224, 239, 249, 0.9) inset, 0 0 100px rgba(255, 255, 255, 0.1) inset;
}

/* Registration Form */
#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="password"]{
    display: block;
    font-size: 120%;
    margin-bottom: 15px;
    padding: 8px 6px;
    width: 235px;
}

#register-form input[type="checkbox"] {
    float: left;
}

#register-form label {
    display: block;
    padding-left: 20px;
    width: 275px;
    margin-bottom: 8px;
}

#browserid-registration {
    display: none;
}

#forgot-password-form input[type="text"],
#forgot-password-form input[type="password"] {
    margin-right: 10px;
    width: 270px;
}

#forgot-password-form label {
    display: block;
    font: 14px 'MuseoSans500', sans-serif;
}

#content.background_illo {
    background: url(../img/template/illo.png) no-repeat 98% 10px;
    min-height: 390px;
    padding: 0 200px 0 0;
    width: 325px;
}
#content h2 {
    font-size: 40px;
}
#content h2 span {
    display: block;
    font-family: georgia,serif;
    font-size: 40px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
}
#content p {
    font-size: 20px;
    line-height: 1.2em;
    width: 310px;
}
#content p a {
    font-style: italic;
}
#content .divider-medium {
    margin-bottom: 10px;
}
button,
a.button {
    background: #FFF;
    color: #4F4F4F;
    cursor:pointer;
    font-family: Georgia,serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 8px;
    padding: 6px 12px;
    zoom: 1;
    border: 1px solid #B3C8D7;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    -moz-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
}
a.share_twitter {
    background: #FFF url(../img/template/sprites.png) no-repeat 12px -43px;
    padding-left: 55px;
}
a.share_facebook {
    background: #FFF url(../img/template/sprites.png) no-repeat 12px -86px;
    padding-left: 55px;
}

/* Thank you */
#content.thank_you span {
    display: block;
    font-family: Georgia,serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    text-transform: none;
    width: auto;
}
#content.thank_you p {
    color: #444;
    font-size: 15px;
    line-height: 1.5em;
    width: auto;
}
#content.thank_you p span {
    color: #999;
    display: block;
    font-size: 15px;
    font-style: normal;
    width: auto;
}

/* Statistics Summary Box */
div.statistics-summary{
    margin:0 -20px;
    padding:0 20px;
    height:133px;
    border-top:1px solid #e1edf9;
    border-bottom:1px solid #e1edf9;
    background:#f6f9fd url(../img/template/vertical-lines.png) repeat 0 0;
    font-family:MuseoSans500,sans-serif;
}

div.statistics-summary h3{
    font-size:16px;
    font-style:normal;
    font-family:MuseoSans500,sans-serif;
}

div.statistics-summary div.instructions{
    font-size:11px;
    text-align:left;
    margin-top:20px;
}



/* Month Picker Widget */

/* general */
.month-picker-button{
    border:1px solid #B3C8D7;
    cursor: pointer;
    -webkit-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    -moz-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
    background: #FFFFFF;
}

.prev-month{
    border-radius:6px 0 0 6px;
    font-size:20px;
    line-height:32px;
}

.next-month{
    border-radius:0 6px 6px 0;
    font-size:20px;
    line-height:32px;
}

.month-year-picker div.picker-header a{
    color:#5e5e5e;
}
.month-year-picker div.picker-header a:hover{
    color:#5e5e5e;
    text-decoration:none;
}


/* specific */
.month-year-picker{
    width:242px;
    font-family:MuseoSans500,sans-serif;
}

.month-year-picker div.picker-header{
    height:34px;
    width:100%;
    text-align:center;
    text-transform:uppercase;
    line-height:34px;
}
.month-year-picker div.picker-header .prev-month{
    width:29px;
    height:34px;
    float:left;
}

.month-year-picker div.picker-header .current-month-year{
    float:left;
    height:34px;
    width:180px;
    border:1px solid #B3C8D7;
    cursor: pointer;
    -webkit-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(196,214,232,0.9) inset;
    -moz-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(196,214,232,0.9) inset;
    box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(196,214,232,0.9) inset;
    background: #FFF;
    border-right:none;
    border-left:none;
}
.month-year-picker div.picker-header .current-month-year span{
    line-height:35px;
}
.month-year-picker div.picker-header .current-month-year .month-icon{
    display:inline-block;
    width:21px;
    height:21px;
    border:1px solid #B3C8D7;
    border-radius:4px;
    line-height:24px;
    margin-left:2px;
    background:transparent url(../img/template/sprites.png) no-repeat -482px 4px;
}

.month-year-picker div.picker-header .next-month{
    width:29px;
    height:34px;
    float:right;
}

.month-year-picker div.month-picker{
    background-color:#FFF;
    border:1px solid #B3C8D7;
    width:180px;
    margin:0 30px;
    position:absolute;
    border-radius:0 0 3px 3px;
    z-index:10000;
    display:none;
}
.month-year-picker div.month-picker .year-picker{
    height:32px;
    text-align:center;
    text-transform:uppercase;
    line-height:32px;


    background: #5073b6;
    background: -moz-linear-gradient(center top, #4869a8 0%, #5b81c7 100%) repeat 0 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4869a8), color-stop(1, #5b81c7) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b81c7', endColorstr='#4869a8',GradientType=0 );
    border-bottom:1px solid #B3C8D7;
    cursor: pointer;
    -webkit-box-shadow:0 -2px rgba(72,105,168,0.9) inset;
    -moz-box-shadow:0 -2px rgba(72,105,168,0.9) inset;
    box-shadow:0 -2px rgba(72,105,168,0.9) inset;
    color:#FFF;
}
.month-year-picker div.month-picker .year-picker a.prev-year{
    float:left;
    width:30px;
    height:32px;
    color:inherit;
    font-size:20px;
    line-height:29px;
}

.month-year-picker div.month-picker .year-picker a.next-year{
    float:right;
    width:30px;
    height:32px;
    color:inherit;
    font-size:20px;
    line-height:29px;
}

.month-year-picker div.month-picker .year-picker a.next-year:hover,
.month-year-picker div.month-picker .year-picker a.prev-year:hover{
    text-decoration:none;
}

.month-year-picker div.month-picker ul{
    list-style-type:none;
    margin:0;
}

.month-year-picker div.month-picker ul li{
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    padding:3px;
    margin:3px;
    border-radius:5px;
    color:#5e5e5e;
}

.month-year-picker div.month-picker ul li.current-month{
    -webkit-box-shadow:0px 0px 8px rgba(196,209,223,0.9) inset;
    -moz-box-shadow:0px 0px 8px rgba(196,209,223,0.9) inset;
    box-shadow:0px 0px 8px rgba(196,209,223,0.9) inset;
    color:#447bc4;
}

.month-year-picker div.month-picker ul li a{
    line-height:30px;
    color:inherit;
}

.month-year-picker div.month-picker ul li a:hover{
    color:#447bc4;
    text-decoration:none;
}

/* Downloads Section */
div.total-downloads-section h4{
    font-family:MuseoSans500,sans-serif;
    font-size:13px;
    text-transform:uppercase;
    font-style:normal;
    text-align:right;
    margin:18px 0 4px 0;
}

div.total-downloads-section .divider-medium{
    margin:0;
    height:14px;
}

div.total-downloads-section ul{
    list-style-type:none;
    margin:0;
}

div.total-downloads-section ul li{
    display:block;
    border-top:1px solid #e1edf9;
    padding:4px;
}
div.total-downloads-section ul li:first-child{
    border-top:none;
}

div.total-downloads-section ul li span.download-count{
    float:right;
    color:#4f9800;
}
div.total-downloads-section button.back{
    margin:15px auto 4px 60px;
    font-family:Georgia,serif;
    font-size:16px;
    font-style:italic;
}
