body {
    color: #6d7581;
    font-family: Georgia, serif;
    font-size: 13px;
    line-height: 1.231;
    min-width: 990px;
}
a:link, a:visited {
    text-decoration: none;
    color: #447bc4;
}
a:hover, a:active {
    text-decoration: underline;
    color: #447bc4;
}
p {
    line-height: 1.5em;
    margin: 0 0 1em 0;
}

img {
    border: 0;
}

strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
abbr, acronym {
    border-bottom: 1px dotted #000;
    cursor: help;
}
p, fieldset, table, pre {
    margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: georgia, serif;
    font-weight: normal;
    font-style: italic;
    color: #484848;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
h1, h2, h3 {
    margin: 1em 0 0.5em 0;
}
ul {
    margin: 1em 0 1em 0;
    padding: 0;
}
blockquote {
    margin: 1em;
}
ol, dl {
    margin: 1em;
}
ol, dl {
    margin-left: 0;
    padding-left: 1.5em;
}
ol li,
ul li ol li {
    list-style: decimal outside;
    background: none;
}
dl dd {
    margin-left: 1em;
}
td, th {
    border: 0;
}

.clear {
    clear: both;
}

p.heavy {
    font-weight: bold;
}

#main-feature {
    margin: 0 20px;
}
#main-feature h2 {
    font-size: 40px;
    padding: 10px 0;
    margin: 0;
    line-height: 1.2em;
}
#main-feature h2 span {
    font-family: MetaBlack, "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    font-size: 65px;
    display: block;
    letter-spacing:  -0.02em;
}
#main-feature p {
    color: #484848;
    font-size: 20px;
    line-height: 1.4em;
}
#login-form label {
    display: inline-block;
    margin-bottom: 10px;
}
/* Based on http://webaim.org/techniques/css/invisiblecontent/ */
.accessibly-hidden {
    position:absolute;
    left:-99999em;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

span.label {
    background: #feb602;
    background: -moz-linear-gradient(bottom, #feb602, #fee303 75%);
    border-radius: 2px;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.24), 0 1px rgba(0, 0, 0, 0.26);
    color: #4d410a;
    font: normal bold 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 2px;
    padding: 5px 13px;
    position: relative;
    text-shadow: rgba(255, 255, 255, 0.67) 0 1px;
    text-transform: uppercase;
    top: -4px;
}

a.browserid {
    color: #ffffff;
    display: inline-block;
    font: italic 16px Georgia, serif;
    height: 37px;
    line-height: 36px;
    text-shadow: rgba(54, 54, 54, 0.30) 0 1px;
}

a.browserid span {
    background: url("../img/template/browserid_mid.png") repeat-x;
    display: inline-block;
    padding: 0 10px;
    height: 37px;
}

a.browserid:before {
    content: url("../img/template/browserid_left.png");
    vertical-align: top;
}

a.browserid:after {
    content: url("../img/template/browserid_right.png");
    vertical-align: top;
}
