#user-profile-forms {
    background-image: none;
    padding: 15px 25px 10px;
    width: 900px;
}

#user-profile-forms .header {
    margin: -15px -25px 0;
}

#user-profile-forms .user_info {
    background: #FFF;
    border-top: 1px solid #B4C8D6;
    border-bottom: 1px solid #B4C8D6;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(224, 239, 249, 0.9) inset;
    margin: -1px -25px 0;
    padding: 20px 30px;
    position: relative;
}

#user-profile-forms .user_data {
    list-style: none;
    margin: 0;
    overflow: hidden;
}

#user-profile-forms .user_data li {
    float: left;
    list-style: none;
    margin-right: 25px;
    width: 255px;
}

#user-profile-forms .user_data li.first-child {
    border-right: 1px dotted #B5C5D5;
}

#user-profile-forms .user_data span {
    color: #444;
    font-family: 'MuseoSans500', sans-serif;
    font-size: 14px;
}

#user-profile-forms .user_data label {
    color: #999;
    display: block;
    font-size: 16px;
}

#user-profile-forms button {
    background: #FFF;
    border: 1px solid #B3C8D7;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(224, 239, 249, 0.9) inset;
    color: #444444;
    cursor: pointer;
    font-size: 13px;
    padding: 8px 18px;
}

#user-profile-forms button.disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: .4;
}

#user-profile-forms .tool-tip {
    left: 40px;
    top: -14px;
    width: 390px;
}

#profile-form {
    padding: 20px 0;
}

#profile-form .required_label {
    color: #444;
    font-size: 14px;
    text-align: right;
}


#profile-form .required_star {
    color: #ca4300;
    display: inline;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}


#profile-form .required_label span {
    color: #ca4300;
    display: inline;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}


#profile-form input[type="text"],
#profile-form input[type="email"],
#profile-form input[type="password"] {
    display: block;
    font-size: 15px;
    margin: 0 0 10px 3px;
    padding: 9px 6px;
    width: 270px;
}


#profile-form input.processing {
    background: url(../img/template/icn_loading_animated.gif) no-repeat 97% 8px;
    border-color: #6daee1;
    box-shadow: 0 0 3px #6daee1, 0 2px 3px rgba(0, 0, 0, 0.1) inset;
}


#profile-form .section {
    border-top: 1px solid #EDEDED;
    overflow: hidden;
    padding: 25px 0;
}


#profile-form .clear_border {
    border-top: none;
    padding-top: 10px;
}


#profile-form .section h4 {
    display: block;
    font-family: 'MuseoSans500', sans-serif;
    font-size: 14px;
    font-style: normal;
    margin: 0 0 10px;
    position: relative;
}


#profile-form .section .user_avatar {
    float: left;
    margin-right: 30px;
}


#profile-form .section .file_field {
    float: left;
}

#profile-form .section .fields {
    float: left;
    margin-right: 12px;
    position: relative;
}

#profile-form .section .fields .has_bulb {
    display: inline-block;
    margin-bottom: 6px;
}

#profile-form .section .fields label {
    display: block;
    margin-bottom: 10px;
}

#profile-form .section .fields label input {
    margin-right: 10px;
}

#profile-form .section .fields .enable_avatar {
    font-style: italic;
}

#profile-form .section .buttons {
    float: left;
    margin-top: 53px;
}

#profile-form .section .buttons button {
    font-family: Georgia, serif;
    font-size: 120%;
    font-style: italic;
    margin-right: 8px;
}

#profile-form .section .grey_label {
    clear: both;
    color: #999;
    font-size: 96%;
}

#profile-form .section_buttons .buttons {
    margin-top: 20px;
}

#profile-form .opt_in_info {
    font-style: italic;
}

#profile-form .opt_in_info input {
    margin-right: 10px;
}

#profile-form .suggestions {
    background: url(../img/template/sprites.png) no-repeat 0 -200px;
    height: 95px;
    margin-left: 10px;
    padding: 0 0 0 30px;
}

#profile-form .suggestions ul {
    list-style: none;
    margin-top: 18px;
    overflow: hidden;
}

#profile-form .suggestions li {
    color: #447bc4;
    float: left;
    font-size: 16px;
    font-style: italic;
    list-style: none;
    margin-right: 20px;
    width: 120px;
}

#profile-form button.save_changes {
    background-color: #669BE1;
    background: -moz-linear-gradient(center top, #669BE1 0%, #5784BF 100%) repeat 0 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5784BF), color-stop(1, #669BE1) );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669BE1', endColorstr='#5784BF',GradientType=0 );
    border: none;
    box-shadow: 0 1px rgba(0, 0, 0, 0.05), 0 -2px rgba(224, 239, 249, 0.9) inset;
    color: #fff;
    padding-bottom: 10px;
}

#profile-form button.save_changes:hover {
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(224, 239, 249, 0.9) inset, 0 0 100px rgba(255, 255, 255, 0.1) inset;
}
