/* Customize Step */
#customize {
    margin: 0 25px;
}

/* Banners */

#banner_options {
    list-style-type: none;
    padding: none;
    width: 600px;
}

#banner_options li {
    float: left;
    margin-right: 29px;
    width: 180px;
}

#banner_options li:last-child {
    margin-right: 0;
}

#banner_options label {
    display: block;
    font: 14px 'MuseoSans500', sans-serif;
    margin-bottom: 8px;
}

#banner_options select {
    min-width: 180px;
}

#banner_options .selector {
    width: auto;;
}

#banner_options .selector span {
    width: auto;
}

#banner_preview {
    background: #F6F9FD;
    border: 1px solid #EDEDED;
    height: 450px;
    line-height: 450px;
    margin: 10px 0 20px;
    overflow: auto;
    text-align: center;
}

#banner_preview img {
    vertical-align: middle;
}
