// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// Global styling and layout

@import 'fonts.styl';
@import 'reset.styl';
@import 'lib.styl';



//*----------------------------------------------------------------*/
// @General elements

html {
    background: #fff;
    font-size: $base-font-size;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $primary-text-color;
    background: #fff;
    height: 100%;
}

// We most often use lists for structure and don't style them as lists.
// Use a .prose class for lists appearing in normal content that need normal styling.
ol.prose {
    list-style: decimal;
    margin-left: 40px;
}

ul.prose {
    list-style: disc;
    margin-left: 40px;

    ul {
        list-style: circle;
        margin-left: 40px;
    }
}

.page-head .prose {
    text-align: left;
}

img.avatar {
    border: 3px solid $light-text-color;
    border-radius: 100%;
}

.faq dd {
    border-bottom: 1px dotted $medium-gray;
    margin: 0 0 1.5em;
}

img.lazy {
    display: none;
}


//*----------------------------------------------------------------*/
// @Headings

h1, h2, h3, h4, h5, h6, legend, dl.faq dt {
    color: $secondary-text-color;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: normal;
    letter-spacing: -.03em;
    line-height: 1.1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .35);
    margin: 0 0 .5em;
}

h1,
.page-title,
.section-title {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

h4,
legend,
dl.faq dt {
    font-size: 18px;
    letter-spacing: normal;
}

h5 {
    font-size: 16px;
    letter-spacing: normal;
}

h6 {
    font-size: 14px;
    letter-spacing: normal;
}

.page-title {
    text-align: center;
    margin: 0 auto .5em;
}

.section-title {
    text-align: center;
    margin: 0 auto .5em;
}



//*----------------------------------------------------------------*/
// @Links
a:link {
    color: $link-color;
    text-decoration: underline;
}

a:visited {
    color: desaturate($link-color, 30%);
}

a:hover,
a:focus,
a:active {
    color: darken($link-color, 30%);
}

.go:after {
    content: " »";
    white-space: nowrap;
}


//*----------------------------------------------------------------*/
// @Forms
input,
textarea,
select {
    font-family: inherit;
    font-size: 100%;
    color: $primary-text-color;
}

input,
textarea {
    background: #fff;
    padding: 3px 6px;
    border: 1px solid darken($light-gray, 20%);
    border-radius: 4px;

    &:hover,
    &:focus {
        border-color: darken($light-gray, 30%);
    }
}

fieldset.inline {
    legend {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        margin: 0 0 .25em;
        text-transform: uppercase;
    }

    ul, ol {
        margin: 0;
    }

    li {
        display: inline;
        margin-right: $grid-gutter-width;
    }
}

label {
    display: block;
    font-size: 14px;
    margin: 0 0 .25em;
    text-transform: uppercase;

    &.check {
        display: inline;
        margin: 0;
        text-transform: none;

        input {
            width: auto;
            background: transparent;
            border: 0;
            padding: 0;
        }
    }
}

.form-submit button {
    font-size: 14px;
    margin-right: 10px;
}



//*----------------------------------------------------------------*/
// @Buttons
// Standard orange buttons
.button,
.button:link,
.button:visited {
    background-color: #e46322;
    background-image: -webkit-linear-gradient(#f7921e, #e46322);
    background-image:         linear-gradient(#f7921e, #e46322);
    border-radius: .25em;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    min-width: 100px;
    padding: .25em 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1), inset 0 -2px 0 0 rgba(0, 0, 0, .2);
            box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0, 0, 0, .2);
    -webkit-transition: -webkit-box-shadow linear .25s;
       -moz-transition: box-shadow linear .25s;
            transition: box-shadow linear .25s;
}

.button:hover,
.button:focus,
.button:active {
    color: #fff;
    text-decoration: none;
    background-color: #f79e20;
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1), inset 0 -2px 0 0 rgba(0, 0, 0,.2), inset 0 12px 24px 2px #f79e20;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1), inset 0 -2px 0 0 rgba(0, 0, 0,.2), inset 0 12px 24px 2px #f79e20;
}

.button:focus {
  outline-color: #484848;
}

// Alternative blue buttons
.button.secondary {
    background-color: #276195;
    background-image: -webkit-linear-gradient(#3c88cc, #276195);
    background-image:         linear-gradient(#3c88cc, #276195);
}
.button.secondary:hover,
.button.secondary:focus,
.button.secondary:active {
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1), inset 0 -2px 0 0 rgba(0, 0, 0,.2), inset 0 12px 24px 2px #3089d8;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1), inset 0 -2px 0 0 rgba(0, 0, 0,.2), inset 0 12px 24px 2px #3089d8;

}

.button.cancel {
    background-color: $dark-gray;
    background-image: -webkit-linear-gradient(lighten($dark-gray, 20%), $dark-gray);
    background-image:         linear-gradient(lighten($dark-gray, 20%), $dark-gray);
}
.button.cancel:hover,
.button.cancel:focus,
.button.cancel:active {
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1), inset 0 -2px 0 0 rgba(0, 0, 0,.2), inset 0 12px 24px 2px lighten($dark-gray, 25%);
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1), inset 0 -2px 0 0 rgba(0, 0, 0,.2), inset 0 12px 24px 2px lighten($dark-gray, 25%);

}



//*----------------------------------------------------------------*/
// @Layout containers

#outer-wrapper {
    background: $light-gray url(/static/img/light-grain.png);
    border-top: 2px solid #fff;
    position: relative;
    min-height: 99%;
}

.section {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding: 24px 0;
}

.page-head {
    {section-dark}

    margin-top: -125px;
    padding-top: 150px;
    text-align: center;

    .tagline {
        text-align: center;
        font-size: 18px;
        margin: -.25em 0 1.5em;
    }
}

.section:last-child {
    border-bottom: 0;
}

.contain {
    margin: 0 auto;
    min-width: 290px;
    padding: 0 20px;
    position: relative;
    clearfix();
}

.notice {
    background: #a4abae;
    background: rgba( 255, 255, 255, .35);
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    color: $secondary-text-color;
    display: inline-block;
    font-size: 20px;
    font-style: italic;
    margin: .5em auto 1em;
    padding: 10px 30px;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, .25);

    p {
        margin: 0;
    }
}

.notice.error {
    background: #b9a38f;
    background: rgba(255, 200, 155, .5);
}



//*----------------------------------------------------------------*/
// @Header

#masthead .contain {
    padding-top: 48px;
    height: 77px;
}

#masthead #tabzilla {
    position: absolute;
    right: 15px;
    top: 0;
}

#nav-main {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 10;

    .menu {
        margin: 0;
        min-width: 160px;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, .2);
        position: absolute;
        top: 40px;
        left: -999em;
        padding: 2px;
        background: #fff;

        li {
            font-size: 14px;
            text-transform: uppercase;
            border-bottom: 1px solid $light-gray;
            margin: 0;

            &:last-child {
                border: 0;
            }
        }

        &:before {
            content: '';
            border-bottom: 12px solid #fff;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            position: absolute;
            top: -10px;
            left: 14px;
        }

        &:after {
            content: '';
            height: 20px;
            width: 100%;
            position: absolute;
            top: -20px;
            left: 0;
        }
    }

    .submenu {
        border-top: 1px solid $light-gray;
        margin: 0;

        li {
            font-size: 12px;
        }

        a {
            padding: .3em 15px .3em 20px;
        }

    }

    a {
        text-decoration: none;
        display: block;
        padding: .3em 10px;

        &:hover,
        &:focus,
        &:active {
            background: $light-gray;
        }
    }

    .toggle {
        background: url(/static/img/icn-menu.png) center center no-repeat;
        cursor: pointer;
        display: block;
        height: 32px;
        overflow: hidden;
        position: relative;
        text-indent: 150%;
        top: -3px;
        width: 32px;
    }

    .avatar {
        vertical-align: middle;
        margin-right: 6px;
    }

}

.no-js #nav-main:hover .menu,
.no-js #nav-main .toggle:hover + .menu {
    left: -10px;
}

.js #nav-main .menu {
    left: -10px;
    display: none;
}

.js #nav-main .submenu {
    display: block;
}



//*----------------------------------------------------------------*/
// @Newsletter

#newsletter {
    padding: 20px 0;
    {section-dark}
    {invert-links}

    h3 {
        font-size: 24px;
        margin-top: 1em;
    }

    li {
        margin: 0 0 .5em;
    }

    .inline li {
        margin: 0 $grid-gutter-width 0 0;
    }

    input[type~='text, email'],
    select {
        width: 90%;
    }

    .form-submit {
        padding-top: 1.75em;

        button {
            font-size: 14px;
        }
    }

    .form-extra {
        display: none;
        margin: 1em 0 0;
    }
}

//*----------------------------------------------------------------*/
// @Footer

#footer {
    background: $dark-gray url(/static/img/dark-grain.png) repeat;
    color: $light-text-color;
    font-size: 12px;
    padding: 48px 0;

    {invert-links}
}

.footer-logo a {
    opacity: .8;
    transition: opacity .1s linear;

    &:hover,
    &:focus {
        opacity: 1;
    }
}



//*----------------------------------------------------------------*/
// @Milestones

.timeline {
    background: url(/static/img/milestone-line.png) 30px top repeat-y;
    position: relative;
    margin: 60px 0;

    .milestone {
        margin: 0 0 20px;
        min-height: 60px;
        padding: 10px 0 0 85px;
        background: url(/static/img/milestone-dot.png) 4px top no-repeat;
        position: relative;

        h3 {
            {normalize-heading}
            font-size: 18px;
        }
    }

    .milestone:first-child {
        top: -30px;
        margin-bottom: -10px;
    }

    .milestone:last-child {
        bottom: -30px;
        margin-top: -30px;
    }

}



//*----------------------------------------------------------------*/
// @Leaderboard

table.leaderboard {
    width: 100%;
    margin: 0 auto 30px;

    th, td {
        text-align: left;
        padding: 20px 10px;
        vertical-align: top;
        font-size: 24px;
        font-weight: normal;
        line-height: 1.1;
    }

    thead th {
        font-style: italic;
        font-size: 18px;
    }

    tbody tr:nth-child(odd) {
        background: rgba(130, 140, 150, .1);
    }

    .rank {
        width: 30px;
        text-align: center;
    }

    .vcard {
        padding-left: 80px;
        position: relative;

        a:link,
        a:visited {
            color: $secondary-text-color;
            text-decoration: none;
        }

        a:hover,
        a:focus,
        a:active {
            color: darken($link-color, 30%);
            text-decoration: underline;
        }

        .avatar {
            float: left;
            margin: -15px 0 -15px -80px;
            width: 55px;
            height: 55px;
        }

        .fn {
            font-size: 22px;
            font-weight: normal;
            display: block;
            margin-top: -3px;
            margin-bottom: -.35em;
        }

        .website {
            font-size: 14px;
            margin-bottom: -20px;
        }
    }

    .clicks {
        width: 30%;
        font-weight: bold;
        font-style: italic;
        font-size: 26px;
    }

}



//*----------------------------------------------------------------*/
// @Banner list/gallery

.banners-list {
    margin: 0 auto 2em;
    clearfix();

    .banner {
        width: 200px;
        margin: 0 auto 1.5em;
        text-align: center;
        position: relative;

        a {
            text-decoration: none;
            color: inherit;
            display: block;
            padding: 155px 10px 10px;
            position: relative;
            border-radius: 6px;
            transition: background ease-in-out .25s;

            &:hover,
            &:focus,
            &:active {
                background: lighten($light-gray, 25%);
                background: rgba(255, 255, 255, .25);
            }

            &:hover .name,
            &:focus .name {
                text-decoration: underline;
            }
        }

        .flag {
            background: #374655;
            background: rgba(55, 70, 85, .85);
            box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .15);
            color: $light-text-color;
            font-size: 12px;
            font-style: normal;
            text-align: right;
            text-transform: uppercase;
            margin-right: -75px;
            padding: 1px 24px 1px 6px;
            position: absolute;
            right: 50%;
            top: 25px;
            z-index: 5;

            .help {
                background: transparent url(/static/img/icn-help.png) center center no-repeat;
                border-radius: 0;
                display: block;
                width: 24px;
                height: 24px;
                margin-top: -14px;
                overflow: hidden;
                padding: 2px;
                position: absolute;
                top: 50%;
                right: -12px;
                text-indent: 200%;
                white-space: nowrap;
            }
        }

    }

    .name {
        {normalize-heading}
        font-size: 18px;
        margin-bottom: .5em;
    }

    .desc {
        font-size: 14px;
        margin: 0;
    }

    .preview {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -66px;
        width: 125px;
        height: 125px;
        padding: 4px;
    }

    .text .preview {
        background: #5e7489;
        border: 4px solid #f0f8fb;
        color: $light-text-color;
        font-size: 12px;
        line-height: 1.35;
        height: 105px;
        width: 105px;
        overflow: hidden;
        padding: 10px;
        text-align: left;
        text-overflow: ellipsis;
    }
}

body.noscroll {
    overflow-y: hidden;
}

#modal {
    background: rgba(78, 79, 83, .75) url(/static/img/dark-grain.png);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    overflow: auto;
    display: none;

    .inner {
        background: $light-gray url(/static/img/light-grain.png);
        border-radius: 12px;
        border: 6px solid $medium-gray;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
        margin: 30px auto;
        max-width: $width-mobile-wide;
        padding: 40px;
        position: relative;
        width: 80%;
    }

    .close {
        position: absolute;
        top: 6px;
        right: 6px;
        padding: 5px;
        width: 25px
        height: 25px;
        min-width: 0;
        text-indent: 50px;
        white-space: nowrap;
        overflow: hidden;

        &:after {
            font-family: 'Font Awesome';
            font-size: 18px;
            content: '\f00d';
            position: absolute;
            left: 0;
            top: .125em;
            width: 25px;
            height: 25px;
            text-indent: 0;
            text-align: center;
        }
    }
}



//*----------------------------------------------------------------*/
// @Mobile @Landscape layout: 480px

@media $media-query-mobile-wide {

    .banners-list {
        width: $width-mobile-wide;

        .banner {
            margin: 0 10px 1.5em;
            float: left;
        }
    }

    .banners-list .banner:nth-child(2n+1) {
        clear: left;
    }

}



//*----------------------------------------------------------------*/
// @Tablet layout: 760px

@media $media-query-tablet {

    table.leaderboard {
        width: 80%;
    }

    #nav-main {
        left: auto;
        top: 10px;
        right: 160px;

        a {
            display: inline-block;
            padding: 0;
            color: $light-text-color;

            &:hover,
            &:focus,
            &:active {
                background: transparent;
                text-decoration: underline;
            }
        }

        .menu {
            background: transparent;
            padding: 0;
            box-shadow: none;
            position: static;

            &:before {
                border: 0;
                display: none;
            }

            li {
                display: inline-block;
                border: 0;
                padding: 0 10px;

                &.user,
                &.signin {
                    border-left: 1px solid #fff;
                }
            }
        }

        .user {
            position: relative;

            &:after {
                font-family: 'Font Awesome';
                content: '\f0d7';
                color: $light-gray;
                margin-left: 6px;
                font-size: 15px;
            }
        }

        .submenu {
            border: 0;
            position: absolute;
            top: 2.75em;
            left: -999em;
            min-width: 160px;
            box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .2);

            &:before {
                content: '';
                border-bottom: 12px solid #fff;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                position: absolute;
                top: -10px;
                left: 16px;
            }

            &:after {
                content: '';
                height: 18px;
                width: 100%;
                position: absolute;
                top: -18px;
                left: 0;
            }

            li {
                border-bottom: 1px solid $light-gray;
                display: block;
                padding: 0 2px;
                background: #fff;

                &:first-child {
                    padding-top: 2px;
                }

                &:last-child {
                    border: 0;
                    padding-bottom: 2px;
                }
            }

            a {
                display: block;
                padding: .3em 15px;
                color: $link-color;

                &:hover,
                &:focus,
                &:active {
                    background: $light-gray;
                    text-decoration: none;
                }
            }

            .user.open > a {
                text-decoration: underline;
            }
        }

        .toggle {
            display: none;
        }
    }

    .no-js #nav-main:hover .menu,
    .no-js #nav-main .toggle:hover + .menu {
        left: auto;
    }

    .no-js #nav-main .user:hover .submenu,
    .no-js #nav-main .user a:focus + .submenu {
        left: -5px;
    }

    .js #nav-main .submenu {
        left: -5px;
        display: none;
    }

    h1,
    .section-title,
    .page-title {
        font-size: 48px;
    }

    h2,  {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4,
    legend,
    dl.faq dt {
        font-size: 24px;
    }

    .page-head .tagline {
        margin: .5em $grid-column-width 1.5em;
    }

    .contain {
        width: $width-tablet - ($grid-gutter-width * 2);
    }

    #newsletter {
        .col {
            span_narrow(4);

            .col {
                margin: 0;
            }
        }

        h3 {
            margin-top: 1em;
        }
    }

    .footer-license,
    .footer-lang {
        span_narrow(3);
    }

    .footer-logo,
    .footer-nav {
        span_narrow(2);
    }

    .footer-license {
        margin-right: $grid-narrow-column-width + $grid-gutter-width;
    }

    .banners-list {
        width: auto;
    }

    .banners-list .banner:nth-child(4n+1),
    .banners-list .banner:nth-child(2n+1) {
        clear: none;
    }

    .banners-list .banner:nth-child(3n+1) {
        clear: left;
    }
}



//*----------------------------------------------------------------*/
// @Desktop layout: 1000px

@media $media-query-desktop {

    .contain {
        width: $width-desktop - ($grid-gutter-width * 2);
    }

    #newsletter .col {
        span(4);
    }

    .footer-license,
    .footer-lang {
        span(3);
    }

    .footer-logo,
    .footer-nav {
        span(2);
    }

    .footer-license {
        margin-right: $grid-column-width + $grid-gutter-width;
    }

    .banners-list {
        width: auto;
    }

    .banners-list .banner:nth-child(3n+1) {
        clear: none;
    }

    .banners-list .banner:nth-child(4n+1) {
        clear: left;
    }

}



//*----------------------------------------------------------------*/
// More height for tall viewports

@media screen and (min-height: 600px) {

    .section {
        padding: 48px 0;
    }

    .page-head {
        padding-top: 175px;
        margin-top: -125px;
    }

    #modal .inner {
        margin: 80px auto;
    }

}
