// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


@import 'stats.styl';
@import 'milestones.styl';

// The dashboard

.mystats {
    padding-top: 30px;
    background: transparent url(/static/img/div-shadow-narrow.png) center top no-repeat;

    h2 {
        font-size: 36px;
        margin: 0 0 .5em;
    }
}

#mybanners {

    header {
        margin: 0 0 30px;
        overflow: hidden;
        position: relative;

        .section-title {
            text-align: left;
            margin-top: 0;
        }

        .create {
            position: absolute;
            right: 0;
            top: .5em;
        }
    }

    .all {
        text-align: center;
    }
}

#mymilestones {
    {section-medium}
}



#news {
    {section-orange}
    {light-links}

    .entry-title {
        font-size: 36px;
        margin: 0 0 .5em;
    }

    .hentry {
        font-size: 18px;
    }

    .sidebar {
        padding: 20px;
        font-size: 16px;
        background: rgba(0, 0, 0, .05);

        h2 {
            {normalize-heading}
            font-size: 26px;
            margin: 0 0 .5em;
        }
    }
}



//*----------------------------------------------------------------*/
// @Tablet layout: 760px

@media $media-query-tablet {

    .mystats {
        background-image: url(/static/img/div-shadow.png);
    }

    #news {
        .hentry {
            width: 460px;
            float: left;
        }

        .sidebar {
            width: 200px;
            float: right;
        }
    }

}



//*----------------------------------------------------------------*/
// @Desktop layout: 1000px

@media $media-query-desktop {

    #news .hentry {
        width: 620px;
    }

}
