// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// The home page

@import 'lib.styl';
@import 'steps.styl';

#intro {
    {section-dark}

    background: url(/static/img/bg-dots.png) center bottom no-repeat,
                url(/static/img/dark-grain.png),
                linear-gradient(to top, rgba(85, 90, 95, .25) 0, rgba(85, 90, 95, 0) 15px),
                linear-gradient(to bottom, darken($medium-gray, 20%) 0, $medium-gray 350px),
                $medium-gray;

    .button {
        min-width: 200px;
    }

}

#rewards {
    {section-orange}

    h2 {
        color: $light-text-color;
        text-shadow: none;
        margin: 0 0 .5em;
    }

    p {
        text-align: center;
        margin: 0 0 .5em;
    }
}

#leaderboard {
    .stats {
        font-size: 24px;
        font-style: italic;
        text-align: center;
        line-height: 1.1;
        margin: 0 $grid-column-width 1em;

        li {
            padding: 1em 0;

            &:nth-child(2) {
                border: groove rgba(255, 255, 255, .75);
                border-width: 2px 0;
            }

            strong {
                display: block;
                font-size: 1.25em;
            }
        }
    }

    .more {
        text-align: center;
    }
}



//*----------------------------------------------------------------*/
// @Tablet layout: 760px

@media $media-query-tablet {

    #intro {
        background: url(/static/img/bg-crowd.png) center bottom no-repeat,
                    url(/static/img/bg-dots.png) center bottom no-repeat,
                    url(/static/img/dark-grain.png),
                    linear-gradient(to top, rgba(85, 90, 95, .25) 0, rgba(85, 90, 95, 0) 15px),
                    linear-gradient(to bottom, darken($medium-gray, 20%) 0, $medium-gray 350px),
                    $medium-gray;
        background-size: 940px 142px, auto, auto, auto, auto;
        padding-bottom: 80px;

        h1 {
            font-size: 48px;
        }

        .button {
            font-size: 24px;
        }
    }

    #rewards p {
        font-size: 24px;
        margin: 0 $grid-column-width .5em;
    }

    #leaderboard .stats {
        width: $width-tablet;
        margin: 1em auto 2em;

        li {
            width: 30%;
            padding: 0 1%;
            display: inline-block;

            &:nth-child(2) {
                border-width: 0 2px;
            }

        }
    }

}



//*----------------------------------------------------------------*/
// @Desktop layout: 1000px

@media $media-query-desktop {

    #intro {
        background-size: auto;
        padding-bottom: 110px;

        h1 {
            font-size: 60px;
        }
    }

}


