// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


@import 'lib.styl';

// Stats

.stats {
    margin: 20px 0;

    li {
        margin: 0;
        font-size: 18px;
        text-align: left;
        padding: 20px 0 20px 120px;
        position: relative;
        border-width: 1px 0;
        border-top: 1px solid rgba( 255, 255, 255, .25);
        border-bottom: 1px solid rgba( 0, 0, 0, .25);

        &:first-child {
            border-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }

        strong {
            font-size: 28px;
            font-style: italic;
            line-height: .5;
        }

        &:before {
            width: 80px;
            height: 50px;
            display: block;
            font-size: 60px;
            line-height: 1;
            position: absolute;
            top: 10px;
            left: 20px;
            font-family: 'Font Awesome';
            color: darken($medium-gray, 15%);
            text-shadow: 0 0 3px rgba(255, 255, 255, .25);
        }

        &.ranking:before {
            content: '\f091';
        }

        &.downloads:before {
            content: '\f019';
        }

        &.banners:before {
            content: '\f02e';
        }

        &.clicks:before {
            content: '\f05b';
        }

        &.users:before {
            content: '\f007';
        }

        &.parent:before {
            content: '\f126';
        }
    }
}



//*----------------------------------------------------------------*/
// @Tablet layout: 760px

@media $media-query-tablet {

    .stats {

        li {
            float: left;
            margin: 0 0 20px;
            height: 2.5em;
            width: 33%;
            padding: 70px 0 0;
            text-align: center;
            border-top: 0;
            border-bottom: 0;
            border-left: 1px solid rgba( 255, 255, 255, .25);
            border-right: 1px solid rgba( 0, 0, 0, .25);

            &:first-child {
                border-left: 0;
            }

            &:last-child {
                border-right: 0;
            }

            &:before {
                width: 100%;
                height: 50px;
                display: block;
                font-size: 60px;
                line-height: 1;
                position: absolute;
                top: 0;
                left: 0;
            }

        }

        &.col-2 li {
            width: 49%;
        }
    }

}
