// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// How it works, in three steps

.steps {

    clearfix();

    li {
        padding: 0 0 20px 80px;
        position: relative;

        p {
            margin: 0 auto;
            max-width: 290px;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 .75em;
    }
}

//*----------------------------------------------------------------*/
// @Mobile layout: 480px

@media $media-query-mobile {
    .steps {
        li {
            padding: 15px 30px;

            p {
                margin: auto;
                max-width: 100%;
            }
        }
    }
}

//*----------------------------------------------------------------*/
// @Landscape mobile layout: 440px

@media $media-query-mobile-wide {

    .steps {
        li {
            padding: 15px 30px;

            p {
                margin: auto;
                max-width: 100%;
            }
        }

        h3:before {
            width: 80px;
            font-size: 80px;
        }
    }
}



//*----------------------------------------------------------------*/
// @Tablet layout: 760px

@media $media-query-tablet {

    .steps {
        li {
            span_narrow(4);
            padding: 0;
            text-align: center;
        }

        h3:before {
            left: 0;
            top: 10px;
            width: 100%;
            font-size: 100px;
        }
    }
}



//*----------------------------------------------------------------*/
// @Desktop layout: 1000px

@media $media-query-desktop {

    .steps li {
        span(4);
    }

}
