<table class="leaderboard">
  <thead>
    <tr>
      <th scope="col">{{ _('Rank') }}</th>
      <th scope="col">{{ _('Affiliate') }}</th>
      <th scope="col">{{ _('Number of clicks') }}</th>
    </tr>
  </thead>
  <tbody>
    {% for standing in standings %}
      <tr>
        <td class="rank">{{ standing.ranking|babel_number }}</td>
        <th scope="row" class="vcard">
          <a href="{{ standing.user.userprofile.get_absolute_url() }}" class="url">
            <img src="{{ static('img/avatar.jpg') }}" data-src="{{ gravatar(standing.user) }}" alt="" class="avatar lazy">
            <noscript>
              <img src="{{ gravatar(standing.user) }}" alt="" class="avatar">
            </noscript>
            <strong class="fn">{{ standing.user.display_name }}</strong>
          </a>
          {% if standing.user.userprofile.website %}
            <a href="{{ standing.user.userprofile.website }}" rel="external" class="url website">{{ standing.user.userprofile.website }}</a>
          {% endif %}
        </th>
        <td class="clicks">{{ standing.value|babel_number }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
