{% extends "smuggler/change_list.html" %}
{% load i18n %}

{% block extrahead %}
  {{ block.super }}
  <script>
    (function($) {
      $(document).ready(function() {
        $('#result_list').append($('#result_totals tfoot')[0]);
        $('#result_totals').remove();
      });
    })(django.jQuery);
  </script>  
{% endblock extrahead %}

{% block result_list %}
  {{ block.super }}
  <table id="result_totals">
      <tfoot>
          <tr>
            <td></td>
            <td>Total clicks</td>
            <td>{{ total }}</td>
          </tr>
      </tfoot>
  </table>
{% endblock %}
