[submodule "vendor"]
	path = vendor
	url = https://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-cache-machine"]
	path = vendor-local/src/django-cache-machine
	url = git://github.com/jbalogh/django-cache-machine.git
[submodule "vendor-local/src/django-smuggler"]
	path = vendor-local/src/django-smuggler
	url = git://github.com/semente/django-smuggler.git
[submodule "vendor-local/src/django-cronjobs"]
	path = vendor-local/src/django-cronjobs
	url = git://github.com/jsocol/django-cronjobs.git
[submodule "vendor-local/src/django-extensions"]
	path = vendor-local/src/django-extensions
	url = git://github.com/django-extensions/django-extensions.git
[submodule "vendor-local/src/django-csp"]
	path = vendor-local/src/django-csp
	url = git://github.com/mozilla/django-csp.git
[submodule "vendor-local/src/basket-client"]
	path = vendor-local/src/basket-client
	url = git://github.com/mozilla/basket-client.git
[submodule "vendor-local/src/django-browserid"]
	path = vendor-local/src/django-browserid
	url = git://github.com/mozilla/django-browserid.git
[submodule "vendor-local/src/pystatsd"]
	path = vendor-local/src/pystatsd
	url = git://github.com/jsocol/pystatsd.git
[submodule "vendor-local/src/django-statsd"]
	path = vendor-local/src/django-statsd
	url = git://github.com/andymckay/django-statsd.git
[submodule "vendor-local/src/django-qsstats-magic"]
	path = vendor-local/src/django-qsstats-magic
	url = git://github.com/kmike/django-qsstats-magic.git
[submodule "vendor-local/src/django-form-utils"]
	path = vendor-local/src/django-form-utils
	url = git://github.com/carljm/django-form-utils.git
[submodule "affiliates/shared/templates/global"]
	path = affiliates/shared/templates/global
	url = https://github.com/mozilla/django-moz-header.git
[submodule "static/global"]
	path = static/global
	url = https://github.com/mozilla/django-moz-header.git
