{% extends 'facebook/base.html' %}

{% set nav_section = 'banners' %}

{% block site_js %}
  {{ super() }}
  {{ js('fb_banner_create') }}
{% endblock %}

{% block content %}
{% set sub_nav_section = 'banner_create' %}
{% include 'facebook/include/sub-nav.html' %}

<form id="create-banner-form" method="post" action="{{ url('facebook.banner_create') }}">
  {{ csrf() }}
  <section id="select">
    {# L10n: Banner styles are images that will be used as the background of a banner that the user creates. #}
    <h2>{{ _('First, choose one of the banner styles below.') }}</h2>
    {{ form.banner }}
  </section>

  <section id="configure">
    <div id="banner-preview">
      <p class="errors">{{ _('Please correct the errors in the form below.') }}</p>
      {# L10n: Used above a box showing what a banner will look like once it is created. #}
      <h3>{{ _('Your banner preview') }}</h3>
      <figure>
        <img id="banner" src="{{ MEDIA_URL }}img/facebook/banners/placeholder.png" alt="" width="300" height="216">
        <img id="userpic" src="{{ request.user.picture_url }}" alt="" width="50" height="50">
      </figure>
    </div>

    {# ToDo: Integrate and style the error messages. #}

    <div id="banner-msg">
      <h2>{{ form.text.label_tag(_('Next, tell the world why you love Firefox in 90 characters or less.')) }}</h2>
      <p>{{ form.text }}</p>
    </div>

    <fieldset id="banner-opts">
      <p>
        {{ form.use_profile_image.label_tag([form.use_profile_image, _('Use my profile image')]|join(' ')) }}
      </p>
      <p>
        {# L10n: Label for a checkbox that gives us permission to use the user's banner in a paid Facebook ad. #}
        {{ form.can_be_an_ad.label_tag([form.can_be_an_ad, _('Feature me in a paid Facebook ad.')]|join(' ')) }}

        {# L10n: Used on a link that, when clicked, pops up a text bubble with an explanation of a form field. #}
        <a href="#ad-note" class="note-link">{{ _('What does this mean?') }}</a>
      </p>
      <p id="ad-note" aria-hidden="true">
      {% trans link='mailto:affiliates@mozilla.org', click_count=50 %}
        If you get {{ click_count }} clicks or more, we would like to have permission
        to turn your banner into a paid ad on Facebook in your region. By checking
        this box you are granting us permission to use your banner in a paid Facebook
        ad, including your profile photo if you checked the box to include it in the
        banner, and the text you added to the banner. For a full description of the
        rights you are granting and more information, see the FAQs. Don't want to be
        featured in an ad? Make sure you don't opt in. If you opted in and don't want
        to be featured anymore, send us a note at <a href="{{ link }}">affiliates@mozilla.org</a>
        and we'll make sure your ad is removed.
      {% endtrans %}
      </p>
    </fieldset>

    <div class="fm-submit">
      {# Placeholder spinner until we get a better looking one. #}
      <img src="{{ MEDIA_URL }}img/template/loading.gif" class="loading">
      <button type="submit" name="_next_action" value="save" class="button-blue"><i>{{ _('Save') }}</i></button>
      <button type="submit" name="_next_action" value="share" class="button-blue"><i>{{ _('Save and Share') }}</i></button>
      <input type="hidden" name="next_action" value="save">
    </div>

  </section>
</form>
{% endblock %}