{% extends 'facebook/base.html' %}

{% block site_js %}
  {{ super() }}
  {{ js('fb_banner_list') }}
{% endblock %}

{% block content %}
{% set sub_nav_section = 'banner_list' %}
{% include 'facebook/include/sub-nav.html' %}

  <h1>My Banners</h1>
  <ol class="banner-list"
      data-share-banner-redirect="{{ share_banner_redirect }}">
    {% for banner_instance in banner_instances %}
      <li>
        <img src="{{ absolutify(banner_instance.banner.image.url) }}">
        <p>{{ banner_instance.text }}</p>
        <p>Clicks: {{ banner_instance.total_clicks }}</p>
        <p>
          <a class="share-banner"
             data-img="{{ absolutify(banner_instance.banner.image.url) }}"
             data-text="{{ banner_instance.text }}"
             data-link="{{ banner_instance.link }}"
             href="#">
             Post to Wall
          </a>
        </p>
      </li>
    {% endfor %}
  </ol>
{% endblock %}