{% extends 'facebook/base.html' %}

{% block site_js %}
  {{ super() }}
  {{ js('fb_banner_list') }}
{% endblock %}

{% block content %}
  <h1>My Banners</h1>
  <ol class="banner-list"
      data-share-banner-redirect="{{ share_banner_redirect }}">
    {% for banner_instance in banner_instances %}
      <li>
        <img src="{{ banner_instance.banner.image.url }}">
        <p>{{ banner_instance.text }}</p>
        <p>
          <a class="share-banner"
             data-img="{{ banner_instance.banner.image.url }}"
             data-text="{{ banner_instance.text }}"
             href="#">
             Post to Wall
          </a>
        </p>
      </li>
    {% endfor %}
  </ol>
{% endblock %}