<!DOCTYPE html>
<html>
  <head>
    <title>Affiliates Facebook</title>
    {% block site_css %}
      {{ css('fb_base') }}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <header class="head">
        <hgroup>
          <h1><a href="{{ url('facebook.banner_list') }}">{{ _('Firefox Affiliates') }}</a></h1>
          <h2>{{ _('Help us share Firefox with the world.') }}</h2>
        </hgroup>

        <aside class="download">
          <a href="{{ url('facebook.invite') }}" class="button-blue">{{ _('Invite your friends to Download Firefox!') }}</a>
        </aside>
      </header>

      <nav class="nav-tabs">
        <ul>
          <li class="selected"><a href="{{ url('facebook.banner_list') }}">{{ _('My banners') }}</a></li>
          {# L10n: Refers to Frequently Asked Questions, a page that shows answers to common questions about the app. #}
          <li><a href="#">{{ _('FAQs') }}</a></li>
          {# L10n: Refers to a page that shows the top 25 users with the most clicks on their banners. #}
          <li><a href="{{ url('facebook.leaderboard') }}">{{ _('Leaderboard') }}</a></li>
        </ul>
      </nav>

      <div class="main">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% block content %}

      {% endblock %}
      </div><!-- /.main -->

      <aside class="sub">

        <div id="user-tools" class="module">
          <h2>
            <img class="avatar" src="{{ request.user.picture_url }}" alt="" width="35" height="35">
            {{ request.user.full_name }}
          </h2>

          {% if account_link_form %}
          <div class="account-link">
            {# ToDo: Build the linked version of this, with the option to unlink the account. #}

            {# L10n: Account linking lets a user associate an Affiliates account with their Facebook app account. Description is in another string. :D #}
            <p class="not-linked"><a href="#link-account">{{ _('Link your Firefox Affiliates account') }}</a></p>

            <form method="post" id="link-account" action="{{ absolutify(url('facebook.link_accounts')) }}">
              <div class="form">
                {{ csrf() }}
                <p>
                  {% trans link='https://affiliates.mozilla.org' %}
                  Do you already have an account from affiliates.mozilla.org? You can link
                  your account to this application and you'll get credit for any clicks that
                  you drive through Facebook. To connect your account, just click here and
                  fill in your information. We'll send you an email to confirm. If you'd like
                  to sign up for an account, just visit <a href="{{ link }}">affiliates.mozilla.org</a>.
                  {% endtrans %}
                </p>
                <p class="email">
                  {{ account_link_form.affiliates_email }}
                  {# L10n: Label used for the account linking button. #}
                  <button type="submit">{{ _('Submit') }}</button>
                </p>
              </div>
              <div class="success-msg">
                <p>{{ _('Thanks for linking your affiliates.mozilla.org account.') }}</p>
                <p>{{ _('If the email address you entered has an account, you will receive a confirmation email.') }}</p>
              </div>
            </form>
          </div>
          {% endif %}

          <h3>{{ _('Your Statistics Summary') }}</h3>
          <div class="calendar">
            [[calendar widget goes here]]
          </div>
          <p class="note">{{ _('You can filter results by selecting a specific month using the calendar above.') }}</p>
          <p class="total">{{ _('Total clicks') }} <strong>234</strong></p>
        </div>

        <div id="help" class="module">
          <h2>{{ _('Be a part of the Firefox movement') }}</h2>
          <h3>{{ _('It\'s easy!') }}</h3>
          <ol>
            <li><a href="{{ url('facebook.banner_create') }}">{{ _('Create your custom banner.') }}</a></li>
            <li><a href="{{ url('facebook.invite') }}">{{ _('Invite your friends to Download Firefox!') }}</a></li>
            <li><a href="{{ url('facebook.leaderboard') }}">{{ _('Get clicks and you could be featured in a paid Facebook ad.') }}</a></li>
          </ol>
        </div>

        {% if newsletter_form %}
        <div id="newsletter" class="module">
          <h2>{{ _('Get Firefox News') }}</h2>
          <form id="newsletter-form" method="post" action="{{ url('facebook.newsletter.subscribe') }}">
            {{ csrf() }}
            <p>
              {{ newsletter_form.email.label_tag(_('Your email address')) }}
              {{ newsletter_form.email }}
            </p>
            <div class="options">
              <p>
                {{ newsletter_form.country }}
              </p>
              <p>
                {{ newsletter_form.format }}
              </p>
              <p>
                {# Using our own manual label because you can't store the content of a trans block in a variable for the label_tag function. #}
                <label for="id_privacy_policy_agree">
                  {{ newsletter_form.privacy_policy_agree }}
                  {% trans link='privacy_policy' %}
                  I agree to the <a href="{{ link }}">Privacy Policy</a>
                  {% endtrans %}
                </label>
                <em class="note">{{ _('We will only send you Mozilla-related information.') }}</em>
              </p>
            </div>
            <p class="news-submit">
              {# L10n: Label used for the newsletter signup button. #}
              <button type="submit" class="button-blue">{{ _('Sign me up!') }}</button>
            </p>
          </form>
          <div id="newsletter-success">
            <span class="msg">{{ _('Thanks!') }}</span>
          </div>
        </div>
        {% endif %}

      </aside><!-- /.sub -->
    </div><!-- /.container -->
    {% block site_js %}
      {{ js('fb_common') }}
    {% endblock %}
  </body>
</html>
