<!DOCTYPE html>
<html>
  <head>
    <title>Affiliates Facebook</title>
    <!-- I prefer a style block for this debug frame to keep it simple. -->
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      iframe {
        border: none;
        width: 760px;
        margin: 0px auto;
        height: 100%;
        display: block;
      }
    </style>
  </head>
  <body>
    <iframe src="data:text/html;base64,{{ content }}"></iframe>
  </body>
</html>
