{% extends 'facebook/base.html' %}

{% block content %}
  <h2 class="page-title">{{ _('Affiliates with the most clicks') }}</h2>

  <form class="select-country" method="post">
    <p>
      <select name="country">
        {# L10n: Used in a dropdown that lets users filter the Leaderboard by country. Refers to the default filter, which shows all countries. #}
        <option value="all" selected>{{ _('All') }}</option>
        <option value="us">United States</option>
        <option value="ca">Canada</option>
        <option value="ch">Switzerland</option>
        <option value="etc">And so on</option>
      </select>
    </p>
  </form>

  <table class="board">
    <thead>
      <tr>
        {# L10n: Column heading in the leaderboard #}
        <th class="rank" scope="col">{{ _('Rank') }}</th>
        {# L10n: Column heading in the leaderboard #}
        <th class="user" scope="col">{{ _('User') }}</th>
        {# L10n: Column heading in the leaderboard #}
        <th class="clicks" scope="col">{{ _('Total clicks') }}</th>
      </tr>
    </thead>
    <tbody class="you">
      <tr>
        <th class="rank" scope="row">
          {% if request.user.leaderboard_position != -1 %}
            {{ request.user.leaderboard_position }}
          {% endif %}
        </th>
        <td class="user"><img class="avatar" src="{{ request.user.picture_url }}" alt="" width="35" height="35"> {{ request.user.full_name }}</td>
        <td class="clicks">{{ request.user.total_clicks }}</td>
      </tr>
    </tbody>
    <tbody class="leaders">
    {% for user in top_users %}
      <tr>
        <th class="rank" scope="row">{{ user.leaderboard_position }}</th>
        <td class="user"><img class="avatar" src="{{ user.picture_url }}" alt="" width="27" height="27"> {{ user.first_name }} {{ user.last_name|first }}.</td>
        <td class="clicks">{{ user.total_clicks }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}