{# Global #}
{{ _('Firefox Affiliates') }}
{{ _('Help us share Firefox with the world.') }}
{{ _('My banners') }}
{# L10n: Refers to Frequently Asked Questions, a page that shows answers to common questions about the app. #}
{{ _('FAQs') }}
{# L10n: Refers to a page that shows the top 25 users with the most clicks on their banners. #}
{{ _('Leaderboard') }}
{{ _('Invite your friends to Download Firefox!') }}


{# Banner Alt Tags #}
{# L10n: Description of a banner for use in alt attribute for accessibility. #}
{{ _('Download Firefox (Large Firefox logo rising in front of an orange background)') }}
{# L10n: Description of a banner for use in alt attribute for accessibility. #}
{{ _('Download Firefox (Small Firefox logo on a light blue background)') }}
{# L10n: Description of a banner for use in alt attribute for accessibility. #}
{{ _('Download Firefox (Large Firefox logo resting on a light blue background)') }}
{# L10n: Description of a banner for use in alt attribute for accessibility. #}
{{ _('Download Firefox (For Android. A mobile phone in front of a faded Firefox logo with a light blue background)') }}
{# L10n: Description of a banner for use in alt attribute for accessibility. #}
{{ _('Download Firefox (For Android. A mobile phone displaying a large Firefox logo on its screen, over a light blue background)') }}
{# L10n: Description of a banner for use in alt attribute for accessibility. #}
{{ _('Download Firefox (For Android. Firefox logo floating over a mobile phone resting on an orange background)') }}


{# 404 Page #}
{{ _('Whoops!') }}
{{ _('What are you doing here?') }}
{{ _('Did you make a left at that last URL instead of a right? No problem. Here are some tips to get you back on your way:') }}
{{ _('If you typed in the address, check your spelling. Could just be a typo.') }}
{{ _('If you followed a link, it\'s probably broken. Please contact us and we\'ll fix it.') }}
{% trans link='#' %}
If you're not sure what you're looking for, start at <a href="{{ link }}">mozilla.org</a>.
{% endtrans %}


{# Create Banner Page #}
{{ _('Current banners') }}
{{ _('Create a new banner') }}
{# L10n: Banner styles are images that will be used as the background of a banner that the user creates. #}
{{ _('First, choose one of the banner styles below.') }}
{# L10n: Used above a box showing what a banner will look like once it is created. #}
{{ _('Your banner preview') }}
{{ _('Next, tell the world why you love Firefox in 90 characters or less.') }}
{# L10n: &hellip; is an ellipses, the three dots like "I love Firefox because ..." #}
{{ _('I love Firefox because &hellip;') }}
{# L10n: Label for a checkbox that gives us permission to use the user's banner in a paid Facebook ad. #}
{{ _('Feature me in a paid Facebook ad.') }}
{# L10n: Used on a link that, when hovered over with the mouse, pops up a text bubble with an explanation of a form field. #}
{{ _('What does this mean?') }}
{% trans link='mailto:affiliates@mozilla.org', click_count=50 %}
If you get {{ click_count }} clicks or more, we would like to have permission to turn your banner into a paid ad on Facebook in your region. By checking this box you are granting us permission to use your banner in a paid Facebook ad, including your profile photo if you checked the box to include it in the banner, and the text you added to the banner. For a full description of the rights you are granting and more information, see the FAQs. Don't want to be featured in an ad? Make sure you don't opt in. If you opted in and don't want to be featured anymore, send us a note at <a href="{{ link }}">affiliates@mozilla.org</a> and we'll make sure your ad is removed.
{% endtrans %}
{{ _('Save') }}
{{ _('Save and Share') }}
{{ _('Please correct the errors in the form below.') }}
{{ _('Sorry. Your message is too long. Please tell the world why you love Firefox in 90 characters or less.') }}
{{ _('Use my profile image') }}


{# FAQS #}
{# L10n: Title of a category of questions in the help page #}
{{ _('Using Affiliate banners') }}

{{ _('What is Firefox Affiliates?') }}
{{ _('Firefox Affiliates allows you to build banners and place them on your Facebook profile to encourage visitors to download Firefox. When a visitor to your page or status update clicks on a banner and visits the Firefox download page, you get credit for that click. Affiliates who get a lot of clicks through their profile will be featured on our leaderboard and be elegible for fun stuff like Firefox T-shirts and, if you opt in, we may feature your banner in a paid-ad on the Facebook ad network. While we do send out prizes and gifts to our Affiliates from time to time, Firefox Affiliates does not offer monetary rewards for hosting Firefox banners.') }}

{{ _('How do I add a banner to my Facebook profile?') }}
{% trans link='#' %}
Select a banner design that you like using the <a href="{{ link }}">banner builder</a>, add a personal message about why you love Firefox and then click "share." This will post the banner to your Facebook timeline and into your friends' newsfeed. When you get activity on your banner, you'll get an update on your timeline.
{% endtrans %}

{{ _('How do I invite a friend to use Firefox?') }}
{{ _('If you\'d like to personally invite someone to use Firefox, just select "Share ad with friends" from the side menu and you will be able to send a Facebook message with a custom Firefox download link. If your friend clicks on the link, you\'ll also get credit for the click.') }}

{{ _('Can my banner become a paid Facebook ad?') }}
{% trans link='mailto:affiliates@mozilla.org', click_count=50 %}
Once you've reached {{ click_count }} clicks on a Facebook banner, your banner will become eligable to be a paid Facebook ad. This means that Mozilla will pay to have an ad placed on the Facebook ad network sharting your message of why you love Firefox. We will notify you if your banner is chosen to be a paid ad in your region. If you do not want to participate in this, don't click the opt-in when you build your banner. If you've opted in by accident, please contact us at <a href="{{ link }}">affiliates@mozilla.org</a> and we'll make sure you aren't included in the ad selection.
{% endtrans %}

{{ _('How do I remove the application?') }}
{% trans link='mailto:affiliates@mozilla.org' %}
To remove the application, access your applications in the Facebook settings menu. Delete the application from your list of authorized apps and we'll delete your Affiliates profile on Facebook and the information associated with it. Note: Deleting the application on Facebook will not delete your affiliates.mozilla.org profile if you had one prior to installing the application. To delete that profile, please contact us at <a href="{{ link }}">affiliates@mozilla.org</a>.
{% endtrans %}

{{ _('How do I connect to my Firefox Affiliates account on affiliates.mozilla.org?') }}
{% trans link='https://affiliates.mozilla.org' %}
To connect your affiliates.mozilla.org account to this application, please use the connection wizard on the My Banners page. We'll send you an email to confirm that we've connected the accounts. If you'd like to sign up for an account, just visit <a href="{{ link }}">affiliates.mozilla.org</a>.
{% endtrans %}

{# L10n: Title of a category of questions in the help page #}
{{ _('Leaderboard and User Statistics') }}

{{ _('How often does the leaderboard get updated?') }}
{{ _('The leaderboard updates every day at midnight Pacific Time, so be sure to check in to see where you stand.') }}

{{ _('Is there a prize for getting the most Firefox clicks?') }}
{{ _('From time to time we\'ll run contests to see who can get the most clicks for different Firefox products and campaigns. The winners get Firefox T-shirts, hoodies and other awesome things we have at Mozilla HQ.') }}

{{ _('I think my click statistics are wrong. Is there any way to fix them?') }}
{% trans link='mailto:affiliates@mozilla.org' %}
Let us know. Send us a note at <a href="{{ link }}">affiliates@mozilla.org</a> and tell us what the problem is.
{% endtrans %}


{# First Run #}
{{ _('Welcome to Firefox Affiliates.') }}
{{ _('Your one stop shop for telling the world about the only browser that puts you first: Firefox! Start now by building a banner to post on your Facebook profile. Get a ton of clicks and we may feature you in a Firefox ad (with your permission of course) or send you some great Firefox gear.') }}
{{ _('Let\'s go!') }}


{# Leaderboard #}
{{ _('Affiliates with the most clicks') }}
{# L10n: Used in a dropdown that lets users filter the Leaderboard by country. Refers to the default filter, which shows all countries. #}
{{ _('All') }}
{# L10n: Column heading in the leaderboard #}
{{ _('Rank') }}
{# L10n: Column heading in the leaderboard}
{{ _('User') }}
{# L10n: Column heading in the leaderboard}
{{ _('Total clicks') }}
{# L10n: Refers to the user's rank on the leaderboard #}
{{ _('Your current standing') }}


{# View Banners #}
{{ _('These are the banners you\'ve created so far:') }}
{# L10n: Heading referring to when a banner was created. #}
{{ _('Creation date') }}
{# L10n: Heading above the number of clicks a banner has received. #}
{{ _('Clicks') }}
{# L10n: Heading above the rank that a banner has achieved in relation to other banners #}
{{ _('Position') }}
{# L10n: Link that, when clicked, shows a dialog for posting a banner to a user's Facebook feed. #}
{{ _('Post to Feed') }}
{{ _('Delete') }}
{# L10n: Confirmation message for deleting a banner #}
{{ _('Are you sure?') }}
{% trans count=5 %}
Click Goal: <span>{{ count }}</span>
{% endtrans %}
{{ _('You have successfully posted a banner to your wall !') }}
{{ _('You have successfully sent a message to one of your friends!') }}

{# Facebook Descriptions #}
{{ _('Firefox Affiliates allows you to build banners and place them on your Facebook profile to encourage visitors to download Firefox. When a visitor to your page or status update clicks on a banner and visits the Firefox download page, you get credit for that click. Affiliates who get a lot of clicks through their profile will be featured on our leaderboard and be elegible for fun stuff like Firefox T-shirts. While we do send out prizes and gifts to our Affiliates from time to time, Firefox Affiliates does not offer monetary rewards for hosting Firefox banners.') }}
{{ _('Mozilla Firefox') }}
{{ _('Different by design. It\'s fast, flexible and secure. Share Firefox with your friends today.') }}

{# Account Linking #}
{# L10n: Account linking lets a user associate an Affiliates account with their Facebook app account. Description is in another string. :D #}
{{ _('Link your Firefox Affiliates account') }}
{% trans link='https://affiliates.mozilla.org' %}
Do you already have an account from affiliates.mozilla.org? You can link your account to this application and you'll get credit for any clicks that you drive through Facebook. To connect your account, just click here and fill in your infomation. We'll send you an email to confirm. If you'd like to sign up for an account, just visit <a href="{{ link }}">affiliates.mozilla.org</a>.
{% endtrans %}
{{ _('Enter e-mail') }}
{% trans link='https://affiliates.mozilla.org' %}
Linked to <a href="{{ link }}">affiliates.mozilla.org</a>
{% endtrans %}
{{ _('This account is linked to affiliates.mozilla.org. You are credited for clicks from Facebook. You can unlink accounts by clicking below.') }}
{# L10n: Text on a button that lets a user unlink their Facebook and Affiliates accounts. #}
{% trans email_address='email@address.com' %}
Remove {{ email_address }}
{% endtrans %}
{{ _('Thanks for linking your affiliates.mozilla.org account.') }}
{{ _('If the email address you entered has an account, you will receive a confirmation email.') }}

{# Link Confirmation Email #}
{# L10n: Text used in email sent by application. #}
{{ _('Hi there!') }}
{# L10n: Text used in email sent by application. #}
{{ _('Thank you for linking your Firefox Affiliates account with the Affiliates Facebook application. Please click on the link below and you\'ll get credit for any clicks that you drive through Facebook on the main Affiliates leaderboard.') }}
{# L10n: Text used in email sent by application. #}
{{ _('If you didn\'t request to link your account, just ignore this e-mail and your account will not be linked.') }}
{# L10n: Text used in email sent by application. #}
{{ _('Thanks!') }}
{# L10n: Text used in email sent by application. #}
{{ _('The Firefox Affiliates Team') }}

{# Newsletter Signup #}
{{ _('Get Firefox News') }}
{{ _('Your email address') }}
{# L10n: Used in a choice field where users can choose between receiving HTML-based or Text-only newsletter emails. #}
{{ _('Text') }}
{% trans link='privacy_policy' %}
I agree to the <a href="{{ link }}">Privacy Policy</a>
{% endtrans %}
{{ _('We will only send you Mozilla-related information.') }}
{{ _('Sign me up!') }}
{# L10n: Label used for the newsletter signup button. #}
{{ _('Submit') }}

{# Statistics Summary #}
{{ _('Your Statistics Summary') }}
{{ _('You can filter results by selecting a specific month using the calendar above.') }}
{{ _('Total clicks') }}

{# Sidebar Module #}
{{ _('Be a part of the Firefox movement') }}
{{ _('It\'s easy!') }}
{{ _('Create your custom banner.') }}
{{ _('Share you banner with friends.') }}
{{ _('Get clicks and you could be featured in a paid Facebook ad.') }}