{# Banner Alt Tags #}
{# L10n: Description of a banner for use in alt attribute for accessibility. #}
{{ _('Download Firefox (Large Firefox logo rising in front of an orange background)') }}
{# L10n: Description of a banner for use in alt attribute for accessibility. #}
{{ _('Download Firefox (Small Firefox logo on a light blue background)') }}
{# L10n: Description of a banner for use in alt attribute for accessibility. #}
{{ _('Download Firefox (Large Firefox logo resting on a light blue background)') }}
{# L10n: Description of a banner for use in alt attribute for accessibility. #}
{{ _('Download Firefox (For Android. A mobile phone in front of a faded Firefox logo with a light blue background)') }}
{# L10n: Description of a banner for use in alt attribute for accessibility. #}
{{ _('Download Firefox (For Android. A mobile phone displaying a large Firefox logo on its screen, over a light blue background)') }}
{# L10n: Description of a banner for use in alt attribute for accessibility. #}
{{ _('Download Firefox (For Android. Firefox logo floating over a mobile phone resting on an orange background)') }}


{# Facebook Descriptions #}
{{ _('Firefox Affiliates allows you to build banners and place them on your Facebook profile to encourage visitors to download Firefox. When a visitor to your page or status update clicks on a banner and visits the Firefox download page, you get credit for that click. Affiliates who get a lot of clicks through their profile will be featured on our leaderboard and be elegible for fun stuff like Firefox T-shirts. While we do send out prizes and gifts to our Affiliates from time to time, Firefox Affiliates does not offer monetary rewards for hosting Firefox banners.') }}
{{ _('Mozilla Firefox') }}
{{ _('Different by design. It\'s fast, flexible and secure. Share Firefox with your friends today.') }}


{# Affiliates Main Site Ad #}
{{ _('Firefox Affiliates on Facebook') }}
{{ _('Firefox Affiliates is now on Facebook. Install the Firefox Affiliates Facebook app, link your account and you can earn clicks towards your Affiliates total.') }}
{{ _('Click here to connect your Affiliates account with Facebook.') }}
