{% extends "base.html" %}
{% block site_css %}
  {{ super() }}
  {{ css('user_profile') }}
{% endblock %}
{# TODO: Figure out a better way to split this page into macros. #}
{# TODO: Handle form errors properly. #}
{# TODO: Implement proper username suggestion. #}
{% block content %}
  <div id="user-profile-forms" class="highlight-box">
    <div class="header">
      <h2>{{ _('Please complete your user profile') }}</h2>
    </div>
    <div class="user_info">
      <ul class="user_data">
        <li class="first-child">
          <span>{{ _('Full Name') }}</span>
          <label>{{ profile.name }}</label>
        </li>
        <li>
          <span>{{ _('Email') }}</span>
          <label>{{ profile.email }}</label>
        </li>
      </ul>
    </div>
    {% include 'users/include/activation_form.html' %}
  </div>
{% endblock %}
