{% extends 'dashboard.html' %}
{% import 'badges/include/macros.html' as macros %}

{% set content_section = 'first-section' %}

{% block dashboard_content %}
{% call macros.badge_wizard(0) %}
  <form method="get" action="{{ url('badges.new.step2') }}">
    {% for category in categories %}
      <p class="title">
        {{ _('Category:') }} <span>{{ _(category.name) }}</span>
      </p>
      <div class="divider-notch"></div>
      <ul>
        {% for subcategory in category.subcategory_set.all() %}
          {{ macros.wizard_li(subcategory, 'subcategory', subcategory.pk) }}
        {% endfor %}
      </ul>
    {% endfor %}
    {{ macros.wizard_footer(
      next_button_label=_('Continue to Step 2 &raquo;')
    ) }}
  </form>
{% endcall %}
{% endblock %}