{% extends 'dashboard.html' %}
{% import 'badges/include/macros.html' as macros %}

{% set content_section = 'first-section' %}

{% block dashboard_content %}
{% call macros.badge_wizard(2) %}
  <p class="head">
    {# L10n: subcategory_name is the name of a group of banners, e.g. Firefox for Mobile. #}
    {%- trans subcategory_name=subcategory.name -%}
      Finally, choose the size and color of your <span>{{ subcategory_name }}</span>
      banner, then you can copy its code onto your website or blog.
    {%- endtrans -%}
  </p>
  <div class="divider-notch">
  </div>
  <div id="banner-user">
    <div class="banner-img">
      {% block preview %}{% endblock %}
    </div>
    <div class="banner-info">
      <div class="options">
        {% block custom_parameters %}{% endblock %}
        <div class="clear"></div>
      </div>
      <div class="code">
        {# L10n: Directions as in instructions. #}
        <h3>{{ _('Directions') }}</h3>
        <p>
          {% trans %}
            Copy the code below and paste it anywhere on your website or blog to link
            to the Firefox download page. Your Firefox Affiliates ID is embedded in
            this code.
          {% endtrans %}
        </p>
        <textarea id="badge_code"></textarea>
        <button class="back">
          {{ _('Copy Code to Clipboard &raquo;') }}
        </button>
      </div>
    </div>
    <div class="clear">
    </div>
  </div>
  {{ macros.wizard_footer(
      back_href=url('badges.new.step2')|urlparams(subcategory=subcategory.pk)
  ) }}
{% endcall %}
{% endblock %}