{% extends "shared/home/base.html" %}

{% block site_js %}
  {{ super() }}

  <script src="https://browserid.org/include.js"></script>
  {{ js('browserid') }}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('persona-buttons') }}
{% endblock %}

{% block highlight_box %}
<div id="home-registration-forms"
     class="highlight-box"
     data-browserid-verify="{{ browserid_verify }}"
     data-csrf="{{ csrf_token }}"
     data-browserid-no-assertion="{{ browserid_no_assertion }}"
     data-browserid-verify-fail="{{ browserid_verify_fail|f(url='https://browserid.org') }}">
  {% if register_form.errors %}
    {% include 'browserid/include/register_form.html' %}
  {% else %}
    <div id="browserid-login">
      <h3>
        {{ _('Sign in with Persona') }}
      </h3>
      <div class="persona-button-container">
        <a class="persona-button" href="#"><span>{{ _('Sign in') }}</span></a>
      </div>
    </div>
    <div id="browserid-registration">
      {% include 'browserid/include/register_form.html' %}
    </div>
  {% endif %}
</div>
{% endblock %}
