{# Place for Strings we'll eventually need translated that haven't been used yet. #}

{{ _('EDIT PROFILE') }}
{{ _('Username not available') }}
{{ _('Password must be 8 characters or longer and include at least one Latin letter and one number.') }}
{{ _('Zip or Postal Code') }}

{{ _('Forgot password on Firefox Affiliates!') }}
{{ _('Edit your profile') }}
{{ _('Please enter your e-mail and we\'ll reset your password:') }}
{{ _('Your email address') }}
{{ _('Send &raquo;') }}
{{ _('Please click on the link provided in the e-mail to access your Affiliates account.') }}
{{ _('What\'s this?') }}
{{ _('SIZE') }}
{# L10n: size is something like '320x240', resulting in the string: '320x240 pixels' #}
{{ _('{{ size }} pixels') }}

{{ _('Save my changes &raquo;') }}
{{ _('Cancel &raquo;') }}

{{ _('Blue') }}
{{ _('Green') }}
{{ _('Red') }}
{{ _('Orange') }}
{{ _('Yellow') }}
{{ _('White') }}
{{ _('Black') }}

{{ _('Password Reset') }}
{{_("We've sent an email to any account using this email address. Please follow the link in the email to reset your password.") }}

{{ _('Firefox Affiliates Password Reset') }}

{% trans %}
A request was received to reset the password for this account on
Firefox Affiliates. To change this password please click on the following link,
or paste it into your browser's location bar:
{% endtrans %}

{{ _('If you did not request this email there is no need for further action.') }}

{{ _('New password') }}
{{ _('Confirm password') }}
{{ _('Reset password &raquo;') }}

{{ _('Password reset successful!') }}

{% trans href="homepage" %}
You have successfully changed your password. <a href="{{ href }}">Return to the home page and log in using your new password</a>.
{% endtrans %}

{{ _('Passwords do not match.') }}
{{ _('Field is too long.') }}
{{ _('This field is required.') }}
