# Exclude nearly everything from /media
/*
!.gitignore

# Keep static banners around for legacy upgrade banner support.
!static_banners

# In order to keep around the upgrade banners but ignore everything else,
# we get creative. Git won't include files whose parent is ignore, so we
# use ! to include the parent, but then /* to ignore everything in the
# directory, except for things we explicitly want.
!uploads
uploads/*
!uploads/banners
uploads/banners/*

# Only keep around these six upgrade banners in order to make sure they don't
# accidentally get lost.
!uploads/banners/1fe924573d36f18d1430311ecc892977ad0bd6a1.png
!uploads/banners/ab1148a01251db077970056468c9b19c5f9e01f7.png
!uploads/banners/15413d5031733cefed719c624c30c6a20d337505.png
!uploads/banners/cd817e1604c5319499c2a226e13487d74efd713d.png
!uploads/banners/a4de4d7b527b5b13eba9c9616d6f7d07db22ae2f.png
!uploads/banners/7cefdb2af229483dc68798e404457f563930a31c.png
