{{ _('Welcome to Firefox Affiliates.') }}

{% trans %}
Before you can use your new account you must activate it --
this ensures the email address you used is valid and belongs
to you. To activate your account, click the link below or
copy and paste the whole thing into your browser's location bar:
{% endtrans %}

https://{{ domain  }}{{ activate_url }}

{% trans %}
Once you've successfully activated your account, you can throw
away this email.
{% endtrans %}

{# L10n: Appears at the end of emails. #}
{{ _('Thanks!') }}

{# L10n: Appears at the end of emails. #}
{{ _('The Firefox Affiliates team') }}
