{% extends 'base/base.html' %}

{% from 'banners/generator/macros.html' import progress %}

{% block body_id %}generator{% endblock %}
{% block body_class %}banner{% endblock %}

{% block page_css %}
  {{ css('make-banner') }}
{% endblock %}

{% set title = _('Choose a Banner') %}

{% block content %}
<main role="main">
  <section class="section page-head">
    <div class="contain">
      {{ progress(2, category) }}

      <h1 class="page-title">{{ _('Choose a Banner') }}</h1>

      <ul class="banners-list">
      {% for banner in banners %}
        <li class="banner">
          {# TODO: Add the 'smart banner' flag here if it's a smart banner. #}
          <a href="{{ banner.get_customize_url() }}">
            {# TODO: This should be the correct banner preview image, with the blank as fallback. If it's a text banner, this should be the text preview. #}
            <img class="preview" src="{{ static('img/banner-blank.png') }}" alt="">
            <h3 class="name">{{ banner.name }}</h3>
          </a>
        </li>
      {% endfor %}
      </ul>

    </div>
  </section>
</main>
{% endblock %}
