{% extends 'base/base.html' %}

{% from 'banners/generator/macros.html' import progress, smart_banner_help %}

{% block body_id %}generator{% endblock %}
{% block body_class %}banner{% endblock %}

{% block page_css %}
  {{ css('make-banner') }}
{% endblock %}

{% set title = _('Choose a Banner') %}

{% block content %}
<main role="main">
  <section class="section page-head">
    <div class="contain">
      {{ progress(2, category) }}

      <h1 class="page-title">{{ _('Choose a Banner') }}</h1>

      <ul class="banners-list">
      {% for banner in banners %}
        {{ banner.preview_html(banner.get_customize_url()) }}
      {% endfor %}
      </ul>

    </div>
  </section>

  {{ smart_banner_help() }}
</main>
{% endblock %}
