{% extends 'base/base.html' %}

{% from 'banners/generator/macros.html' import progress %}

{% block body_id %}generator{% endblock %}
{% block body_class %}category{% endblock %}

{% block page_css %}
  {{ css('make-banner') }}
{% endblock %}

{% set title = _('Choose a Category') %}

{% block content %}
<main role="main">
  <section class="section page-head">
    <div class="contain">
      {{ progress(1) }}

      <h1 class="page-title">{{ _('Choose a Category') }}</h1>

      <ul class="categories-list">
      {% for category in categories %}
        <li class="category">
          <a href="{{ url('banners.generator.banners', category.pk) }}">
            <b class="parent">{{ _(category.parent.name) }}</b>
            <strong class="name">{{ _(category.name) }}</strong>
          </a>
        </li>
      {% endfor %}
      </ul>

    </div>
  </section>
</main>
{% endblock %}
