{% extends 'users/include/profile_form.html' %}

{% block action %}{{ url('users.activate', activation_key=activation_key) }}{% endblock %}

{% block topfields %}
  <p class="required_label">
    {# L10n: Tells the user that required fields have a * next to them. #}
    {{ _('<span>*</span> Required') }}
  </p>
  <div class="section">
    <div class="fields">
      {# L10n: The span and star are left in in case your language would put the required
      star on the left side. #}
      {% call macros.fields_title(_('USERNAME <span class="required_star">*</span>')) %}
      {% trans %}
      Your username is your online identity, so use somenthing
      you are comfortable with everyone seeing. Take into
      account that you won't be able to change your username
      in the future.
      {% endtrans %}
      {% endcall %}
      {{ form.username }}
      {{ form.username.errors }}
    </div>
    {% if username_suggestions is defined %}
    <div class="fields suggestions">
      {# L10n: Refers to suggested usernames if the user's desired username is taken. #}
      <h4>{{ _('SUGGESTIONS') }}</h4>
      <ul>
        <li>
          <label>
            <input type="radio" name="suggestion_group" value="" />suggestion 1
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="suggestion_group" value="" />suggestion 2
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="suggestion_group" value="" />suggestion 3
          </label>
        </li>
      </ul>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block buttons %}
  <button type="submit" class="save_changes">
    {# L10n: Used in context of saving changes to a profile. #}
    {{ _('Save &raquo;') }}
  </button>
{% endblock %}
