{% import 'users/include/macros.html' as macros %}

<form action="{{ url('users.edit.profile') }}" method="post" id="profile-form">
  {{ csrf() }}
  {{ form.non_field_errors() }}
  <div class="section">
    <div class="fields">
      <label for="id_{{ form.display_name.html_name }}">{{ _('DISPLAY NAME') }}</label>
      {{ form.display_name }}
      {{ form.display_name.errors }}
    </div>
  </div>
  <div class="section">
    <div class="fields">
      <label for="id_{{ form.password.html_name }}">{{ _('NEW PASSWORD') }}</label>
      {{ form.password }}
      {{ form.password.errors }}
    </div>
    <div class="fields">
      <label for="id_{{ form.password2.html_name }}">{{ _('RETYPE PASSWORD') }}</label>
      {{ form.password2 }}
    </div>
    <p class="grey_label">
      {% trans %}
        8 or more characters, include Latin letters and
        numbers. Note: No one else can see your password.
      {% endtrans %}
    </p>
  </div>
  <div class="section">
    <div>
      {% call macros.fields_title(_('ADDRESS'), 'address-help') %}
        {% trans %}
          Why should I provide my mailing address?
          <br/><br/>
          From time to time, we may send you Mozilla T-shirts or
          other cool stuff in the mail. If you'd like to get stuff
          from us, please share your mailing address, but it's not
          mandatory to be part of the Firefox Affiliates program.
        {% endtrans %}
      {% endcall %}
    </div>
    <div class="fields_long">
      <label for="id_{{ form.name.html_name }}" class="accessibly-hidden">{{ _('Full Name') }}</label>
      {{ form.name }}
      {{ form.name.errors }}
    </div>
  <div class="field-group">
    <div class="fields">
      <label for="id_{{ form.address_1.html_name }}" class="accessibly-hidden">{{ _('Street') }}</label>
      {{ form.address_1 }}
      {{ form.address_1.errors }}
    </div>
    <label for="id_{{ form.address_2.html_name }}" class="accessibly-hidden">{{ _('Apartment or Unit # (optional)') }}</label>
    {{ form.address_2 }}
    {{ form.address_2.errors }}
    <div class="fields">
      <label for="id_{{ form.city.html_name }}" class="accessibly-hidden">{{ _('City') }}</label>
      {{ form.city }}
      {{ form.city.errors }}
    </div>
    <label for="id_{{ form.state.html_name }}" class="accessibly-hidden">{{ _('State or Province') }}</label>
    {{ form.state }}
    {{ form.state.errors }}
    <div class="fields">
      <label for="id_{{ form.postal_code.html_name }}" class="accessibly-hidden">{{ _('Zip or Postal Code') }}</label>
      {{ form.postal_code }}
      {{ form.postal_code.errors }}
    </div>    
    <label for="id_{{ form.country.html_name }}" class="accessibly-hidden">{{ _('Country') }}</label>    
    {{ form.country }}
    {{ form.country.errors }}
  </div>
  </div>
  <div class="section">
    <div class="fields">
      <label for="id_{{ form.locale.html_name }}">{{ _('LANGUAGE') }}</label>
      {{ form.locale }}
      {{ form.locale.errors }}
    </div>
  </div>
  <div class="section section_buttons">
    <div class="buttons">
      <button type="submit" class="save_changes">
        {# L10n: Used in context of saving changes to a profile. #}
        {{ _('Save my changes &raquo;') }}
      </button>
      <a class="button" href="{{ url('my_badges') }}">{{ _('Cancel &raquo;') }}</a>
    </div>
  </div>
</form>
