{% if login_form.errors %}
  {% for field, errors in login_form.errors.items() %}
    {% for error in errors %}
      <p class="msg_warning">{{ error }}</p>
    {% endfor %}
  {% endfor %}
{% endif %}
<form action="{{ url('users.login') }}" method="post" id="login-form">
  {{ csrf() }}
  {{ login_form.username }}
  {{ login_form.password }}
  <button type="submit">{{ _('Log in &raquo;') }}</button>
  {{ login_form.remember_me }}
  <label for="id_remember_me">{{ _('Remember me') }}</label>
  <a href="{{ url('users.send_password_reset') }}">{{ _('Forgot your password?') }}</a>
</form>
