{% if login_form.errors %}
  <p class="msg_warning">{{ _('Username or password incorrect.') }}</p>
{% endif %}
<form action="{{ url('users.login') }}" method="post" id="login-form">
  {{ csrf() }}
  <input type="text"
         name="{{ login_form.username.html_name }}"
         placeholder="{{ _('Username') }}"
         required/>
  <input type="password"
         name="{{ login_form.password.html_name }}"
         placeholder="{{ _('Password') }}"
         required/>
  <button type="submit">{{ _('Log in &raquo;') }}</button>
  <input type="checkbox"
         id="login-remember-me"
         name="{{ login_form.remember_me.html_name }}" />
  <label for="login-remember-me">{{ _('Remember me') }}</label>
  <a href="{{ url('users.send_password_reset') }}">{{ _('Forgot your password?') }}</a>
</form>
