{% block form_intro %}{% endblock %}
{% if register_form.errors %}
  {% for field, errors in register_form.errors.items() %}
    {% for error in errors %}
      <p class="msg_warning">{{ error }}</p>
    {% endfor %}
  {% endfor %}
{% endif %}
<form action="{{ url('users.register') }}" method="post" id="register-form">
  {{ csrf() }}
  <label for="id_{{ register_form.display_name.html_name }}" class="accessibly-hidden">{{ _('Your display name') }}</label>
  {{ register_form.display_name }}
  {% block extra_fields %}
    <label for="id_{{ register_form.email.html_name }}" class="accessibly-hidden">{{ _('Your email address') }}</label>
    {{ register_form.email }}
    <label for="id_{{ register_form.registration_password.html_name }}" class="accessibly-hidden">
      {{ _('Your password') }}
    </label>
    {{ register_form.registration_password }}
  {% endblock %}
  {{ register_form.agreement }}
  <label for="id_{{ register_form.agreement.html_name }}">
    {# L10n: {{ tos }} links to the terms of service, {{ privacy_policy }} links to Mozilla privacy policy. #}
    {% trans tos=url('tos'), privacy_policy='http://www.mozilla.org/legal/privacy/firefox.html' %}

    I agree to the Firefox Affiliates <a href="{{ tos }}">terms of
    service</a> and Mozilla <a href="{{ privacy_policy }}">Privacy
    Policy</a>

    {% endtrans %}
  </label>

  {# Email subscriptions are only shown for English locales. #}
  {% if LANG.startswith('en') %}
    {{ register_form.email_subscribe }}
    <label for="id_{{ register_form.email_subscribe.html_name }}">
      {{ _("I'd like to receive the Firefox Affiliate newsletter and periodic Firefox Affiliates updates via email.") }}
    </label>
  {% endif %}

  <button class="register" type="submit">{{ _('Register &raquo;') }}</button>
</form>
