{% if register_form.errors %}
  {% for field, errors in register_form.errors.items() %}
    {% for error in errors %}
      <p class="msg_warning">{{ error }}</p>
    {% endfor %}
  {% endfor %}
{% endif %}
<form action="{{ url('users.register') }}" method="post" id="register-form">
  {{ csrf() }}
  {{ register_form.display_name }}
  {{ register_form.email }}
  {{ register_form.password }}
  {{ register_form.agreement }}
  <label for="register-agreement">
    {# L10n: {{ tos }} links to the terms of service, {{ privacy_policy }} links to Mozilla privacy policy. #}
    {% trans tos=url('tos'), privacy_policy='http://www.mozilla.org/legal/privacy/firefox.html' %}

    I agree to the Firefox Affiliates <a href="{{ tos }}">terms of
    service</a> and Mozilla <a href="{{ privacy_policy }}">Privacy
    Policy</a>

    {% endtrans %}
  </label>

  {{ register_form.email_subscribe }}
  <label for="{{ register_form.email_subscribe.html_name }}">
    {{ _('I wish to receive information and notifications about Firefox and Mozilla via email.') }}
  </label>

  <button class="register" type="submit">{{ _('Register &raquo;') }}</button>
</form>
