{% extends 'base/base.html' %}

{% from 'banners/generator/macros.html' import progress %}

{% block body_id %}generator{% endblock %}
{% block body_class %}configure{% endblock %}

{% block page_css %}
  {{ css('make-banner') }}
{% endblock %}

{% set title = _('Configure Your Banner') %}

{% block site_js %}
  {{ super() }}
  {{ js('customize_image_banner') }}
{% endblock %}

{% block content %}
<main role="main">
  <section class="section page-head">
    <div class="contain">
      {{ progress(3, banner.category, banner) }}

      <h1 class="page-title">{{ _('Configure Your Banner') }}</h1>

      <form id="variation-choices" class="banner-config" method="POST" data-variations="{{ variations_json }}">
        <fieldset>
          {{ csrf() }}

          <ul class="options">
            <li class="config-option option-language">
              <label for="locale">{{ _('Language') }}</label>
              <select name="locale" data-rv-value="selectedLocale">
                {# L10n: This acts as a placeholder/label for a form selection #}
                <option selected value="">{{ _('-- select --') }}</option>
                <option data-rv-each-locale="locales" data-rv-value="locale">{ locale }</option>
              </select>
            </li>

            <li class="config-option option-size">
              <label for="size">{{ _('Size') }}</label>
              <select name="size" data-rv-disabled="selectedLocale | not" data-rv-value="selectedSize" data-rv-reset="selectedLocale">
                {# L10n: This acts as a placeholder/label for a form selection #}
                <option selected value="">{{ _('-- select --') }}</option>
                <option data-rv-each-size="sizes < selectedLocale" data-rv-value="size" data-rv-html="size"></option>
              </select>
            </li>

            <li class="config-option option-color">
              <label for="color">{{ _('Color') }}</label>
              <select name="color" data-rv-disabled="selectedSize | not" data-rv-value="selectedColor" data-rv-reset="selectedSize">
                {# L10n: This acts as a placeholder/label for a form selection #}
                <option selected value="">{{ _('-- select --') }}</option>
                <option data-rv-each-color="colors < selectedSize selectedLocale" data-rv-value="color">{ color }</option>
              </select>
            </li>
          </ul>

          {% block preview %}
            <figure class="banner-preview">
              <img class="preview" data-rv-src="previewSrc < selectedColor" src="{{ static('img/banner-blank.png') }}">
            </figure>
          {% endblock %}

          <p class="continue">
            <input type="hidden" name="{{ form.variation.html_name }}" data-rv-value="variation < selectedColor">
            <button type="submit" class="button go" data-rv-disabled="selectedColor | not" disabled>{{ _('Save') }}</button>
          </p>
        </fieldset>
      </form>

    </div>
  </section>
</main>
{% endblock %}
