{% extends 'base/base.html' %}

{% from 'banners/generator/macros.html' import progress %}

{% block page_css %}
  {{ css('make-banner') }}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js('customize_text_banner') }}
{% endblock %}

{% set title = _('Configure Your Banner') %}

{% block content %}
<main role="main">
  <section class="section page-head">
    <div class="contain">
      {{ progress(3, banner.category, banner) }}

      <h1 class="page-title">{{ _('Configure Your Banner') }}</h1>

      <form id="customize-banner-form" class="banner-config" method="POST" data-variations-text="{{ variations_text_json }}">
        <fieldset>
          {{ csrf() }}

          <p class="config-option">
            <label for="">{{ _('Language') }}</label>
            {{ form.variation }}
          </p>

          <figure class="banner-preview text">
            <p id="text-preview"></p>
          </figure>

          <p class="continue">
            <button type="submit" class="button go" disabled>{{ _('Save') }}</button>
          </p>
        </fieldset>
      </form>
    </div>
  </section>
</main>
{% endblock %}
