{% macro show_register_form(form, csrf) -%}
<form action="{{ url('users.register') }}" method="post">
  {{ csrf }}
  {{ form.non_field_errors() }}
  <fieldset>
	<ul>
	  <li>
		{{ form.name.label_tag() }}
		{{ form.name }}
        <br>
        {{ form.name.errors }}
	  </li>
	  <li>
		{{ form.email.label_tag() }}
		{{ form.email }}
        <br>
        {{ form.email.errors }}
	  </li>
	  <li>
        {{ form.password.label_tag() }}
		{{ form.password }}
        <br>
        {{ form.password.errors }}
	  </li>
	</ul>
  </fieldset>
  <div class="submit">
	<input type="submit" value="Register">
  </div>
</form>
{%- endmacro %}