{% extends 'badges/new_badge/step3.html' %}
{% block preview %}
<div id="banner_preview" data-images="{{ json_banner_images }}" data-template="{{ template }}">

</div>
{% endblock %}
{% block custom_parameters %}
  <div class="fields short">
    <h4>{{ _('Size') }}</h4>
    <select id="size" class="js_uniform" data-choices="{{ json_size_colors }}"></select>
  </div>
  <div class="fields">
    <h4>{{ _('Color') }}</h4>
    <select id="color" class="js_uniform"></select>
  </div>
{% endblock %}
{% block site_js %}
{{ super() }}
{{ js('banners') }}
{% endblock %}