{% extends 'badges/new_badge/step3.html' %}
{% import 'badges/include/macros.html' as macros %}

{% block customize %}
  <form method="post">
    {{ csrf() }}
    <div class="customize">
      {{ form.image }}
      <ul id="banner_options" class="clearfix">
        <li>
          <label for="language">{{ _('Language') }}</label>
          <select id="language" class="js_uniform"></select>
        </li>
        <li>
          <label for="size">{{ _('Size') }}</label>
          <select id="size" class="js_uniform"></select>
        </li>
        <li>
          <label for="color">{{ _('Color') }}</label>
          <select id="color" class="js_uniform"></select>
        </li>
      </ul>
      <div id="preview" data-images="{{ banner_images }}" data-alt="{{ _(banner.name) }}"></div>
    </div>
    {% call macros.wizard_footer(back_href=back_href) %}
      <button type="submit" class="save_changes">
        {{ _('Save Banner &raquo;') }}
      </button>
    {% endcall %}
  </form>
{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('banners') }}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js('banners') }}
{% endblock %}
