{% extends 'badges/new_badge/step3.html' %}

{% block preview %}
  <div id="banner_preview"
       data-affiliate-link="{{ affiliate_link }}"
       data-images="{{ banner_images }}"
       data-template="{{ template }}">
  </div>
{% endblock %}

{% block custom_parameters %}
  <ul id="banner_options" class="clearfix">
    <li>
      <label for="language">{{ _('Language') }}</label>
      <select id="language" class="js_uniform"></select>
    </li>
    <li>
      <label for="size">{{ _('Size') }}</label>
      <select id="size" class="js_uniform"></select>
    </li>
    <li>
      <label for="color">{{ _('Color') }}</label>
      <select id="color" class="js_uniform"></select>
    </li>
  </ul>
{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js('banners') }}
{% endblock %}
