Heya! A banner has just met the click goal on Facebook Affiliates!

PLEASE NOTE: Once this banner has been processed, please delete this email to
avoid storing sensitive user data in our email. :D

For reference, the click goal is at {{ FACEBOOK_CLICK_GOAL }} clicks currently.

---
         User Name: {{ banner_instance.user.full_name }}
           User ID: {{ banner_instance.user.id }}
     User's Locale: {{ banner_instance.user.locale }}
Banner Instance ID: {{ banner_instance.id }}
 Time Goal Reached: {{ now }}
---

This link _should_ work to get you into the admin interface once you've logged
in via vpn.mozilla.com and the Affiliates admin:

https://vpn.mozilla.com/admin/facebook/facebookbannerinstance/{{ banner_instance.id }}/,DanaInfo=affiliates-admin.mozilla.org,Port=81+

Alternatively, if the link above doesn't work, just enter in the Banner ID to
the search box in the admin interface and it should work like a charm.

{{ admin_email_signature() }}
