{# L10n: Text used in email sent by application. -#}
{{ _('Hi there!') }}

{# L10n: Text used in email sent by application. -#}
{{ _('Thank you for linking your Firefox Affiliates account with the Affiliates Facebook application. Please click on the link below and you\'ll get credit for any clicks that you drive through Facebook on the main Affiliates leaderboard.') }}

{{ link.activation_link }}

{# L10n: Text used in email sent by application. -#}
{{ _('If you didn\'t request to link your account, just ignore this e-mail and your account will not be linked.') }}

{# L10n: Text used in email sent by application. -#}
{{ _('Thanks!') }}
{# L10n: Text used in email sent by application. -#}
{{ _('The Firefox Affiliates team') }}