<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    <noscript><meta http-equiv="refresh" content="0; url={{ link.destination }}"></noscript>
  </head>
  <body>
    {% if settings.GA_ACCOUNT_CODE %}
      <script src="{{ 'https://ssl' if request.is_secure() else 'http://www' }}.google-analytics.com/ga.js"></script>
      <script>
          var pageTracker = _gat._createTracker('{{ settings.GA_ACCOUNT_CODE }}');
          pageTracker._setCustomVar(1, 'link_id', '{{ link.pk }}', 3);
          pageTracker._setCustomVar(2, 'link_user_id', '{{ link.user.pk }}', 3);
          pageTracker._trackPageview();
      </script>
    {% endif %}
    <script>
        window.location = '{{ link.destination }}';
    </script>
  </body>
</html>
