{% extends 'base/base.html' %}

{% from 'base/macros.html' import notices with context %}
{% from 'base/macros.html' import milestone_timeline, stats_list %}

{% block body_id %}profile{% endblock %}
{% block body_class %}profile{% endblock %}

{% block page_css %}
  {{ css('profile') }}
{% endblock %}

{% set title = profile.user.display_name %}

{% block content %}
  <main role="main">
    <section id="profile-head" class="section page-head">
      <div class="contain">
        {{ notices() }}

        <h1 class="page-title">{{ _('Name: {display_name}')|fe(display_name=profile.user.display_name) }}</h1>

        <img src="{{ gravatar(profile.user, size=125) }}" alt="" class="avatar" width="125" height="125">

      {% if profile.bio %}
        <p class="bio">{{ _('Biography: {biography_text}')|fe(biography_text=profile.bio) }}</p>
      {% endif %}

      {% if request.user == profile.user  %}
        <p class="edit">
          <a href="#edit-profile" id="edit-profile-link" class="button secondary has-modal">{{ _('Edit your profile') }}</a>
        </p>

        <div id="edit-profile">
          <form method="post">
            {{ csrf() }}
            {{ form.as_p() }}
            <p class="form-submit">
              <button type="submit" class="button go">{{ _('Save') }}</button>
            </p>
          </form>

          <p>
          {% trans gravatar='https://gravatar.com' %}
            You can update your avatar picture at <a href="{{ gravatar }}">gravatar.com</a>.
          {% endtrans %}
          </p>
        </div>
      {% endif %}

      </div>
    </section>

    <section id="stats" class="section">
      <div class="contain">

        <h2 class="section-title">{{ _('Stats') }}</h2>
        {{ stats_list(profile.user) }}

      </div>
    </section>

    <section id="milestones" class="section">
      <div class="contain">
        <h2 class="section-title">{{ _('Milestones') }}</h2>
        {{ milestone_timeline(milestones) }}
      </div>
    </section>
  </main>
{% endblock %}
