{% extends 'base.html' %}

{% block site_css %}
  {{ super() }}
  {{ css('404') }}
{% endblock %}

{% block body_id %}mozilla-404{% endblock %}

{% block main_feature %}
  <h2>
    <span>{{ _('Whoops!') }}</span>
    {{ _('What are you doing here?') }}
  </h2>
  <p>
    {% trans %}
      Did you make a left at that last URL instead of a right? No
      problem. Unless you want us to deal you in, here are some tips
      to get you back on your way:
    {% endtrans %}
  </p>
  <div id="eyes">
    <div class="eye" id="eye1"></div>
    <div class="eye" id="eye2"></div>
  </div>
{% endblock %}

{% block content %}
  <ul>
    <li>If you typed in the address, check your spelling. Could just be a typo.</li>
    <li>
      {% trans email='affiliates@mozilla.com' %}
        If you followed a link, it’s probably broken. Please
        <a href="mailto:{{ email }}">contact us</a> and we’ll fix it.
      {% endtrans %}
    </li>
    <li>
      {% trans href='http://mozilla.org' %}
        If you’re not sure what you’re looking for, start at <a href="{{ href }}">mozilla.org</a>.
      {% endtrans %}
    </li>
  </ul>
{% endblock %}
