<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}{{ _('Firefox Affiliates') }}{% endblock %}</title>
    {% block site_css %}
      {{ css('common') }}
    {% endblock %}
    {% if _('custom-css') and _('custom-css') != 'custom-css' %}
      <style type="text/css">
        {# L10n: You can use this string to put custom CSS rules to fix any design issues. Leave empty or untranslated if you do not need it. #}
          {{ _('custom-css') }}
       </style>
    {% endif %}
    <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}global/img/favicon.png"/>
  </head>
  <body id="{% block body_id %}affiliates{% endblock %}">
    <div id="wrapper">
      <div id="doc">
        <div id="nav-access">
          <a href="#nav-main">{{ _('skip to navigation') }}</a>
          <a href="#lang_form">{{ _('switch language') }}</a>
        </div>
        {% block site_header %}
          {% include "global/header.html" %}
        {% endblock %}
        {% block highlight_box %}{% endblock %}
        <div id="main-feature">
          {% block main_feature %}
            <a href="{{ url('home') }}">
              <h2>{{ _('Firefox<span>Affiliates</span>') }}</h2>
              <p>
                {{ _('Everything you need to share Firefox with the world.') }}
              </p>
            </a>
          {% endblock %}
        </div>
        {% if messages is defined %}
          {% for message in messages %}
            <div id="message">{{ message }}</div>
            <div class="clear"></div>
          {% endfor %}
        {% endif %}
        <div id="content" class="{% block content_class %}{% endblock %}">
          {% block content %}{% endblock %}
        </div>
        {% block sidebar %}
          <div id="sidebar">
            {% block sidebar_content %}{% endblock %}
          </div>
        {% endblock %}
      </div>{# /#doc #}
    </div>{# /#wrapper #}
    {% block site_footer %}
      {% include "global/footer.html" %}
    {% endblock %}
    {% block site_js %}
      {{ js('common') }}
    {% endblock %}
    {% block js %}{% endblock %}
    {% include "includes/webtrends.html" %}
  </body>
</html>
