{% extends 'base.html' %}

{% set user = request.user %}

{% block site_css %}
  {{ super() }}
  {{ css('user_profile') }}
{% endblock %}

{% block content %}
  {% include 'layout/content_nav.html' %}
  <div class="highlight-box {{ content_section }} {{ banner_section }}">
    <div class="arrow_indicator"></div>
    {% include 'layout/banners_nav.html' %}
    {% block dashboard_content %}

    {% endblock %}
  </div>
{% endblock %}

{% block sidebar_content %}
  {% include 'layout/sidebar_nav.html' %}
  {% include 'badges/include/sidebar_profile.html' %}
  {% include 'badges/include/leaderboard.html' %}
  {% if newsitem is not none %}
    {% import 'news/macros.html' as news %}
    {{ news.news_box(newsitem) }}
  {% endif %}
{% endblock %}
