{% if login_form.errors %}
  {% for field, errors in login_form.errors.items() %}
    {% for error in errors %}
      <p class="msg_warning">{{ error }}</p>
    {% endfor %}
  {% endfor %}
{% endif %}
<form action="{{ url('users.login') }}" method="post" id="login-form">
  {{ csrf() }}
  <label for="id_{{ login_form.username.html_name }}" class="accessibly-hidden">{{ _('Email address') }}</label>
  {{ login_form.username }}
  <label for="id_{{ login_form.password.html_name }}" class="accessibly-hidden">{{ _('Password') }}</label>
  {{ login_form.password }}
  <button type="submit">{{ _('Log in &raquo;') }}</button>
  {{ login_form.remember_me }}
  <label for="id_{{ login_form.remember_me.html_name }}">{{ _('Remember me') }}</label>
  <a href="{{ url('users.send_password_reset') }}">{{ _('Forgot your password?') }}</a>
</form>
