{% macro badge_wizard(step) -%}
<div class="header">
  <h2>
    {% if user_has_created_badges %}
      {{ _('Follow these easy steps to create a new banner:') }}
    {% else %}
      {{ _('Follow these easy steps to get started:') }}
    {% endif %}
  </h2>
</div>
<div id="steps-started">
  <ol class="steps-buttons">
    <li class="first {{ 0|wizard_active(step) }}">
      {% call wizard_breadcrumb(0, step, url('badges.new.step1')) %}
        <p>{{ _('PICK A CATEGORY') }}</p>
      {% endcall %}
    </li>
    <li class="second {{ 1|wizard_active(step) }}">
      {% if subcategory %}
        {% set url = url('badges.new.step2', subcategory.pk) %}
      {% else %}
        {% set url = None %}
      {% endif %}
      {% call wizard_breadcrumb(1, step, url) %}
        <p>{{ _('PICK A BANNER') }}</p>
      {% endcall %}
    </li>
    <li class="third {{ 2|wizard_active(step) }}">
      <p>{{ _('CONFIGURE &amp; POST') }}</p>
    </li>
  </ol>
  <div id="step-content">
    {{ caller() }}
  </div>
</div>
{%- endmacro %}

{% macro wizard_li(item, url) %}
  <li class="options selected">
    <a href="{{ url }}">
      <img src="{{ item.preview_img_url(LOCALE) }}" alt="{{ item.localized('name') }}">
      <div class="description">
        <p>{{ item.localized('name')|clean(tags=['span']) }}</p>
      </div>
    </a>
  </li>
{% endmacro %}

{% macro wizard_breadcrumb(current, step, url) -%}
  {% if current < step and url %}
    <a href="{{ url }}">
  {% endif %}
  {% if caller %}
    {{ caller() }}
  {% endif %}
  {% if current < step and url %}
    </a>
  {% endif %}  
{%- endmacro %}

{% macro wizard_footer(back_href) %}
  <div id="footer-content" class="buttons">
    {% if back_href is defined %}
      <a class="back" href="{{ back_href }}">{{ _('&laquo; Back') }}</a>
    {% endif %}
    {% if caller %}
      {{ caller() }}
    {% endif %}
  </div>
{% endmacro %}

{% macro dashboard_section(name, instances) %}
  <div class="banner_section">
    <h4>{{ name }}</h4>
    <ul>
      {% for instance in instances %}
        <li id="banner_{{ instance.pk }}" class="banner_cols">
          <div class="col_1">{{ loop.index }}</div>
          <div class="col_2">{{ instance.preview }}</div>
          <div class="col_3">
            <ul class="banner_info">
              <li>
                <h5>{{ _('CREATION DATE:') }}</h5>
                <p>{{ instance.created|babel_date('medium') }}</p>
              </li>
              <li>
                <h5>{{ _('DOWNLOADS:') }}</h5>
                <p>{{ instance.clicks }}</p>
              </li>
              <li>
                <h5>{{ _('LINKED URL:') }}</h5>
                <p><a href="{{ instance.badge.href }}">{{ instance.badge.href }}</a></p>
              </li>
              {% include instance.details_template() ignore missing %}
              <li>
                <h5>{{ _('EMBED CODE:') }}</h5>
                <p><textarea class="embed-code" readonly="readonly">{{ instance.code }}</textarea></p>
              </li>
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro divider() -%}
  <div class="divider-medium">
    &nbsp;
  </div>
{%- endmacro %}
