{% macro badge_wizard(step) -%}
<div class="header">
  <h2>
    {% if user_has_created_badges %}
      {{ _('Follow these easy steps to create a new banner:') }}
    {% else %}
      {{ _('Follow these easy steps to get started:') }}
    {% endif %}
  </h2>
</div>
<div id="steps-started">
  <ul class="steps-buttons">
    <li class="first {{ 0|wizard_active(step) }}">
      {{ _('<span>1</span>PICK A CATEGORY') }}
    </li>
    <li class="second {{ 1|wizard_active(step) }}">
      {{ _('<span>2</span>PICK A BANNER') }}
    </li>
    <li class="third {{ 2|wizard_active(step) }}">
      {{ _('<span>3</span>CONFIGURE &amp; POST') }}
    </li>
  </ul>
  <div id="step-content">
    {{ caller() }}
  </div>
</div>
{%- endmacro %}

{% macro wizard_li(item, url) %}
  <li class="options selected">
    <a href="{{ url }}">
      <img src="{{ item.preview_img.url }}" alt="{{ item.localized('name') }}">
      <div class="description">
        <p>{{ item.localized('name')|bleach(tags=['span']) }}</p>
      </div>
    </a>
  </li>
{% endmacro %}

{% macro wizard_footer(back_href) %}
  <div id="footer-content" class="buttons">
    {% if back_href is defined %}
      <a class="back" href="{{ back_href }}">{{ _('&laquo; Back') }}</a>
    {% endif %}
  </div>
{% endmacro %}

{% macro dashboard_section(name, instances) %}
  <div class="banner_section">
    <h4>{{ name }}</h4>
    <ul>
      {% for instance in instances %}
        <li class="banner_cols">
          <div class="col_1">{{ loop.index }}</div>
          <div class="col_2">{{ instance.render()|safe }}</div>
          <div class="col_3">
            <ul class="banner_info">
              <li>
                <h5>{{ _('CREATION DATE:') }}</h5>
                <p>{{ instance.created|babel_date('short') }}</p>
              </li>
              <li>
                <h5>{{ _('DOWNLOADS:') }}</h5>
                <p>{{ instance.downloads }}</p>
              </li>
              <li>
                <h5>{{ _('LINKED URL:') }}</h5>
                <p><a href="{{ instance.badge.href }}">{{ instance.badge.href }}</a></p>
              </li>
              {% include instance.details_template() ignore missing %}
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro divider() -%}
  <div class="divider-medium">
    &nbsp;
  </div>
{%- endmacro %}
