{% import 'badges/include/macros.html' as macros %}

<div class="highlight-box degraded-box">
  <div id="user-info">
    {{ gravatar_img(user, size=50) }}
    <span>{{ display_name(user) }}</span>
  </div>
  {% if user_has_created_badges %}
    <div class="statistics-summary">
      <h3>{{ _('Your Statistics Summary') }}</h3>
      {% include 'badges/include/month_year_picker.html' %}
      <div class="instructions">
        {{ _('You can filter results by selecting a specific month using the calendar above.') }}
      </div>
    </div>
    <div class="total-downloads-section">
      <h4>{{ _('DOWNLOADS') }}</h4>
      {{ macros.divider() }}
      <ul>
        <li>
          {{ _('You') }}
          <span id="your-downloads" class="download-count"></span>
        </li>
        <li>
          {{ _('Affiliates average') }}
          <span id="average-downloads" class="download-count"></span>
        </li>
      </ul>
      {{ macros.divider() }}
      <ul>
        <li>
          {{ _('Your total') }}
          <span class="download-count">{{ user_clicks_total }}</span>
        </li>
      </ul>
      <div class="statistics-warning msg_warning">{{ _('Statistics are currently unavailable.') }}</div>
      <div class="clearfix">
      </div>
    </div>
  {% else %}
    {{ macros.divider() }}
    <h5>{{ _('Start Spreading the Word!') }}</h5>
    <p class="banners_counter">
      {{ _('You have <span>0</span> banners posted.') }}
    </p>
  {% endif %}
</div>
