{% extends "shared/home/base.html" %}

{% block site_js %}
  {{ super() }}

  <script src="https://login.persona.org/include.js"></script>
  {{ js('browserid') }}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('persona-buttons') }}
{% endblock %}

{% block highlight_box %}
<div id="home-registration-forms"
     data-browserid-verify="{{ browserid_verify }}"
     data-csrf="{{ csrf_token }}"
     data-browserid-no-assertion="{{ browserid_no_assertion }}"
     data-browserid-verify-fail="{{ browserid_verify_fail|f(url='https://browserid.org') }}">
  <div class="highlight-box">
    {% if register_form.errors %}
      {% include 'browserid/include/register_form.html' %}
    {% else %}
      <div id="browserid-login">
        <h3>
          {{ _('Sign in with Persona') }}
        </h3>
        <div class="persona-button-container">
          <a class="persona-button" href="#">
            <span>{{ _('Sign in') }}</span>
            <i class="spinner small white"></i>
          </a>
        </div>
        <p class="msg_warning"></p>
      </div>
      <div id="browserid-registration">
        {% include 'browserid/include/register_form.html' %}
      </div>
    {% endif %}
  </div>

  <div class="highlight-box">
    <h3>{{ _('Help us share Firefox with the world.') }}</h3>
    <a class="button share twitter"
       target="_blank"
       href="http://twitter.com/share?url={{ share_url }}&text={{ tweet_text }}&via=firefox">
      {{ _('Share on Twitter &raquo;') }}
    </a>
    <a class="button share facebook"
       target="_blank"
       href="http://www.facebook.com/share.php?u={{ share_url }}">
      {{ _('Share on Facebook &raquo;') }}
    </a>
  </div>
</div>
{% endblock %}

{% block social %}{% endblock %}
