{% extends 'admin/base_site.html' %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui/jquery-ui-1.8.18.custom.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/admin_stats.css" />
{% endblock %}

{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="{{ MEDIA_URL }}js/libs/jquery.flot.js"></script>
<script src="{{ MEDIA_URL }}js/admin_stats.js"></script>
{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url admin:index %}">{% trans 'Home' %}</a> &rsaquo; {{ title }}
  </div>
{% endblock %}

{% block content %}
  <div id="stats-container" class="{% if has_filters %}filtered{% endif %}">
    {% if has_filters %}
      <div class="stats-filters">
        <h2>{% trans 'Filter' %}</h2>
        {% for spec in filter_specs %}
          {{ spec.output }}
          {% endfor %}
      </div>
    {% endif %}

    <h1>{{ title }}</h1>

    <form class="stats-form">
      <ul>
        {% for f in form %}
          <li>
            {{ f.label_tag }}
            {{ f }}
          </li>
        {% endfor %}
        <li>
          <button type="submit">{% trans 'Search' %}</button>
        </li>
      </ul>
    </form>

    {% if results %}
      <div id="graph" data-results="{{ results_json }}"></div>

      <table class="stats-table">
        <thead>
          <tr>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'Value' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for date, value in results reversed %}
            <tr class="{% cycle 'row1' 'row2' %}">
              <td>{{ date }}</td>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td>{% trans 'Entire Period' %}</td>
            <td>{{ aggregate }}</td>
          </tr>
        </tfoot>
      </table>
    {% else %}
      <p>{% trans 'There were errors with your input in the search form.' %}</p>
      {{ form.errors }}
      {% endif %}
  </div>
{% endblock %}
