<ul id="content-nav">
  <li {{ 'first-section'|class_selected(content_section) }}>
    <a href="{{ url('my_badges') }}">
      {% if user.has_created_badges() %}
        {{ _('MY BANNERS') }}
      {% else %}
        {{ _('GET STARTED') }}
      {% endif %}
    </a>
  </li>
  <li {{ 'second-section'|class_selected(content_section) }}>
    <a href="{{ url('faq') }}">
      {{ _('FAQ') }}
    </a>
  </li>
  <li {{ 'third-section'|class_selected(content_section) }}>
    <a href="{{ url('about') }}">
      {{ _('ABOUT AFFILIATES') }}
    </a>
  </li>
</ul>
