{% extends 'admin/index.html' %}
{% load i18n %}

{% block sidebar %}
  {{ block.super }}
  <br class="clear" />

  <h1>{% trans 'Site statistics' %}</h1>
  {% for app_label, stats in app_stats.items %}
    <div class="module">
      <table>
        <caption>{{ app_label|capfirst }}</caption>
        {% for stat in stats %}
          <tr>
            <th scope="row"><a href="{{ stat.admin_url }}">{{ stat.name }}</a></th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endfor %}
{% endblock %}
