<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}" class="{{ LANG }} {{ DIR }}" data-ga-code="{{ settings.GA_ACCOUNT_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="imagetoolbar" content="no">
    <![endif]-->

    <title>{% if title|default(None) %}{{ title }} | {% endif %}{{ _('Firefox Affiliates') }}</title>

    {# OpenGraph Metadata #}
    <meta property="og:title" content="{% block og_title %}{{ _('Firefox Affiliates') }}{% endblock %}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{{ absolutify(static('img/affiliates-shield-300.jpg')) }}{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri() }}{% endblock %}">
    <meta property="og:site_name" content="{{ _('Firefox Affiliates') }}">
    <meta property="og:description" content="{{ meta_description }}">

    <link rel="shortcut icon" href="{{ static('img/favicon.ico') }}">

    <!--[if lt IE 9]>
      <script type="text/javascript" src="{{ static('js/libs/html5shiv.js') }}"></script>
      {{ css('oldIE') }}
    <![endif]-->

    <!--[if !lt IE 9]><!-->
    {% block site_css %}
      {{ css('base') }}
    {% endblock %}

    {% block page_css %}{% endblock %}
    <!--<![endif]-->

    <link rel="stylesheet" type="text/css" href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css">

    {% block google_analytics %}
      {{ js('google_analytics') }}
    {% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}" class="no-js {% block body_class %}{% endblock %}">
    <div id="strings"
        data-close="{{ _('Close') }}"
        data-input-required="{{ _('This field is required.') }}"
        data-subscribe-thanks="{{ _('Thanks for subscribing!') }}"
        data-subscribe-error="{{ _('Sorry, there was an error. Please refresh and try again.') }}"
        {% block string_data %}{% endblock %}>
    </div>
    {{ browserid_info() }}

    <div id="outer-wrapper">
      <header id="masthead" role="banner">
        <div class="contain">
          <a href="//www.mozilla.org/" id="tabzilla">{{ _('Mozilla') }}</a>

        {% block site_logo %}
          <h2 class="site-logo">
            <a href="{{ url('base.home') }}">
              <img src="{{ static('img/affiliates-logo-light.png') }}" alt="{{ _('Firefox Affiliates') }}">
            </a>
          </h2>
        {% endblock %}

          <nav id="nav-main" role="navigation">
            <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">{{_('Menu')}}</span>
            <ul id="nav-main-menu" class="menu">
              <li><a href="{{ url('base.about') }}">{{ _('About') }}</a></li>
              <li><a href="{{ url('links.leaderboard') }}">{{ _('Leaderboard') }}</a></li>
              {% if user %}
                {% if user.is_authenticated() %}
                  <li class="user">
                    <a href="{{ user.userprofile.get_absolute_url() }}" aria-owns="nav-user-submenu" aria-haspopup="true">
                      <img src="{{ gravatar(user, size=20) }}" alt="" class="avatar" width="20" height="20">
                      {{ user.display_name }}
                    </a>
                    <ul aria-expanded="false" id="nav-user-submenu" class="submenu">
                      <li><a href="{{ url('base.dashboard') }}">{{ _('Dashboard') }}</a></li>
                      <li><a href="{{ user.userprofile.get_absolute_url() }}">{{ _('Profile') }}</a></li>
                      <li>{{ browserid_logout() }}</li>
                    </ul>
                  </li>
                {% else %}
                  <li class="signin">{{ browserid_login() }}</li>
                {% endif %}
              {% endif %}
            </ul>
          </nav>
        </div>
      </header>

      {% block content %}{% endblock %}

      {% block newsletter %}
        {# Email subscriptions are only shown for English locales. #}
        {% if LANG.startswith('en') %}
          <section id="newsletter" class="section">
            <div class="contain">

              <form id="newsletter-form" method="POST" action="{{ url('base.newsletter_subscribe') }}">
                {{ csrf() }}
                <h3 class="col">{{ _('Get Firefox Affiliates News') }}</h3>
                <ol>
                  <li class="col">
                    {{ newsletter_form.email.label_tag(_('Your email address')) }}
                    {{ newsletter_form.email }}

                    <ul class="form-extra">
                      <li>
                        {{ newsletter_form.country.label_tag(_('Country')) }}
                        {{ newsletter_form.country }}
                      </li>
                      <li>
                        <fieldset class="inline">
                          <legend>{{ _('Format') }}</legend>
                          <ul>
                            <li>
                              <label for="newsletter-format-text" class="check">
                                <input type="radio" name="{{ newsletter_form.format.html_name }}" id="newsletter-format-text" value="text">
                                {{ _('Text') }}
                              </label>
                            </li>
                            <li>
                              <label for="newsletter-format-html" class="check">
                                <input type="radio" name="{{ newsletter_form.format.html_name }}" id="newsletter-format-html" value="html" checked>
                                {{ _('HTML') }}
                              </label>
                            </li>
                          </ul>
                        </fieldset>
                      </li>
                      <li>
                        <label for="newsletter-privacy" class="check form-privacy">
                          <input type="checkbox" name="{{ newsletter_form.privacy_policy_agree.html_name }}" id="newsletter-privacy" required aria-required="true">
                          <span class="title">
                            {{ _('I’m okay with Mozilla handling my info as explained in <a href="%s">this Privacy Policy</a>')|format('https://www.mozilla.org/privacy/') }}
                          </span>
                        </label>
                      </li>
                    </ul>
                  </li>

                  <li class="col form-submit">
                    <button type="submit" class="button secondary">{{ _('Sign me up!') }}</button>
                  </li>
                </ol>

                <div class="notice" id="newsletter-message">
                  <p></p>
                </div>

              </form>

            </div>
          </section>
        {% endif %}
      {% endblock %}

      {% block site_footer %}
        <footer id="footer" role="contentinfo">
          <div class="contain">

            <div class="footer-logo">
            <a href="//www.mozilla.org/"><img src="{{ static('img/footer-mozilla.png') }}" alt="{{ _('Mozilla') }}"></a>
            </div>

            <div class="footer-license">
                <p>
                  {% trans license='license', thisyear=thisyear() %}
                  Portions of this content are ©1998–{{ thisyear }} by individual
                  mozilla.org contributors. Content available under
                  a <a href="{{ license }}">Creative Commons license</a>.
                  {% endtrans %}
                </p>
                <p>
                  <a href="https://github.com/mozilla/affiliates">{{ _('Source code') }}</a>
                </p>
            </div>

            <ul class="footer-nav">
              <li><a href="https://www.mozilla.org/contact/spaces/">{{_('Contact Us')}}</a></li>
              <li><a href="https://www.mozilla.org/about/partnerships/">{{_('Partner with Us')}}</a></li>
              <li><a href="https://sendto.mozilla.org/">{{ _('Donate') }}</a></li>
              <li><a href="https://www.mozilla.org/privacy/">{{_('Privacy Policy')}}</a></li>
              <li><a href="https://www.mozilla.org/about/legal.html">{{_('Legal Notices')}}</a></li>
              <li><a href="https://www.mozilla.org/legal/fraud-report/">{{_('Report Trademark Abuse')}}</a></li>
            </ul>

            <ul class="footer-nav">
              <li><a href="https://twitter.com/mozilla">{{_('Mozilla on Twitter')}}</a></li>
              <li><a href="https://twitter.com/firefox">{{_('Firefox on Twitter')}}</a></li>
              <li><a href="https://www.facebook.com/mozilla">{{_('Mozilla on Facebook')}}</a></li>
              <li><a href="https://www.facebook.com/Firefox">{{_('Firefox on Facebook')}}</a></li>
            </ul>

          </div>
        </footer>
      {% endblock %}

    </div>{# end outer-wrap #}

    {% block site_js %}
      <script src="//login.persona.org/include.js"></script>
      <!--[if !lte IE 7]><!-->
        {{ js('base') }}
      <!--<![endif]-->
    {% endblock %}

    <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
    {% if settings.DEV %}
      <script src="https://pontoon.mozillalabs.com/static/js/pontoon.js"></script>
    {% endif %}
  </body>
</html>
