<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}" class="{{ LANG }} {{ DIR }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="imagetoolbar" content="no">
    <![endif]-->

    <title>{% if title|default(None) %}{{ title }} | {% endif %}{{ _('Firefox Affiliates') }}</title>

    {# OpenGraph Metadata #}
    <meta property="og:title" content="{% block og_title %}{{ _('Firefox Affiliates') }}{% endblock %}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{{ absolutify(static('img/firefox-256.jpg')) }}{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri() }}{% endblock %}">
    <meta property="og:site_name" content="{{ _('Firefox Affiliates') }}">
    <meta property="og:description" content="{{ meta_description }}">

    <link rel="shortcut icon" href="{{ static('img/favicon.ico') }}">

    <!--[if lt IE 9]>
      <script type="text/javascript" src="{{ static('js/libs/html5shiv.js') }}"></script>
      {{ css('oldIE') }}
    <![endif]-->

    <!--[if !lt IE 9]><!-->
    {% block site_css %}
      {{ css('base') }}
    {% endblock %}

    {% block page_css %}{% endblock %}
    <!--<![endif]-->

    <link rel="stylesheet" type="text/css" href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css">
  </head>
  <body id="{% block body_id %}{% endblock %}" class="no-js {% block body_class %}{% endblock %}">
    <div id="strings"
        data-close="{{ _('Close') }}"
        data-input-required="{{ _('This field is required.') }}"
        {% block string_data %}{% endblock %}>
    </div>

    <div id="outer-wrapper">
      <header id="masthead" role="banner">
        <div class="contain">
          <a href="//www.mozilla.org/" id="tabzilla">{{ _('Mozilla') }}</a>

        {% block site_logo %}
          <h2 class="site-logo">
            <a href="{{ url('base.home') }}">
              <img src="{{ static('img/affiliates-logo-light.png') }}" alt="{{ _('Firefox Affiliates') }}">
            </a>
          </h2>
        {% endblock %}

          {# TODO: Turn nav into a hamburger at mobile sizes. #}
          <nav id="nav-main" role="navigation">
            <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">{{_('Menu')}}</span>
            <ul id="nav-main-menu" class="menu">
              <li><a href="/about">{{ _('About') }}</a></li>
              <li><a href="{{ url('base.leaderboard') }}">{{ _('Leaderboard') }}</a></li>
              {% if user %}
                {% if user.is_authenticated() %}
                  {# TODO: Show display name and gravatar. #}
                  <li class="user">
                    <a href="/profile" aria-owns="nav-user-submenu" aria-haspopup="true">Display Name</a>
                    <ul aria-expanded="false" id="nav-user-submenu" class="submenu">
                      <li><a href="{{ url('base.dashboard') }}">{{ _('Dashboard') }}</a></li>
                      <li><a href="/profile">{{ _('Profile') }}</a></li>
                      <li>{{ browserid_logout() }}</li>
                    </ul>
                  </li>
                {% else %}
                  <li class="signin">{{ browserid_login() }}</li>
                {% endif %}
              {% endif %}
            </ul>
          </nav>
        </div>
      </header>

      {% block content %}{% endblock %}

      {% block site_footer %}
        <footer id="footer" role="contentinfo">
          <div class="contain">

            <div class="footer-logo">
            <a href="//www.mozilla.org/"><img src="{{ static('img/footer-mozilla.png') }}" alt="{{ _('Mozilla') }}"></a>
            </div>

            <div class="footer-license">
                <p>
                  {% trans license='license' %}
                  Portions of this content are ©1998–{{ current_year }} by individual
                  mozilla.org contributors. Content available under
                  a <a href="{{ license }}">Creative Commons license</a>.
                  {% endtrans %}
                </p>
                <p>
                  <a href="https://github.com/mozilla/affiliates">{{ _('Source code') }}</a>
                </p>
            </div>

            <ul class="footer-nav">
              <li><a href="/contact">{{_('Contact Us')}}</a></li>
              <li><a href="/partner">{{_('Partner with Us')}}</a></li>
              <li><a href="/donate">{{ _('Donate') }}</a></li>
              <li><a href="/privacy">{{_('Privacy Policy')}}</a></li>
              <li><a href="/about/legal">{{_('Legal Notices')}}</a></li>
              <li><a href="/legal/fraud-report">{{_('Report Trademark Abuse')}}</a></li>
            </ul>

            <ul class="footer-nav">
              <li><a href="https://twitter.com/mozilla">{{_('Mozilla on Twitter')}}</a></li>
              <li><a href="https://twitter.com/firefox">{{_('Firefox on Twitter')}}</a></li>
              <li><a href="https://www.facebook.com/mozilla">{{_('Mozilla on Facebook')}}</a></li>
              <li><a href="https://www.facebook.com/Firefox">{{_('Firefox on Facebook')}}</a></li>
            </ul>

          </div>
        </footer>
      {% endblock %}

    </div>{# end outer-wrap #}

    {% block site_js %}
      <script src="//login.persona.org/include.js"></script>
      <!--[if !lte IE 7]><!-->
        {{ js('base') }}
      <!--<![endif]-->
    {% endblock %}

    <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>

  </body>
</html>
