{% extends 'base/base.html' %}

{% from 'base/macros.html' import notices with context %}

{% block body_id %}dashboard{% endblock %}
{% block body_class %}dashboard{% endblock %}

{% block page_css %}
  {{ css('dashboard') }}
{% endblock %}

{% set title = _('Dashboard') %}

{% block content %}
  <main role="main">
    <section class="section page-head">
      <div class="contain">
        {{ notices() }}

        <h1 class="page-title">{{ _('Dashboard') }}</h1>
        <p class="tagline">{{ _('See how your banners are performing and where you rank among other Firefox Affiliates. Thanks for supporting Firefox and the Mozilla mission to build a better Web for all!') }}</p>

        <div class="mystats">
          <h2>{{ _('My stats') }}</h2>
          <ul class="stats">
            <li class="downloads"><strong>1,037</strong> {{ _('downloads') }}</li>
            <li class="banners"><strong>7</strong> {{ _('banners') }}</li>
            <li class="clicks"><strong>3,543</strong> {{ _('clicks') }}</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="mybanners" class="section">
      <div class="contain">
        <header>
          <h2 class="section-title">{{ _('My Banners') }}</h2>
          <p class="create"><a class="button go" href="{{ url('banners.generator.categories') }}">{{ _('Create a new banner') }}</a></p>
        </header>

        <ul class="banners-list">
          {% for link in links %}
            <li class="banner {{ link.banner_type }}">
              {% if link.banner_type == 'smart_banner' %}
                {# TODO: Make the help thingie open a modal with an explanation #}
                <em class="flag">Smart <a class="help" href="#" title="{{ _('What are smart banners?') }}">{{ _('What are smart banners?') }}</a></em>
              {% endif %}
              <a href="{{ link.get_absolute_url() }}">
                <img class="preview" src="{{ static('img/banner-blank.png') }}" alt="">
                <ul class="desc">
                  <li>125 × 125</li>
                  <li>Created <time datetime="{{ link.created.isoformat() }}">{{ link.created|babel_date }}</time></li>
                  <li>{{ link.link_clicks|babel_number }} clicks</li>
                </ul>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section id="mymilestones" class="section">
      <div class="contain">
        <h2 class="section-title">{{ _('My Milestones') }}</h2>
        <ol class="timeline">
          {% for date, message in milestones %}
            <li class="milestone">
              <h3>
                {% if date %}
                  <time datetime="{{ date.isoformat() }}">{{ date|babel_date }}</time>
                {% else %}
                  {{ _('Someday soon!') }}
                {% endif %}
              </h3>
              <p>{{ message }}</p>
            </li>
          {% endfor %}
        </ol>
      </div>
    </section>

    {% if newsitem %}
      <section id="news" class="section hfeed">
        <div class="contain">
          <h2 class="section-title">{{ _('Affiliates News') }}</h2>

          {{ newsitem.render(LOCALE) }}

          <aside class="sidebar aside">
            <h2>{{ _('Become a Mozillian') }}</h2>
            <p>
            {% trans %}
            At Mozilla, doing good is part of our code. Our mission is to promote
            openness, innovation and opportunity on the Web, and we can only do it
            with awesome people like you. If you’d like to do even more to help our
            mission, we have volunteer opportunities available in a number of areas.
            {% endtrans %}
            </p>
            <p><strong><a href="https://www.mozilla.org/contribute/" class="go">{{ _('Learn more') }}</a></strong></p>
          </aside>
        </div>
      </section>
    {% endif %}
  </main>
{% endblock %}
