{% extends 'base/base.html' %}

{% from 'base/macros.html' import notices with context %}
{% from 'base/macros.html' import milestone_timeline, stats_list %}


{% block body_id %}dashboard{% endblock %}
{% block body_class %}dashboard{% endblock %}

{% block page_css %}
  {{ css('dashboard') }}
{% endblock %}

{% set title = _('Dashboard') %}

{% block content %}
  <main role="main">
    <section class="section page-head">
      <div class="contain">
        {{ notices() }}

        <h1 class="page-title">{{ _('Dashboard') }}</h1>
        <p class="tagline">{{ _('See how your banners are performing and where you rank among other Firefox Affiliates. Thanks for supporting Firefox and the Mozilla mission to build a better Web for all!') }}</p>

        <div class="mystats">
          <h2>{{ _('My stats') }}</h2>
          {{ stats_list(request.user) }}
        </div>
      </div>
    </section>

    {% if links %}
      <section id="mybanners" class="section">
        <div class="contain">
          <header>
            <h2 class="section-title">{{ _('My Banners') }}</h2>
          </header>
            <ul class="banners-list">
              {% for link in links %}
                {{ link.preview_html(link.get_absolute_url()) }}
              {% endfor %}
            </ul>
        </div>
      </section>
    {% endif %}

    <section id="mymilestones" class="section">
      <div class="contain">
        <h2 class="section-title">{{ _('My Milestones') }}</h2>
        {{ milestone_timeline(milestones) }}
      </div>
    </section>

    {% if newsitem %}
      <section id="news" class="section hfeed">
        <div class="contain">
          <h2 class="section-title">{{ _('Affiliates News') }}</h2>

          {{ newsitem.render(LOCALE) }}

          <aside class="sidebar aside">
            <h2>{{ _('Become a Mozillian') }}</h2>
            <p>
            {% trans %}
            At Mozilla, doing good is part of our code. Our mission is to promote
            openness, innovation and opportunity on the Web, and we can only do it
            with awesome people like you. If you’d like to do even more to help our
            mission, we have volunteer opportunities available in a number of areas.
            {% endtrans %}
            </p>
            <p><strong><a href="https://www.mozilla.org/contribute/" class="go">{{ _('Learn more') }}</a></strong></p>
          </aside>
        </div>
      </section>
    {% endif %}

    <div id="smartbanners">
      <h3>{{ _('What are smart banners?') }}</h3>
      <p>
        {% trans %}
        Smart Banners show visitors slightly different messages depending
        on their browser. For example, visitors on an older version of
        Firefox would be encouraged to upgrade, while visitors on Internet
        Explorer would be encouraged to switch.
        {% endtrans %}
      </p>
    </div>

  </main>
{% endblock %}
