{% extends 'base/base.html' %}

{% block body_id %}dashboard{% endblock %}
{% block body_class %}dashboard{% endblock %}

{% block page_css %}
  {{ css('dashboard') }}
{% endblock %}

{% set title = _('Dashboard') %}

{% block content %}
  <main role="main">
    <section class="section page-head">
      <div class="contain">

        <aside class="notice">
          <p>Woot! You’ve driven 12,000 downloads since your last visit! You’re awesome!</p>
        </aside>

        <h1 class="page-title">{{ _('Dashboard') }}</h1>
        <p class="tagline">{{ _('See how your banners are performing and where you rank among other Firefox Affiliates. Thanks for supporting Firefox and the Mozilla mission to build a better Web for all!') }}</p>

        <div class="mystats">
          <h2>{{ _('My stats') }}</h2>
          <ul class="stats">
            <li class="downloads"><strong>1,037</strong> {{ _('downloads') }}</li>
            <li class="banners"><strong>7</strong> {{ _('banners') }}</li>
            <li class="clicks"><strong>3,543</strong> {{ _('clicks') }}</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="mybanners" class="section">
      <div class="contain">
        <header>
          <h2 class="section-title">{{ _('My Banners') }}</h2>
          <p class="create"><a class="button go" href="{{ url('banners.generator.categories') }}">{{ _('Create a new banner') }}</a></p>
        </header>

        <ul class="banners-list">
          <li class="banner">
            <a href="/banner-detail">
              <img class="preview" src="{{ static('img/banner-blank.png') }}" alt="">
              <h3 class="name">Banner Name</h3>
              <ul class="desc">
                <li>125 × 125</li>
                <li>Created <time datetime="2014-03-28">28 March, 2014</time></li>
                <li>3,245,159 clicks</li>
              </ul>
            </a>
          </li>

          <li class="banner">
            <a href="/banner-detail">
              <img class="preview" src="{{ static('img/banner-blank.png') }}" alt="">
              <h3 class="name">This Banner Name Is Much Longer And Wraps Like This</h3>
              <ul class="desc">
                <li>300 × 250</li>
                <li>Created <time datetime="2014-03-27">27 March, 2014</time></li>
                <li>1,140,987 clicks</li>
              </ul>
            </a>
          </li>

          <li class="banner smart">
            <a href="/banner-detail">
              <em class="flag">Smart Banner</em>
              <img class="preview" src="{{ static('img/banner-blank.png') }}" alt="">
              <h3 class="name">Smart Banner</h3>
              <ul class="desc">
                <li>300 × 250</li>
                <li>Created <time datetime="2014-03-26">26 March, 2014</time></li>
                <li>931,018 clicks</li>
              </ul>
            </a>
          </li>

          <li class="banner text">
            <a href="/banner-detail">
              <div class="preview">Bacon ipsum dolor sit amet short loin rump turkey pork ribeye filet mignon capicola ham hock rump chuck jerky flank shankle t-bone.</div>
              <h3 class="name">Text Banner</h3>
              <ul class="desc">
                <li>Text banner</li>
                <li>Created <time datetime="2014-03-26">26 March, 2014</time></li>
                <li>66,402 clicks</li>
              </ul>
            </a>
          </li>

          <li class="banner smart">
            <a href="/banner-detail">
              <em class="flag">{{ _('Smart banner') }}</em>
              <img class="preview" src="{{ static('img/banner-blank.png') }}" alt="">
              <h3 class="name">Smart Banner</h3>
              <ul class="desc">
                <li>300 × 250</li>
                <li>Created <time datetime="2014-03-26">26 March, 2014</time></li>
                <li>45,054 clicks</li>
              </ul>
            </a>
          </li>

          <li class="banner text">
            <a href="/banner-detail">
              <div class="preview">Bacon ipsum dolor sit amet short loin rump turkey pork ribeye filet mignon capicola ham hock rump chuck jerky flank shankle t-bone.</div>
              <h3 class="name">A Different Text Banner</h3>
              <ul class="desc">
                <li>Text banner</li>
                <li>Created <time datetime="2014-03-26">26 March, 2014</time></li>
                <li>16,341 clicks</li>
              </ul>
            </a>
          </li>

          <li class="banner">
            <a href="/banner-detail">
              <img class="preview" src="{{ static('img/banner-blank.png') }}" alt="">
              <h3 class="name">Banner Name</h3>
              <ul class="desc">
                <li>125 × 125</li>
                <li>Created <time datetime="2014-03-28">28 March, 2014</time></li>
                <li>144 clicks</li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section id="mymilestones" class="section">
      <div class="contain">
        <h2 class="section-title">{{ _('My Milestones') }}</h2>
        <ol class="timeline">
          {% for date, message in milestones %}
            <li class="milestone">
              <h3>
                {% if date %}
                  <time datetime="{{ date.isoformat() }}">{{ date|babel_date }}</time>
                {% else %}
                  Someday soon!
                {% endif %}
              </h3>
              <p>{{ message }}</p>
            </li>
          {% endfor %}
        </ol>
      </div>
    </section>

    {% if newsitem %}
      <section id="news" class="section hfeed">
        <div class="contain">
          <h2 class="section-title">{{ _('Affiliates News') }}</h2>
          {{ newsitem.render(LOCALE) }}
          <aside class="sidebar aside">
            <h2>Become a Mozillian</h2>
            <p>Meatloaf bresaola kevin, doner shankle swine fatback andouille pig ham hock bacon
              ground round kielbasa. Andouille shoulder ribeye tongue bacon flank. Beef porchetta
              turkey boudin pork pig meatloaf short ribs kevin kielbasa. Swine cow meatloaf,
              landjaeger drumstick pork prosciutto.</p>
            <p><strong><a href="/more" class="go">Learn more</a></strong></p>
          </aside>
        </div>
      </section>
    {% endif %}
  </main>
{% endblock %}
