{% extends 'base/base.html' %}

{% from 'base/macros.html' import notices with context %}

{% block body_id %}home{% endblock %}
{% block body_class %}home{% endblock %}

{% block page_css %}
  {{ css('home') }}
{% endblock %}

{% block site_logo %}
  <h2 class="site-logo">
    <img src="{{ static('img/affiliates-logo-light.png') }}" alt="{{ _('Firefox Affiliates') }}">
  </h2>
{% endblock %}

{% block content %}
  <main role="main">
    <section id="intro" class="section page-head">
      <div class="contain">
        <noscript>
          <div class="notice">
            <p>{{ _('This site requires JavaScript.') }}</p>
          </div>
        </noscript>

        {{ notices() }}

        <h1>{{ _('Become a Firefox Affiliate today!') }}</h1>
        <p class="tagline">{{ _('Get everything you need to share Firefox – and the other Mozilla products you love – with the world. Climb the leaderboard to help us build a better Web.') }}</p>
        <p>{{ browserid_login(link_class='button go browserid-login', text=_('Get started')) }}</a></p>
      </div>
    </section>

    <section id="howitworks" class="section">
      <div class="contain">
        <h2 class="section-title">{{ _('How it works') }}</h2>
        <ol class="steps">
          <li class="step-1">
            <h3>{{ _('1. Pick a banner') }}</h3>
            <p>{{ _('Choose from a number of designs that support Firefox and other Mozilla products.') }}</p>
          </li>
          <li class="step-2">
            <h3>{{ _('2. Customize') }}</h3>
            <p>{{ _('Select the size and color that suits your site. Banners and links are also available in over 30 languages.') }}</p>
          </li>
          <li class="step-3">
            <h3>{{ _('3. Post to your site') }}</h3>
            <p>{{ _('Copy and paste the HTML or text link into your site, email or wherever you’d like to share it.') }}</p>
          </li>
        </ol>
      </div>
    </section>

    <section id="rewards" class="section">
      <div class="contain">
        <h2 class="section-title">{{ _('Earn rewards!') }}</h2>
        <p>{{ _('Climb the affiliates leaderboard for your chance to win awesome Firefox gear, and to get even more involved with Mozilla. The more you share, the higher you can climb.') }}</p>
      </div>
    </section>

    <section id="leaderboard" class="section">
      <div class="contain">

        <ul class="stats">
          <li>{{ _('<strong>{affiliate_count}</strong> Affiliates')|fe(affiliate_count=affiliate_count|babel_number) }}</li>
          <li>{{ _('<strong>{link_count}</strong> Banners')|fe(link_count=link_count|babel_number) }}</li>
          <li>{{ _('<strong>{click_count}</strong> Clicks')|fe(click_count=click_count|babel_number) }}</li>
        </ul>

        <h2 class="section-title">{{ _('Top affiliates') }}</h2>
        {{ leaderboard(metric='link_clicks', count=5) }}
        <p class="more"><a href="{{ url('links.leaderboard') }}" class="button go">See all</a></p>
      </div>
    </section>
  </main>
{% endblock %}
