{% extends 'base/base.html' %}

{% block body_id %}home{% endblock %}
{% block body_class %}home{% endblock %}

{% block page_css %}
  {{ css('home') }}
{% endblock %}

{% block content %}
  <main role="main">
    <section id="intro" class="section">
      <div class="contain">
        <h1>{{ _('Become a Firefox Affiliate today!') }}</h1>
        <p class="pitch">{{ _('The Firefox Affliates program is a great way to share your love of Firefox and other Mozilla products.') }}</p>
        <p><a href="/signin" class="button go">{{ _('Get started') }}</a></p>
      </div>
    </section>

    <section id="howitworks" class="section">
      <div class="contain">
        <h2 class="section-title">{{ _('How it works') }}</h2>
        <ol class="steps">
          <li class="step-1">
            <h3>1. Pick a banner</h3>
            <p>Bacon ipsum dolor sit amet flank elit shank sed occaecat swine.</p>
          </li>
          <li class="step-2">
            <h3>2. Customize</h3>
            <p>Leberkas nulla meatball turkey shankle enim nisi occaecat. Esse ham laborum swine, chuck jowl ribeye shank.</p>
          </li>
          <li class="step-3">
            <h3>3. Post to your site</h3>
            <p>Pork belly eu ut, shoulder velit mollit cillum nisi bacon turkey swine esse cupidatat consectetur tenderloin.</p>
          </li>
        </ol>
      </div>
    </section>

    <section id="rewards" class="section">
      <div class="contain">
        <h2 class="section-title">{{ _('Earn rewards!') }}</h2>
        <p>T-shirts, stickers, and bon bons. Jelly-o bear claw sweet roll bonbon lollipop. Drageé drageé applicake chupa chups.</p>
      </div>
    </section>

    <section id="leaderboard" class="section">
      <div class="contain">

        <ul class="stats">
          <li><strong>59,434</strong> Affiliates</li>
          <li><strong>53,358</strong> Banners</li>
          <li><strong>15,766,631</strong> Clicks</li>
        </ul>

        <h2 class="section-title">{{ _('Top affiliates') }}</h2>

        <table class="leaderboard">
          <thead>
            <tr>
              <th scope="col">{{ _('Rank') }}</th>
              <th scope="col">{{ _('Affiliate') }}</th>
              <th scope="col">{{ _('Number of clicks') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="rank">1</td>
              <th scope="row" class="vcard">
                <a href="/profile" class="url">
                  <img src="/static/img/avatar.png" alt="" class="avatar">
                  <strong class="fn">Muddy Waters</strong>
                </a>
                <a href="http://example.com" rel="external" class="url website">{{ _('Website') }}</a>
              </th>
              <td class="clicks">123,456</td>
            </tr>

            <tr>
              <td class="rank">2</td>
              <th scope="row" class="vcard">
                <a href="/profile" class="url">
                  <img src="/static/img/avatar.png" alt="" class="avatar">
                  <strong class="fn">B.B. King</strong>
                </a>
              </th>
              <td class="clicks">89,012</td>
            </tr>

            <tr>
              <td class="rank">3</td>
              <th scope="row" class="vcard">
                <a href="/profile" class="url">
                  <img src="/static/img/avatar.png" alt="" class="avatar">
                  <strong class="fn">Nina Simone</strong>
                  <a href="http://example.com" rel="external" class="url website">{{ _('Website') }}</a>
                </a>
              </th>
              <td class="clicks">78,901</td>
            </tr>

            <tr>
              <td class="rank">4</td>
              <th scope="row" class="vcard">
                <a href="/profile" class="url">
                  <img src="/static/img/avatar.png" alt="" class="avatar">
                  <strong class="fn">Walter Horton</strong>
                  <a href="http://example.com" rel="external" class="url website">{{ _('Website') }}</a>
                </a>
              </th>
              <td class="clicks">4,321</td>
            </tr>

            <tr>
              <td class="rank">5</td>
              <th scope="row" class="vcard">
                <a href="/profile" class="url">
                  <img src="/static/img/avatar.png" alt="" class="avatar">
                  <strong class="fn">Koko Taylor</strong>
                </a>
              </th>
              <td class="clicks">789</td>
            </tr>
          </tbody>
        </table>

        <p class="more"><a href="/leaderboard" class="button secondary go">See all</a></p>
      </div>
    </section>
  </main>
{% endblock %}
