{% extends 'base/base.html' %}

{% block body_id %}leaderboard{% endblock %}
{% block body_class %}leaderboard{% endblock %}


{% block content %}
  <main role="main">
    <div class="section page-head">
      <div class="contain">
        <h1 class="page-title">{{ _('Top affiliates') }}</h1>
      </div>
    </div>

    <div class="contain">

        <table class="leaderboard">
          <thead>
            <tr>
              <th scope="col">{{ _('Rank') }}</th>
              <th scope="col">{{ _('Affiliate') }}</th>
              <th scope="col">{{ _('Number of clicks') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="rank">1</td>
              <th scope="row" class="vcard">
                <a href="/profile" class="url">
                  <img src="/static/img/avatar.png" alt="" class="avatar">
                  <strong class="fn">Muddy Waters</strong>
                </a>
                <a href="http://example.com" rel="external" class="url website">{{ _('Website') }}</a>
              </th>
              <td class="clicks">123,456</td>
            </tr>

            <tr>
              <td class="rank">2</td>
              <th scope="row" class="vcard">
                <a href="/profile" class="url">
                  <img src="/static/img/avatar.png" alt="" class="avatar">
                  <strong class="fn">B.B. King</strong>
                </a>
              </th>
              <td class="clicks">89,012</td>
            </tr>

            <tr>
              <td class="rank">3</td>
              <th scope="row" class="vcard">
                <a href="/profile" class="url">
                  <img src="/static/img/avatar.png" alt="" class="avatar">
                  <strong class="fn">Nina Simone</strong>
                  <a href="http://example.com" rel="external" class="url website">{{ _('Website') }}</a>
                </a>
              </th>
              <td class="clicks">78,901</td>
            </tr>

            <tr>
              <td class="rank">4</td>
              <th scope="row" class="vcard">
                <a href="/profile" class="url">
                  <img src="/static/img/avatar.png" alt="" class="avatar">
                  <strong class="fn">Walter Horton</strong>
                  <a href="http://example.com" rel="external" class="url website">{{ _('Website') }}</a>
                </a>
              </th>
              <td class="clicks">4,321</td>
            </tr>

            <tr>
              <td class="rank">5</td>
              <th scope="row" class="vcard">
                <a href="/profile" class="url">
                  <img src="/static/img/avatar.png" alt="" class="avatar">
                  <strong class="fn">Koko Taylor</strong>
                </a>
              </th>
              <td class="clicks">789</td>
            </tr>

            <!-- and so on.... ->

          </tbody>
        </table>

      </div>

  </main>
{% endblock %}
