{% macro month_year_picker(src_url) -%}
<div class="month-year-picker"
     data-short-month-names="{{ mypicker_months_short.values()|jsonencode }}"
     data-long-month-names="{{ mypicker_months_long.values()|jsonencode }}"
     data-url="{{ src_url }}">
  <div class="picker-header">
    <a class="prev-month month-picker-button" href="#">&laquo;</a>
    <a class="next-month month-picker-button" href="">&raquo;</a>
    <a class="current-month-year" href="#">
      <span class="month-year"></span>
      <span class="month-icon">&nbsp;</span>
    </a>
  </div>
  <div class="month-picker">
    <div class="year-picker">
      <a class="prev-year" href="#">&laquo;</a>
      <span class="current-year"></span>
      <a class="next-year" href="#">&raquo;</a>
    </div>
    <ul>
      {% for number, month_name in mypicker_months_short.items() %}
        <li class="month-number month-{{ number }}">
          <a data-number="{{ number }}" href="#">{{ month_name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{%- endmacro %}

{% macro notices() -%}
{% for message in messages %}
  <div class="notice {{ message.tags }}">
    <p {% if 'warning' in message.tags or 'error' in message.tags %}role="alert"{% endif %}>
      {{ message }}
    </p>
  </div>
{% endfor %}
{%- endmacro %}

{% macro milestone_timeline(milestones) -%}
<ol class="timeline">
  {% for date, message in milestones %}
    <li class="milestone">
      <h3>
        {% if date %}
          <time datetime="{{ date.isoformat() }}">{{ date|babel_date }}</time>
        {% else %}
          {{ _('Someday soon!') }}
        {% endif %}
      </h3>
      <p>{{ message }}</p>
    </li>
  {% endfor %}
</ol>
{%- endmacro %}

{% macro stats_list(user) -%}
<ul class="stats">
  <li class="ranking">
    {% set rank = user.leaderboard_rank('link_clicks') %}
    {% if rank %}
      {# L10n: Ranking is the user's position on a leaderboard of users ranked by banner clicks. #}
      {% trans rank=rank|babel_number %}
        <strong>{{ rank }}</strong> ranking
      {% endtrans %}
    {% else %}
      {# L10n: Ranking is the user's position on a leaderboard of users ranked by banner clicks. #}
      <em>{{ _('Not yet ranked') }}</em>
    {% endif %}
  </li>
  <li class="banners">
    {% set count = user.link_set.count() %}
    {% trans count=count|babel_number, count_int=count %}
      <strong>{{ count }}</strong> banner
    {% pluralize count_int %}
      <strong>{{ count }}</strong> banners
    {% endtrans %}
  </li>
  <li class="clicks">
    {% trans count=user.metric_total('link_clicks') %}
      <strong>{{ count }}</strong> click
    {% pluralize %}
      <strong>{{ count }}</strong> clicks
    {% endtrans %}
  </li>
</ul>
{%- endmacro %}
