{% extends 'base/base.html' %}

{% block body_id %}terms{% endblock %}
{% block body_class %}terms text-page{% endblock %}

{% set title = _('Terms of Service') %}

{% block content %}
<main role="main">
  <article>
  <header class="section page-head">
    <div class="contain">

      <h1 class="page-title">{{ _('Terms of Service') }}</h1>
      <p class="tagline">Effective: <time datetime="2014-04-17">April 17, 2014</time></p>

    </div>
  </header>

  <div class="section">
    <div class="contain">

      <h2>Acceptance</h2>
      <p>These Terms of Service (“TOS”) govern your participation in the
        Mozilla Affiliate Program. By registering for the Affiliate Program
        (the “Affiliate Program”) you are agreeing to abide by these TOS.</p>

      <h2>What it means to Participate in the Affiliate Program</h2>
      <p>Your participation in the Affiliate Program means that you can help
        us spread the word about Firefox by providing Mozilla Referral Buttons
        on your website, blog, mobile content or email signature (each a
        “Property”). By enrolling in the Affiliate Program, you are agreeing
        that you are at least 18 years of age (or the legal age in the country
        in which you reside), and that Mozilla may serve Mozilla banner ads,
        buttons and links (“Referral Buttons”) on your Property.</p>

      <h2>Your Obligations Under These TOS</h2>
      <p>You agree that:</p>
      <ul class="prose">
      <li>you will comply with the specifications provided by Mozilla to
        enable proper delivery, display, tracking, and reporting of Referral
        Buttons in connection with your Property;</li>
      <li>you are solely responsible for your Property, including all content
        and materials, maintenance and operation of your Property, the proper
        implementation of Mozilla's specifications, the handling of queries
        from end users of your Property, and adherence to these TOS;</li>
      <li>all of the information provided by you to Mozilla to enroll in the
        Affiliate Program is correct and current;</li>
      <li>you are the owner of each Property or you are legally authorized to
        act on behalf of the owner of such Property for the purposes of these
        TOS and the Affiliate Program;</li>
      <li>you have complied and will continue to comply with all applicable
        laws, statutes, ordinances, and regulations in your performance of any
        acts hereunder and with respect to any content contained on your
        Property; and</li>
      <li>Mozilla may use your name and logo in presentations, in marketing
        materials related to the Affiliate Program, on the Mozilla Website,
        and on the Affiliate Program Website.</li>
      </ul>

      <p>You also agree that you (and/or any third party acting on your
        behalf) shall not engage in any of the following Prohibited Uses:</p>
      <ul class="prose">
      <li>directly or indirectly generate queries or impressions of or clicks
        on any Referral Buttons through any automated, deceptive, fraudulent
        or other invalid means;</li>
      <li>edit, modify, filter, truncate or change the order of the
        information contained in any Referral Buttons, or remove, obscure or
        minimize any Referral Buttons in any way that is not in compliance
        with Mozilla's then current Trademark Policy and Visual Identity
        Guidelines;</li>
      <li>frame, minimize, remove or otherwise inhibit the full and complete
        display of any Web page accessed by an end user after clicking on any
        Referral Buttons;</li>
      <li>redirect an end user away from any Referral Page; provide a version
        of the Referral Page that is different from the page an end user would
        access by going directly to the Referral Page; intersperse any content
        between the Referral Button and the Referral Page; or otherwise
        provide anything other than a direct link from the Referral Button to
        the Referral Page;</li>
      <li>display any Referral Buttons on any Property that contains any
        hate-related, violent, sexually explicit, or illegal content;</li>
      <li>display on the same page where a Referral Button is displayed any
        advertisement(s) or content that an end user of your Property would
        reasonably confuse with a Mozilla advertisement or otherwise associate
        with Mozilla;</li>
      <li>"crawl", "spider", index or in any non-transitory manner store or
        cache information obtained from any Referral Events, or any part,
        copy, or derivative thereto;</li>
      <li>disseminate malware on any Property that contains Referral Buttons;
        and/or</li>
      <li>engage in any activity or practice on your Property that reflects
        poorly on Mozilla or otherwise disparages or devalues Mozilla’s
        reputation or goodwill.</li>
      </ul>

      <p>You agree that any attempted participation or violation of any of the
        Prohibited Uses identified above is a material breach of these TOS and
        that we may pursue any and all applicable legal and equitable remedies
        against you, including an immediate suspension of your account or
        termination of these TOS, and the pursuit of all available civil or
        criminal remedies.</p>

      <h2>Mozilla’s Rights and Obligations Under These TOS</h2>
      <ul class="prose">
      <li>Mozilla agrees to manage the Affiliate Program to protect the rights
        and property of Mozilla and others and to facilitate the proper
        functioning of the Affiliate Program.</li>
      <li>Mozilla may discontinue or change the Affiliate Program at its
        discretion without liability.</li>
      <li>Mozilla does not guarantee the Affiliate Program will be operable at
        all times or during any down time (i) caused by outages to any public
        Internet backbones, networks or servers, (ii) caused by any failures
        of your equipment, systems or local access services, or (iii) for
        previously scheduled maintenance.</li>
      <li>Mozilla shall not be obligated to provide notice to you in the event
        that Referral Buttons are not being displayed properly to end users of
        your Property.</li>
      </ul>

      <h2>Termination/Cancellation</h2>
      <p>You may stop displaying Referral Buttons on any Property in the
        Affiliate Program with or without cause at any time by removing the
        Mozilla JavaScript or similar programming from your Properties.
        Mozilla may at any time, in its sole discretion, terminate all or part
        of the Affiliate Program, terminate these TOS, or suspend or terminate
        the participation of any Property in all or part of the Affiliate
        Program for any reason. If Mozilla terminates these TOS or your
        participation in the Affiliate Program, you must cease the display of
        any Referral Buttons on your Property. Upon termination of
        participation of any Property in the Affiliate Program or termination
        of these TOS, the following Sections shall survive termination:
        Proprietary Rights; Disclaimer of Warranty; Limitation of Liability;
        Your Obligation to Indemnify; and the relevant provisions in the
        Miscellaneous Section.</p>

      <h2>Information Rights</h2>
      <p>Mozilla may retain and use in connection with the Affiliate Program,
        subject to these TOS and the Mozilla Privacy Policy, all information
        you provide, including contact information. Mozilla may share with the
        public aggregate data about the participants of the Program.  Mozilla
        will only use your contact information to contact you with questions
        regarding your account or to notify you if you are selected to receive
        any Affiliate incentives.</p>

      <h2>Proprietary Rights</h2>
      <p>Mozilla does not grant you any intellectual property rights through
        the Affiliate Program that are not specifically stated in these TOS.
        Other than specifically provided in these TOS (or other license from
        Mozilla to you), you do not have the right to use any of Mozilla’s
        copyrights, trade names, trademarks, service marks, logos, domain
        names, or other distinctive brand features (“Brand Features”) unless
        you have Mozilla’s prior written consent.</p>

      <p>You acknowledge that Mozilla owns all right, title and interest,
        including without limitation all intellectual property rights, in and
        to Mozilla's Brand Features, and that you will not acquire any right,
        title, or interest in or to the Brand Features. You will not remove,
        obscure, or alter the Brand Features or other proprietary rights
        notices affixed to or contained within any Mozilla services, software,
        or documentation (including without limitation the display of
        Mozilla’s Brand Features with Referral Buttons).</p>

      <h2>Updates to These TOS</h2>
      <p>Mozilla may update these TOS from time to time, for example to
        address a new feature of the Affiliate Program or to clarify a
        provision. The updated TOS will be posted on the website. Your
        continued participation in the Affiliate Program after the effective
        date of such changes constitutes your acceptance of such changes. To
        make your review more convenient, we will post an effective date at
        the top of this page. These TOS may not be modified or cancelled
        without Mozilla’s written agreement.</p>

      <h2>Disclaimer of Warranty</h2>
      <p>The Services are provided “as is” with all faults. To the extent
        permitted by law, Mozilla, its distributors, contributors, and
        licensors hereby disclaim all warranties, whether express or implied,
        including without limitation warranties that the Affiliate Program is
        free of defects, merchantable, fit for a particular purpose, and
        non-infringing. You bear the entire risk as to selecting the Affiliate
        Program for your purposes and as to the quality and performance of the
        Affiliate Program, This limitation will apply notwithstanding the
        failure of essential purpose of any remedy. Some jurisdictions do not
        allow the exclusion or limitation of implied warranties, so this
        disclaimer may not apply to you.</p>

      <h2>Limitation of Liability</h2>
      <p>Except as required by law, Mozilla, its distributors, contributors,
        and licensors, will not be liable for any indirect, special,
        incidental, consequential, or exemplary damages arising out of or in
        any way relating to this TOS or the use of or inability to use and
        participation in the Affiliate Program, including without limitation
        damages for loss of goodwill, work stoppage, lost profits, loss of
        data, and computer failure or malfunction, even if advised of the
        possibility of such damages and regardless of the theory (contract,
        tort, or otherwise) upon which such claim is based. The collective
        liability of Mozilla, its distributors, contributors, and licensors
        under these TOS will not exceed $500 (five hundred dollars). Some
        jurisdictions do not allow the exclusion or limitation of incidental,
        consequential, or special damages, so this exclusion and limitation
        may not apply to you.</p>

      <h2>Your Obligation to Indemnify</h2>
      <p>You agree to indemnify, defend and hold Mozilla, its agents,
        affiliates, parent, subsidiaries, directors, officers, employees, and
        applicable third parties (e.g., licensors, licensees, consultants and
        contractors) (collectively "Indemnified Person(s)") harmless from and
        against any and all third party claims, liability, loss, and expense
        (including damage awards, settlement amounts, and reasonable legal
        fees), brought against any Indemnified Person(s), arising out of,
        related to or which may arise from your use of the Affiliate Program,
        the Property, and/or your breach of any term of these TOS.</p>

      <h2>Miscellaneous</h2>
      <p>These TOS constitute the entire agreement between you and Mozilla
        concerning the Affiliate Program. These TOS are governed by the laws
        of the state of California, U.S.A., excluding its conflict of law
        provisions. The United Nations Convention on Contracts for the
        International Sale of Goods is expressly disclaimed. If any portion of
        these terms is held to be invalid or unenforceable, the remaining
        portions will remain in full force and effect. In the event of a
        conflict between a translated version of these terms and the English
        language version, the English language version shall control.</p>

      <h2>Privacy</h2>
      <p>See the <a href="https://www.mozilla.org/privacy/">Mozilla Privacy Center</a>
        to learn about our policies.</p>

    </div>
  </div>
</main>
{% endblock %}
